@import '../../css/variables.scss';
@import '../../css/navbar.scss';
@import './sm-index.scss';

body {
    background-color: #f7fcfc;
}

.my-order {
    padding: 19rem/$fit 0 200rem/$fit;
    width: 1200rem/$fit;
    display: flex;

    .left-container {
        width: 210rem/$fit;
        margin-right: 20rem/$fit;
    }

    .right-container {
        max-width: 940rem/$fit;
    }

    .bread-crumb {
        display: flex;
        align-items: center;
        font-size: 14rem/$fit;
        color: #6D6D6D;
        margin-bottom: 22rem/$fit;

        .item {
            cursor: pointer;
        }

        .selected {
            cursor: default;
            color: #343E57;
        }

        .split {
            margin: 0 4rem/$fit;
        }
    }

    .order-tabs {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .tab-item {
            font-size: 16px;
            color: #343E57;
            text-align: center;
            margin-right: 41px;
            border-bottom: 3px solid transparent;
            padding-bottom: 10px;
            cursor: pointer;
        }

        .active {
            color: #00969E;
            border-bottom: 3px solid #00969E;
        }
    }

    .order-list {
        width: 940px;
        background-color: #ffffff;

        thead {
            background-color: #00969E;
            color: #ffffff;
            height: 37px;
            line-height: 37px;
            font-size: 14px;
        }

        tr {

            th,
            td {
                &:first-child {
                    text-align: center;
                }
            }
        }

        tbody {
            font-family: Helvetica;
            font-size: 12px;
            color: #343E57;

            tr {
                border-top: 4px solid #f7fcfc;
                height: 120px;
            }
        }

        .order-num {
            color: #00969E;
        }

        .order-content p {
            margin-bottom: 24px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .paied{
            color: #b27ec3;
        }

        .to-pay{
            color: #F8485E;
        }

        .cancel{
            color: #788995;
        }

        .order-operation {
            .operations {
                display: inline-flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                height: 120px;
                // width: 70px;
            }

            a {
                margin-bottom: 11px;
                color: #00969E;
                cursor: pointer;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .pay {
                padding: 3px 6px;
                background-color: #00969E;
                border-radius: 2px;
                color: #ffffff;
            }
        }

        #modify-order{
            position: relative;
        }

        .modify-order-layer{
            position: absolute;
            top: 100%;
            right: -60px;
            width: 400px;
            padding: 20px 20px 15px;
            background: #FFFFFF;
            box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.10);
            border-radius: 2px;
            .title{
                font-size: 14px;
                color: #343E57;
                margin-bottom: 10px;
            }
            .tip{
                font-size: 12px;
                color: #666666;
                margin-bottom: 22px;
            }
            .modify-row{
                display: flex;
                align-items: center;
                margin-bottom: 11px;
                input{
                    margin-right: 15px;
                }
                span{
                    font-size: 12px;
                    color: #343E57;
                }
                &:last-child{
margin-bottom: 20px;
                }
            }
            .modify-btns{
                text-align: right;
                span{
                    display: inline-block;
                    line-height: 30px;
                    border-radius: 2px;
                    width: 60px;
                    height: 30px;
                    text-align: center;
                }
                .cancel{
                     background-color: #FFFFFF;
                     border: 1px solid #E3E2E5;
                     color: #595961;
                     margin-right: 10px;
                }
                .ensure{
                    background-color: #00969E;
                    border: 1px solid #00969E;
                    color: #ffffff;
                }
            }
        }
    }

}
