@import '../../css/variables.scss';

.sm-food {
  width: 100vw;
  position: relative;
  .header {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    height: 84rem/$fit;
    width: 100vw;
    color: #ffffff;
    background-color: #00969E;
    font-size: 32rem/$fit;
    color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;

    .icon-arrowleft {
      position: absolute;
      left: 36rem/$fit;
      font-size: 1rem;
      cursor: pointer;
    }
  }

  .scroll-bar {
    z-index: 2;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 84rem/$fit;
    height: 88rem/$fit;
    width: 100vw;
    box-shadow: 0 4rem/$fit 8rem/$fit 0 rgba(0, 0, 0, 0.05);
    border-radius: 8rem/$fit 8rem/$fit 0 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    &::-webkit-scrollbar {
      display: none;
    }

    .items {
      display: flex;
      min-width: 100%;
    }

    .scroll-item {
      padding: 0 25rem/$fit;
      height: 88rem/$fit;
      line-height: 88rem/$fit;
      font-size: 28rem/$fit;
      color: #666666;
      cursor: pointer;
      font-weight: 300;
      flex: 1;
      text-align: center;
    }

    .icon-arrowdown {
      font-size: 14rem/$fit;
      margin-left: 16rem/$fit;
    }

    .active {
      color: #00969E;
      position: relative;
    }
    .active:after{
      content: "";
      position: absolute;
      width: 50rem/$fit;
      height: 4rem/$fit;
      background: #00969E;
      bottom: 0;
      left: 50%;
      margin-left: -25rem/$fit;
    }
  }

}

/* 大屏幕 */
@media (min-width: 1200px) {}

/* 平板电脑和小屏电脑之间的分辨率 */
@media (min-width: 768px) and (max-width: 979rem/$fit) {}

/* 横向放置的手机和竖向放置的平板之间的分辨率 */
@media (max-width: 767px) {
  .list{
    width: auto;
    min-height: auto;
  }
  .mediacenter_wraper{
    margin: 0;
    width: 100%;
  }
  .mediadetail{
    background: none;
    padding: 28rem/$fit 32rem/$fit;
    .title{
      display: none;
    }
    .subtitle{
      display: none;
    }
    .tablestyle{
      width: 100%;
      margin: 0;
      td,th{
        height: 60rem/$fit;
        font-size: 22rem/$fit;
        color:#999999;
      }
      th{
        font-size: 26rem/$fit;
        color:#fff;
      }
      .t-subtitle{
        font-size: 24rem/$fit;
        color: #FFFFFF;
      }
    }
  }
}
/* 横向放置的手机及分辨率更小的设备 */
@media (max-width: 480px) {}