.topbanner{
	background:url(../../images/intro.jpg) center top no-repeat;
	height:676px;
	position:relative;
}
.maintab{
	height:40px;
	background: rgba(0,0,0,0.10);
}
.crumb{
	line-height:24px;
}
.crumb a{
	font-size: 14px;
	color: #20969A;
}
.crumb a:hover{
	text-decoration:none;
}
.maintab .tabs{
	margin:0 auto;
	width:720px;
}
.maintab .tabs li{
	background:url(../../images/wlogo.png) 70px center no-repeat;
	float:left;
	font-size: 14px;
	color: #FFFFFF;
	width:240px;
	height:40px;
	line-height:40px;
	padding-left:115px;
	background-size:27px 26px;
}
.maintab .tabs li:nth-child(1){
	background-color:#21BAC2;
}
.maintab .tabs li:nth-child(2){
	background-color:#A05EB5;
}
.maintab .tabs li:nth-child(3){
	background-color:#99D6EA;
}