@import '../../css/variables.scss';

.agreebox{
  display: none;
}

.sm-main {
  min-height: 100vh;
  width: 100vw;
  font-family: Helvetica;
  padding-bottom: 120rem/$fit;

  .product{
    display: flex;
    padding: 10rem/$fit 0;
    margin: 0 32rem/$fit;
    border-bottom: 1px solid #E5E5E5;

    img{
      flex-shrink: 0;
      width: 300rem/$fit;
      height: 200rem/$fit;
    }
    .content{
      flex: 1;
      padding-left: 40rem/$fit;
    }
    .pro-title{
      font-size: 28rem/$fit;
    }
    .pro-people{
      color: #666;
      margin-top: 10rem/$fit;
      line-height: 40rem/$fit;
      font-size:24rem/$fit;
    }
    .pro-room{
      /*color: #ababab;
      padding-left: 10rem/$fit;*/
      margin-top: 20rem/$fit;
      font-size:24rem/$fit;
    }

    .price{
      font-size: 36rem/$fit;
      color: #FF5050;
      margin-top: 20rem/$fit;
    }
  }

  input {
    border: 1px solid #E5E5E5;
    border-radius: 8rem/$fit;
    height: 60rem/$fit;
    padding-left: 16rem/$fit;
    font-size: 26rem/$fit;
    color: #666666;
  }

  label {
    font-size: 26rem/$fit;
    color: #666666;
    margin-bottom: 0;
  }

  .select {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 8rem/$fit;
    height: 60rem/$fit;
    padding-left: 16rem/$fit;
    padding-right: 20rem/$fit;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 26rem/$fit;
    color: #666;
    margin-right: 20rem/$fit;
    cursor: pointer;
  }

  h3{
    font-size: 28rem/$fit;
    color: #383838;
  }

  button{
     width: 148rem/$fit;
     height: 54rem/$fit;
     font-size: 24rem/$fit;
  }

  .split {
    height: 24rem/$fit;
    background-color: #FBFBFB;
  }

  .arrow-down {
    width: 0.25rem;
    height: 0.25rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 0.025rem solid #666;
    border-width: 0 0.025rem 0.025rem 0;
    display: block;
  }

  .arrow-up {
    width: 0.25rem;
    height: 0.25rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: 0.025rem solid #666;
    border-width: 0.025rem 0 0 0.025rem;
    display: block;
  }

  .order-info {
    margin: 24rem/$fit;
    border-bottom: 1px dotted #e5e5e5;
    padding-left: 8rem/$fit;

    h3 {
      font-size: 34rem/$fit;
      color: #383838;
      line-height: 55rem/$fit;
      margin-bottom: 24rem/$fit;
    }

    p {
      font-size: 26rem/$fit;
      color: #666666;
      line-height: 1;
      margin-bottom: 24rem/$fit;
    }

    .ml32 {
      margin-left: 32rem/$fit;
    }
  }

  .product-tags {
    border-bottom: 1px solid #E5E5E5;
    padding: 0 36rem/$fit 20rem/$fit;
  }

  .step {
    padding: 0 32rem/$fit;
    margin-top: 22rem/$fit;
    display: flex;
    justify-content: space-between;

    .step-item {
      width: 188rem/$fit;
      height: 50rem/$fit;
      margin-left: 5rem/$fit;
      text-align: center;

      span {
        line-height: 50rem/$fit;
        font-size: 22rem/$fit;
      }

      .step-item-before {
        border-top-width: 25rem/$fit;
        border-bottom-width: 25rem/$fit;
        border-left-width: 12rem/$fit;
      }

      .step-item-after {
        right: -12rem/$fit;
        border-top-width: 25rem/$fit;
        border-bottom-width: 25rem/$fit;
        border-left-width: 12rem/$fit;
      }
    }
  }

  .ensure-price,
  .pay-type {
    padding: 24rem/$fit 32rem/$fit;

    h3 {
      margin-bottom: 32rem/$fit;
    }
    
  }

  .ensure-price{
    .content {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 80rem/$fit;
      }

      p {
        margin-top: 24rem/$fit;
        font-size: 22rem/$fit;
        color: #666;
        letter-spacing: 0;
        line-height: 34rem/$fit;

        .price {
          margin-left: 20rem/$fit;
          color: #FF5050;
          font-size: 34rem/$fit;

          span {
            font-size: 22rem/$fit;
          }
        }
      }
    }
  }

  .pay-type{
    .type-row{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 32rem/$fit;
      img{
        width: 302rem/$fit;
        cursor: pointer;
      }
    }
  }

  
}

.price-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 120rem/$fit;
    display: flex;
    background-color: #fff;
    border-top: 1px solid #f0f0f0;

    .left,
    .right {
        display: flex;
        flex-direction: column;
    }

    .left {
        flex: 1;
        justify-content: space-around;
        // align-items: ;
        padding: 0rem/$fit 0 0 24rem/$fit;

        .total {
            font-size: 32rem/$fit;
            color: #383838;
            text-align: center;
        }

        .price {
            font-size: 40rem/$fit;
            color: #F8485E;
        }

        .count {
            font-size: 28rem/$fit;
            color: #666;
            // margin-top: 10rem/$fit;
        }
    }

    .right {
        width: 240rem/$fit;
        flex-shrink: 0;
        background-color: #00969E;
        align-items: center;
        justify-content: center;

        .main {
            font-size: 32rem/$fit;
            color: #FFFFFF;
            letter-spacing: 0.52rem/$fit;
            font-weight: 500;
            padding-bottom: 0px;
            width: auto;
        }

        .sub {
            font-size: 28rem/$fit;
            color: #FFFFFF;
            letter-spacing: 0.52rem/$fit;
            font-weight: 300;
        }
    }
}