@import '../../css/variables.scss';

@media (max-width: 767px) {
    body {
        background-color: #ffffff !important;
        /*font-family: Helvetica;*/
    }

    .my-order{
        padding: 0 !important;
    }

    h3{
        display: none;
    }


    .my-order {
        /*margin-top: 88rem/$fit;*/
        width: 100vw;

        .notice {
            width: 100% !important;
            padding: 20rem/$fit !important;
            background-color: #F7FCFC !important;
            margin-bottom: 0rem/$fit !important;

            .title {
                font-size: 28rem/$fit;
            }

            .desc {
                font-size: 24rem/$fit;
                text-overflow: ellipsis;
                overflow: hidden;
                height: 1.8rem;
            }

            .desc-expand {
                height: auto;
            }
        }
    }

    .right-container{
        width: 100vw;
    }

    .my-order-header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #00969E;
        height: 88rem/$fit;
        color: #ffffff;
        font-size: 32rem/$fit;
        color: #F0F0F0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
    }

    .icon {
        position: absolute;
        left: 37rem/$fit;
        font-size: 40rem/$fit;
        cursor: pointer;
    }

    .order-list-wrap {
        width: 100vw;
        padding: .25rem .5rem .25rem .5rem
        // background-color: ;
    }
    
}

