@import '../../css/variables.scss';
@import '../../css/navbar.scss';
@import './sm-index.scss';

body {
    background-color: #f7fcfc;
}

.my-order {
    padding: 19rem/$fit 0 200rem/$fit;
    width: 1200rem/$fit;

    .left-container {
        width: 210rem/$fit;
        margin-right: 20rem/$fit;
        display: inline-block;
        vertical-align: top;
    }

    .right-container {
        width: 940rem/$fit;
        /*font-family: Helvetica;*/
        display: inline-block;

        .bread-crumb {
            display: inline-block;
            font-size: 14rem/$fit;
            color: #6D6D6D;
            margin-bottom: 24rem/$fit;

            .item {
                cursor: pointer;
            }

            .selected {
                cursor: default;
                color: #666;
            }

            .split {
                margin: 0 4rem/$fit;
            }
        }

        section {
            width: 100%;
            background-color: #ffffff;

            h5 {
                display: none;
            }
        }

        h3 {
            padding: 0 0 20rem/$fit 0;
            font-size: 20rem/$fit;
            color: #666;
        }
    }

    .mt0 {
        margin-bottom: 0;
    }

    .line-recommend {
        background-color: transparent;

        .product,
        .line-product {
            display: inline-block;
            // float: left;
            margin-right: 20rem/$fit;
            width: 220px;
            height: 248px;
            border: 1px solid #F0F0F0;
            position: relative;

            &:nth-child(4n) {
                margin-right: 0;
            }

            .tag {
                position: absolute;
                top: 0;
                left: 0;
                width: 64rem/$fit;
                height: 22rem/$fit;
                line-height: 22rem/$fit;
                background-color: #F8485E;
                border-radius: 0 0 0 4px;
                padding-left: 8px;
                color: #ffffff;
            }

            img {
                width: 100%;
                height: 150px;
            }

            .content {
                padding: 11px 14px 9px;
                background-color: #ffffff;
            }

            .name {
                font-size: 16px;
                color: #383838;
            }

            .desc {
                font-size: 12px;
                color: #788995;
                margin-top: 8px;
            }

            .bottom {
                margin-top: 7px;
            }

            .price {
                font-size: 16px;
                color: #F8485E;
            }

            .old {
                text-decoration-line: line-through;
                font-size: 12px;
                color: #788995;
                letter-spacing: 0;
                text-align: center;
                margin-left: 7px;
            }

            .every {
                text-decoration-line: none;
                color: #666;
            }

            .buy {
                display: inline-block;
                text-align: center;
                background-color: #00969E;
                border-radius: 3px;
                width: 66px;
                height: 26px;
                line-height: 26px;
                color: #ffffff;
                font-size: 12px;
            }
        }

        .line-product {
            .name {
                font-size: 12px;
                color: #343940;
            }

            height: auto;
            margin-bottom: 20px;
        }
    }

    .page {
        width: 100%;
        /*margin-top: 70px;*/
    }

    .page-count {
        font-size: 12px;
        color: #595961;
        letter-spacing: 0;
        line-height: 20px;
        float: left;
        display: inline-block;
    }

    .pagination {
        float: right;
        display: inline-block;
    }

    .pagination-item {
        display: inline-block;
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        border-radius: 2px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        margin-right: 10px;
        text-align: center;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
            border-top-right-radius: 2px;
            border-bottom-right-radius: 2px;
        }
    }

    .pagination-input {
        display: inline-block;
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        border-right: 0;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        width: 50px;
        height: 30px;
        line-height: 30px;
        text-align: center;

        input {
            width: 100%;
            border: 0;
            padding: 0 10px;
        }
    }

}

@media (max-width: 767px) {
    .my-order {
        display: none !important;
    }
}
