dfn{
  font-style: normal;
  font-family: Arial;
}
#selectRoom {

    h3 {
        font-size: 20px;
        color: #666;
        font-weight: 400;
        padding: 10px 0 10px 20px;
    }

    .tip {
        font-size: 14px;
        color: #626262;
        letter-spacing: 1px;

        a {
            font-size: 14px;
            /*color: #00969E;
            letter-spacing: 1px;
            text-decoration: underline;*/
        }
    }

    .main-content {
        overflow: hidden;
        position: relative;

        .left-container {
            float: left;
            width: 890px;
            margin-right: 10px;
            position: relative;
        }

        .right-container {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            width: 300px;

            .main {
                padding: 0 4px;
                background-color: #fff;
                width: 300px;
            }
        }
    }

    .select-container {
        display: block;
        padding-top: 6px;
        background-color: #fff;

        .left {
            display: inline-block;
            width: 120px;
            float: left;
        }

        .right {
            display: inline-block;
            width: 770px;
        }
    }

    .select-container2 {
        background-color: #fff;

        h4 {
            padding: 10px 20px 15px 20px;
            font-size: 18px;
            color: #666;
        }

        .people-row {
            height: 90px;

            .people-row-item {
                height: 90px;
                border: 1px solid #fff;
                position: relative;
                padding: 10px 45px 12px 10px;
                width: 25%;
                float: left;

                img {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                }

                &::before {
                    position: absolute;
                    content: "";
                    top: 0;
                    bottom: 0;
                    right: 0;
                    left: 0;
                    background: rgba(0, 0, 0, 0.60);
                    z-index: 1;
                }

                span {
                    color: #fff;
                    font-size: 20px;
                    z-index: 1;
                    display: block;
                    line-height: 70px;
                    width: 100%;
                    text-align: center;
                    padding-left: 35px;
                    position: relative;
                }

                em {
                    line-height: 20px;
                    position: absolute;
                    color: #fff;
                    bottom: 0;
                    right: 1px;
                    width: 18px;
                    font-size: 14px;
                    z-index: 3;
                    text-align: center;
                    font-style: normal;
                }

                &.active {
                    &::before {
                        background: rgba(0, 150, 158, 0.60);
                        background-image: url(../../images/wlogo@2x.png);
                        background-repeat: no-repeat;
                        background-size: 26px;
                        background-position: right 14px top 4px;
                        z-index: 1;
                    }

                    span {
                        border: 2px solid rgba(255, 255, 255, 0.5);
                        border-radius: 2px 0 0 2px;
                        border-right: 0;
                        padding-left: 33px;

                        &::after {
                            content: "";
                            position: absolute;
                            height: 47px;
                            width: 35px;
                            border: 2px solid rgba(255, 255, 255, 0.5);
                            border-width: 0 2px 2px 0;
                            border-radius: 0 0 2px 0;
                            bottom: -2px;
                            right: -35px;
                        }
                    }
                }

                &:hover {
                    &::before {
                        background: none;
                        background-image: url(../../images/wlogo@2x.png);
                        background-repeat: no-repeat;
                        background-size: 26px;
                        background-position: right 14px top 4px;
                        z-index: 1;
                    }

                    span {
                        border: 2px solid rgba(255, 255, 255, 0.5);
                        border-radius: 2px 0 0 2px;
                        border-right: 0;
                        padding-left: 33px;

                        &::after {
                            content: "";
                            position: absolute;
                            height: 47px;
                            width: 35px;
                            border: 2px solid rgba(255, 255, 255, 0.5);
                            border-width: 0 2px 2px 0;
                            border-radius: 0 0 2px 0;
                            bottom: -2px;
                            right: -35px;
                        }
                    }
                }
            }

            .hasnum:after {
                content: "";
                position: absolute;
                width: 0;
                height: 0;
                border-right: 20px solid #F8485E;
                border-left: 20px solid transparent;
                border-bottom: 15px solid #F8485E;
                border-top: 15px solid transparent;
                bottom: 0;
                right: 0;
                z-index: 2;
            }
        }
    }

    .select-container3 {
        h4 {
            padding: 10px 20px 15px 20px;
            font-size: 18px;
            color: #666;
        }

        .room-row {
            background: #fff;
            border: 0;

            .room-row-item {
                flex: 1;
            }
        }
    }

    .select-people {
        height: 46px;
        text-align: center;
        font-size: 14px;
        color: #383838;
        line-height: 23px;
        box-shadow: 0 1px 0 0 rgba(229, 229, 229, 0.50);
    }

    .select-room {
        height: 86px;
        font-size: 14px;
        color: #383838;
        text-align: center;
        line-height: 86px;
    }

    .people-row-item {
        width: 25%;
        font-size: 16px;
        height: 46px;
        line-height: 46px;
        float: left;
        text-align: center;
        color: #00969E;
        background-color: #EFFAF9;
        cursor: pointer;
        border-right: 1px solid #fff;

        &:first-child {
            border-left: 1px solid #fff;
        }

        span {
            font-size: 12px;
            color: #F8485E;
        }
    }

    .people-row {
        height: 46px;

        .active {
            background-color: #00969E;
            color: #fff;
            border-bottom: 0;

            span {
                color: #fff;
            }
        }
    }

    .room-row {
        display: table;
        width: 100%;
        padding: 6px;
    }

    .room-row-left,
    .room-row-right {
        width: 26px;
        height: 80px;
        cursor: pointer;
        line-height: 80px;
        font-size: 26px;
        color: #00969E;
        display: table-cell;
    }


    .room-row-item {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        position: relative;
        cursor: pointer;
        width: 142px;
        height: 80px;
        padding: 0 24px;
        border-right: 1px solid #f3f3f3;

        &:last-child {
            border-right: 0;
        }

        .tag {
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 0 0 0 4px;
            font-size: 12px;
            color: #FFFFFF;
            text-align: center;
            height: 16px;
            padding: 0 3px;
        }

        .price {
            font-size: 16px;
            margin-top: 8px;
        }
    }

    .item-name .active {
        border-bottom: 3px solid #00969E;
    }

    .active {
        color: #00969E;
    }

    .disable {
        color: #666;
    }

    .sold-out {
        background-color: #666;
    }

    .prime {
        background-color: #FDD26E;
    }

    .room-name {
        font-size: 18px;
        font-weight: 500;
    }

    .rooms {
        margin-top: 4px;
    }

    .room-item {
        display: block;
        padding: 15px 30px 15px 15px;
        background-color: #fff;
        margin-top: 4px;
        overflow: hidden;

        &:first-child {
            margin-top: 0;
        }

        img {
            width: 240px;
            height: 135px;
            margin-right: 35px;
            float: left;
        }
    }

    .room-content {
        .detail {
            cursor: pointer;
            margin-left: 50px;
        }

        .facility {
            margin-top: 15px;
            font-size: 14px;
            color: #666;
        }

        .current {
            font-size: 14px;
            color: #F8485E;

            span {
                font-size: 30px;
                color: #F8485E;
            }
        }

        .old {
            font-size: 14px;
            color: #666;
            margin-left: 10px;

            span {
                text-decoration: line-through;
            }
        }
    }

    .content-left {
        float: left;
        height: 100%;
        width: 400px;

        .room-name {
            font-size: 16px;
            color: #666;
        }

        .detail {
            font-size: 14px;
            color: #00969E;
            letter-spacing: 0.88px;
            cursor: pointer;
        }
    }

    .content-right {
        float: right;
        text-align: right;
        padding-top: 30px;

        .order-num {
            font-size: 14px;
            color: #00969E;
            letter-spacing: 0;
            line-height: 28px;

            span {
                color: #F8485E;
            }
        }

        .num-select {
            display: inline-flex;
            align-items: center;
            justify-content: space-between;
            border: 0px solid #64CCC9;
            border-radius: 2px;
            padding: 1px;
            width: 100px;
            text-align: center;
        }

        .num {
            display: inline-block;
            font-size: 14px;
            color: #666;
            width: 32px;
            height: 28px;
            line-height: 28px;
        }

        .minus,
        .plus {
            display: inline-block;
            width: 22px;
            height: 22px;
            border-radius: 100%;
            background-color: #fff;
            color: #00969E;
            font-size: 20px;
            line-height: 20px;
            cursor: pointer;
            border: 1px solid #00969E;
            font-size:14px;
        }
    }

    .main {

        div {
            margin-bottom: 4px;
        }

        h3 {
            height: 47px;
            text-align: center;
            font-size: 20px;
            color: #666;
            letter-spacing: 1.12px;
            padding: 0;
            line-height: 47px;
        }
    }

    .order-info {
        p {
            span {
                margin-right: 10px;
            }
        }

        .name {
            color: #00969E;
        }
    }

    .room-info,
    .order-info,
    .room-count {
        padding: 10px 16px;
        background-color: #FBFBFB;

        p {
            font-size: 14px;
            color: #383838;
            letter-spacing: 0.88px;
            margin-top: 10px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .room-info,
    .room-count {
        p {
            display: block;
            align-items: center;
            justify-content: space-between;
        }

        .detail,
        .delete {
            font-size: 12px;
            color: #00969E;
            letter-spacing: 0.75px;
            cursor: pointer;
        }
    }

    .room-count {
        background-color: #EFFAF9;
    }

    .btns {
        display: table;
        table-layout: fixed;
        border-spacing: 4px;
        width: 300px;
        margin: 0 -4px;

        .pre,
        .next {
            display: table-cell;
            height: 54px;
            line-height: 54px;
            text-align: center;
        }


        .pre {
            flex-shrink: 0;
            font-size: 16px;
            background: #FFFFFF;
            color: #00969E;
            border: 1px solid #D0D7DF;
            border-radius: 4px;
            width: 92px;
            height: 54px;
            margin-right: 4px;
        }

        .next {
            height: 54px;
            background: #00969E;
            font-size: 16px;
            border-radius: 4px;
            color: #fff;
        }
    }

    .price-desc {
        padding: 10px 20px;


        .opener {
            position: absolute;
            right: 15%;
            top: 100px;
            background: #fff;
            width: 430px;
            height: 200px;
            z-index: 1;
            padding: 20px;
            box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.10);
            border-radius: 2px;
            /*display: none;*/

            .title {
                margin-bottom: 10px;
                font-size: 16px;
                color: #00969E;
            }

            .opener-close {
                cursor: pointer;
            }

            .inner {
                height: 130px;
                text-align: left;
                overflow-y: auto;

                p {
                    text-align: left;
                    font-size:14px;
                    line-height:28px;
                }
            }
        }
    }

    .iconblue {
        font-size: 16px;
        color: #00969E
    }

    .sub-title-room {
        background-color: #fff;
        border: 2px solid #f8f8f8;
    }
}
.mark{
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.20);
  z-index: 1000;
  .layer{
    position: fixed;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 1080px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0 3px 15px 0 rgba(0,0,0,0.15);
    .close{
      width: 30px;
      height: 30px;
      color:#fff !important;
      font-size: 16px;
      line-height: 30px;
      text-align: center;
      position: absolute;
      right: 14px;
      top:16px;
      background: #00969E;
      border-radius: 50%;
      opacity: 1;
    }
    .room-title{
      margin-top: 10px;
      font-size: 26px;
      margin-bottom: 37px;
    }
    .layer-left{
      .price{
        color:#F8485E;
        font-size: 14px;
        margin-right: 5px;
        span{
          font-size: 30px;
        }
      }
      .old{
        color:#bbb;
        text-decoration: line-through;
      }
      .price-desc{
        margin-left: 16px;
      }
    }
    .layer-right{
      padding-left:46px ;
      font-size: 16px;
      .list,
      .list2{
        li{
          height: 32px;
          line-height: 32px;
        }
      }
    }
  }
}
@import '../../css/calendar.scss';
.travel_calendar{
  width: 974px;
}
.t2_th{
  width: 139px;
}
.t2_td, .t2_td_colspan{
  width: 140px;
  height: 100px;
}
.t2_td.t2_last {
  width: 140px;
}
.t2_td .a_available, .t2_td .a_unavailable{
  height: 100px;
}
.travel_calendar_switch{
  height: 58px;
}
.mark .layerB{
  width: auto;
  padding: 0;
}
.travel_calendar_bd{
  margin-bottom: 0;
}