#selectRoom{

  h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: #343E57;
    font-weight: 400;
    padding: 20px 0 20px 20px;
  }

  .tip {
    font-size: 14px;
    color: #626262;
    letter-spacing: 1px;

    a {
      font-size: 14px;
      color: #64CCC9;
      letter-spacing: 1px;
      text-decoration: underline;
    }
  }

  .main-content {
    display: flex;
    flex-wrap: nowrap;

    .left-container {
      width: 890px;
      margin-right: 10px;
    }

    .right-container {
      width: 300px;
      .main{
         padding: 0 4px;
      background-color: #fff;
      }
    }
  }

  .select-container {
    display: flex;
    padding-top: 6px;
    background-color: #fff;

    .left {
      display: inline-block;
      width: 120px;
    }

    .right {
      display: inline-block;
      width: 770px;
    }
  }

  .select-people {
    height: 46px;
    text-align: center;
    font-size: 14px;
    color: #383838;
    line-height: 23px;
    box-shadow: 0 1px 0 0 rgba(229, 229, 229, 0.50);
  }

  .select-room {
    height: 86px;
    font-size: 14px;
    color: #383838;
    text-align: center;
    line-height: 86px;
  }

  .people-row-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    font-size: 16px;
    color: #00969E;
    background-color: #EFFAF9;
    border-bottom: 1px solid #7FCACE;
    cursor: pointer;
    border-right: 1px solid #fff;

    &:first-child {
      border-left: 1px solid #fff;
    }

    span {
      font-size: 12px;
      color: #F8485E;
    }
  }

  .people-row {
    display: flex;
    flex-wrap: nowrap;
    height: 46px;

    .active {
      background-color: #fff;
      border-left: 1px solid #7FCACE;
      border-right: 1px solid #7FCACE;
      border-top: 1px solid #7FCACE;
      border-bottom: 0;
    }
  }

  .room-row {
    display: flex;
    flex-wrap: nowrap;
    padding: 6px;
    border-left: 1px solid #7FCACE;
    border-right: 1px solid #7FCACE;
    border-bottom: 1px solid #7FCACE;
  }

  .room-row-left,
  .room-row-right {
    width: 26px;
    height: 80px;
    cursor: pointer;
  }


  .room-row-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 142px;
    height: 80px;
    padding: 0 24px;
    border-right: 1px solid #f3f3f3;

    &:last-child {
      border-right: 0;
    }

    .tag {
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 0 0 0 4px;
      font-size: 12px;
      color: #FFFFFF;
      text-align: center;
      height: 16px;
      padding: 0 3px;
    }

    .price {
      font-size: 13px;
      margin-top: 8px;
    }
  }

  .item-name .active {
    border-bottom: 3px solid #00969E;
  }

  .active {
    color: #00969E;

  }

  .disable {
    color: #999;
  }

  .sold-out {
    background-color: #999;
  }

  .prime {
    background-color: #FDD26E;
  }

  .room-name {
    font-size: 18px;
    font-weight: 500;
  }

  .rooms {
    margin-top: 10px;
  }

  .room-item {
    display: flex;
    padding: 15px 30px 15px 15px;
    background-color: #fff;
    margin-top: 4px;
    &:first-child{
      margin-top: 0;
    }
    img {
      width: 240px;
      height: 135px;
      margin-right: 35px;
    }
  }

  .room-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .detail {
      cursor: pointer;
      margin-left: 50px;
    }

    .facility {
      margin-top: 15px;
      font-size: 14px;
      color: #343E57;
    }

    .current {
      font-size: 14px;
      color: #F8485E;

      span {
        font-size: 30px;
        color: #F8485E;
      }
    }

    .old {
      font-size: 14px;
      color: #999999;
      margin-left: 10px;

      span {
        text-decoration: line-through;
      }
    }
  }

  .content-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .room-name {
      font-size: 18px;
      color: #343E57;
    }

    .detail {
      font-size: 14px;
      color: #00969E;
      letter-spacing: 0.88px;
      cursor: pointer;
    }
  }

  .content-right {
    text-align: right;
    .order-num {
      font-size: 14px;
      color: #00969E;
      letter-spacing: 0;
      line-height: 28px;
      span{
        color: #F8485E;
      }
    }

    .num-select {
      display: inline-block;
      border: 1px solid #64CCC9;
      border-radius: 2px;
      padding: 1px;
      text-align: center;
      width: 100px;
    }

    .num {
      display: inline-block;
      font-size: 14px;
      color: #343E57;
      width: 32px;
      height: 28px;
      line-height: 28px;
    }

    .minus,
    .plus {
      display: inline-block;
      width: 28px;
      height: 28px;
      border-radius: 2px;
      background-color: #00969E;
      color: #fff;
      font-size: 20px;
      line-height: 28px;
      cursor: pointer;
    }

  }

  .main {

    div {
      margin-bottom: 4px;
    }

    h3 {
      height: 47px;
      text-align: center;
      font-size: 18px;
      color: #343E57;
      letter-spacing: 1.12px;
    }
  }

  .order-info {
    p {
      span {
        margin-right: 10px;
      }
    }

    .name {
      color: #00969E;
    }
  }

  .room-info,
  .order-info,
  .room-count {
    padding: 10px 16px;
    background-color: #FBFBFB;

    p {
      font-size: 14px;
      color: #383838;
      letter-spacing: 0.88px;
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }

  }

  .room-info,
  .room-count {
    p {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .detail,
    .delete {
      font-size: 12px;
      color: #00969E;
      letter-spacing: 0.75px;
      cursor: pointer;
    }
  }

  .room-count {
    background-color: #EFFAF9;
  }

  .btns {
    display: flex;
    flex-wrap: nowrap;

    .pre {
      font-size: 16px;
      background: #FFFFFF;
      color: #00969E;
      border: 1px solid #D0D7DF;
      border-radius: 4px;
      width: 92px;
      height: 54px;
      margin-right: 4px;
    }

    .next {
      flex: 1;
      height: 54px;
      background: #00969E;
      font-size: 16px;
      border-radius: 4px;
      color: #fff;
    }
  }
}
