@import '../../css/variables.scss';
@import '../../css/navbar.scss';

body {
    background-color: #f7fcfc;
}

.my-order {
    padding: 19rem/$fit 0 100rem/$fit;
    width: 1200rem/$fit;
    display: flex;

    .left-container {
        width: 210rem/$fit;
        margin-right: 20rem/$fit;
        float: left;
    }

    .right-container {
        float: right;
        width: 940rem/$fit;

        .bread-crumb {
            display: flex;
            align-items: center;
            font-size: 14rem/$fit;
            color: #6D6D6D;
            margin-bottom: 22rem/$fit;

            .item {
                cursor: pointer;
            }

            .selected {
                cursor: default;
                color: #343E57;
            }

            .split {
                margin: 0 4rem/$fit;
            }
        }

        section {
            width: 100%;
            background-color: #ffffff;

            h5 {
                display: none;
            }
        }

        h3 {
            padding: 20rem/$fit 0;
            font-size: 20rem/$fit;
            color: #343E57;
        }
    }

    .mt0 {
        margin-bottom: 0;
    }

    .user-info {
        display: inline-block;
        flex-wrap: wrap;
        padding: 10rem/$fit 20rem/$fit 16rem/$fit;

        .input-item {
            width: 50%;
            display: inline-block;
            align-items: center;
            margin-bottom: 10px;

            span {
                width: 50px;
                display: inline-block;
                text-align: right;
                margin-right: 10px;
                font-size: 12px;
                color: #343E57;
            }

            .input-text {
                width: 186px;
                background: #FFFFFF;
                border: none;
                border: 1px solid #E3E2E5;
                border-radius: 2px;
                padding-left: 10px;
                font-size: 12px;
                color: #343E57;
                height: 30px;
                line-height: 30px;
            }

            .check-item {
                display: inline-block;
                align-items: center;
                width: 93px;
                font-size: 12px;
                color: #343E57;

                input {
                    margin-right: 8px;
                }
            }
        }
    }

    .line-recommend {
        display: block;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        overflow: hidden;

        .product,
        .line-product {
            width: 220px;
            height: 248px;
            border: 1px solid #F0F0F0;
            display: block;
            float: left;
            margin-right: 20px;

            &:nth-child(4n) {
                margin-right: 0;
            }

            img {
                width: 100%;
                /*height: 150px;*/
            }

            .content {
                padding: 11px 14px 9px;
                /*background-color: #ffffff;*/
            }

            .name {
                font-size: 16px;
                color: #383838;
            }

            .desc {
                font-size: 12px;
                color: #788995;
                margin-top: 8px;
            }

            .bottom {
                display: inline-block;
                align-items: center;
                justify-content: space-between;
                margin-top: 7px;
            }

            .price {
                font-size: 16px;
                color: #F8485E;
            }

            .old {
                text-decoration-line: line-through;
                font-size: 12px;
                color: #788995;
                letter-spacing: 0;
                text-align: center;
                margin-left: 7px;
            }

            .every {
                text-decoration-line: none;
                color: #999999;
            }

            .buy {
                display: inline-block;
                text-align: center;
                background-color: #00969E;
                border-radius: 3px;
                width: 66px;
                height: 26px;
                line-height: 26px;
                color: #ffffff;
                font-size: 12px;
            }
        }

        .line-product {
            .name {
                font-size: 14px;
                color: #343940;
            }

            height: auto;
            margin-bottom: 20px;
        }
    }

    .modify-btns {
        text-align: right;

        span {
            display: inline-block;
            line-height: 30px;
            border-radius: 2px;
            width: 60px;
            height: 30px;
            text-align: center;
        }

        .cancel {
            background-color: #FFFFFF;
            border: 1px solid #E3E2E5;
            color: #595961;
            margin-right: 10px;
        }

        .ensure {
            background-color: #00969E;
            border: 1px solid #00969E;
            color: #ffffff;
        }
    }
}


@media (max-width: 767px) {
    .my-order {
        /*display: none !important;*/
        width: 100vw;
        margin-top: 0rem/$fit;
        padding: 0;

        .right-container {
            width: 100%;
        }

        .left-container {
            width: 0;
            margin-right: 0;
        }


        section {
            background-color: #ffffff;
            margin-bottom: 24rem/$fit;

            h5 {
                font-size: 28rem/$fit;
                color: #383838;
                font-weight: 400;
            }
        }

        .user-info {
            padding: 28rem/$fit 32rem/$fit 32rem/$fit;

            .input-item {
                display: flex;
                align-items: center;
                margin-bottom: 20rem/$fit;
                width: 100%;

                &:last-child {
                    margin-bottom: 0;
                }

                span {
                    font-size: 26rem/$fit;
                    color: #666666;
                    width: 130rem/$fit;
                    text-align: right;
                }

                .input-text {
                    width: 540rem/$fit;
                    height: 60rem/$fit;
                    line-height: 60rem/$fit;
                    background: #FFFFFF;
                    border: 1px solid #E5E5E5;
                    border-radius: 8rem/$fit;
                    padding-left: 16rem/$fit;
                    font-size: 26rem/$fit;
                    color: #383838;
                }

                .check-item {
                    display: flex;
                    align-items: center;
                    margin-right: 54rem/$fit;
                    font-size: 24rem/$fit;

                    &:last-child {
                        margin-right: 0;
                    }

                    input {
                        margin-right: 24rem/$fit;
                    }
                }
            }
        }

        .line-recommend {
            padding: 32rem/$fit;
            margin-bottom: 0rem/$fit;

            .line-product {
                position: relative;
                width: 100%;
                height: 340rem/$fit;
                border-radius: 6rem/$fit;
                margin-bottom: 8rem/$fit;
                /*background-image: url(../../images/1.png), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 56%, rgba(0, 0, 0, 0.60) 74%);*/
                background-repeat: no-repeat;
                display: flex;
                flex-direction: column-reverse;

                .content {
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-end;
                    padding: 0 20rem/$fit 20rem/$fit 24rem/$fit;
                    background-color: none;
                    color: #fff;
                    bottom: 0;
                }

                .tag {
                    position: absolute;
                    top: 11rem/$fit;
                    right: 0;
                    width: 128rem/$fit;
                    height: 39rem/$fit;
                    line-height: 39rem/$fit;
                    text-align: center;
                    font-size: 24rem/$fit;
                    color: #FFFFFF;
                    background-color: #F8485E;
                    border-radius: 0 6rem/$fit 0 6rem/$fit;
                }

                .name {
                    font-size: 32rem/$fit;
                    color: #FFFFFF;
                    margin-bottom: 16rem/$fit;
                }

                .time {
                    font-size: 24rem/$fit;
                    color: #FFFFFF;
                }

                .right {
                    text-align: right;
                }

                .price {
                    font-size: 40rem/$fit;
                    color: #F8485E;

                    span {
                        font-size: 24rem/$fit;
                        color: #FFFFFF;
                        line-height: 40rem/$fit;
                    }
                }

                .every {
                    font-size: 22px;
                    color: #FFFFFF;
                }

                .detail {
                    display: inline-block;
                    width: 148rem/$fit;
                    height: 54rem/$fit;
                    line-height: 54rem/$fit;
                    text-align: center;
                    background-color: #00969E;
                    color: #ffffff;
                    font-size: 24rem/$fit;
                    margin-right: 9rem/$fit;
                }
            }
        }

        .modify-btns {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 80rem/$fit;
            border-top: 0px solid #E5E5E5;
            background-color: #ffffff;
            padding: 0 32rem/$fit;

            .ensure {
                display: inline-block;
                width: 3rem;
                height: 70rem/$fit;
                line-height: 70rem/$fit;
                background-color: #00969E;
                color: #ffffff;
                font-size: 24rem/$fit;
                letter-spacing: 0rem/$fit;
                text-align: center;
            }
        }
    }
    body {
        background-color: #fafafa;
    }
}


@import './sm-index.scss';
