@import '../../css/variables.scss';

.my-order-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00969E;
    height: 88rem/$fit;
    color: #ffffff;
    font-size: 32rem/$fit;
    color: #F0F0F0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    .icon {
        position: absolute;
        left: 37rem/$fit;
        font-size: 40rem/$fit;
        cursor: pointer;
    }
}

.sm-my-order {
    width: 100vw;
    background-color: #F8F8F8;
    font-family: Helvetica;
    /*margin-top: 88rem/$fit;*/
    section {
        background-color: #ffffff;
        margin-bottom: 24rem/$fit;

        h5 {
            font-size: 28rem/$fit;
            color: #383838;
            font-weight: 400;
        }
    }

    .user-info {
        padding: 28rem/$fit 32rem/$fit 32rem/$fit;

        .input-item {
            display: flex;
            align-items: center;
            margin-bottom: 20rem/$fit;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                font-size: 26rem/$fit;
                color: #666666;
                width: 130rem/$fit;
                text-align: right;
            }
        }

        .input-text {
            width: 540rem/$fit;
            height: 60rem/$fit;
            line-height: 60rem/$fit;
            background: #FFFFFF;
            border: 1px solid #E5E5E5;
            border-radius: 8rem/$fit;
            padding-left: 16rem/$fit;
            font-size: 26rem/$fit;
            color: #383838;
        }

        .check-item {
            display: flex;
            align-items: center;
            margin-right: 54rem/$fit;
            font-size: 24rem/$fit;

            &:last-child {
                margin-right: 0;
            }

            input {
                margin-right: 24rem/$fit;
            }
        }
    }

    .my-favorite {
        padding: 32rem/$fit;
        margin-bottom: 0rem/$fit;

        .favorite-item {
            position: relative;
            width: 100%;
            height: 340rem/$fit;
            border-radius: 6rem/$fit;
            margin-bottom: 8rem/$fit;
            background-image: url(../../images/1.png), linear-gradient(180deg, rgba(0, 0, 0, 0.00) 56%, rgba(0, 0, 0, 0.60) 74%);
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column-reverse;
        }

        .content {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding: 0 20rem/$fit 20rem/$fit 24rem/$fit;
        }

        .tag {
            position: absolute;
            top: 11rem/$fit;
            right: 0;
            width: 128rem/$fit;
            height: 39rem/$fit;
            line-height: 39rem/$fit;
            text-align: center;
            font-size: 24rem/$fit;
            color: #FFFFFF;
            background-color: #F8485E;
            border-radius: 0 6rem/$fit 0 6rem/$fit;
        }

        .name {
            font-size: 32rem/$fit;
            color: #FFFFFF;
            margin-bottom: 16rem/$fit;
        }

        .time {
            font-size: 24rem/$fit;
            color: #FFFFFF;
        }

        .right {
            text-align: right;
        }

        .price {
            font-size: 40rem/$fit;
            color: #F8485E;

            span {
                font-size: 24rem/$fit;
                color: #FFFFFF;
                line-height: 40rem/$fit;
            }
        }

        .every {
            font-size: 22px;
            color: #FFFFFF;
        }

        .detail {
            display: inline-block;
            width: 148rem/$fit;
            height: 54rem/$fit;
            line-height: 54rem/$fit;
            text-align: center;
            background-color: #00969E;
            color: #ffffff;
            font-size: 24rem/$fit;
            margin-right: 9rem/$fit;
        }
    }

    .modify-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80rem/$fit;
        border-top: 0px solid #E5E5E5;
        background-color: #ffffff;
        padding: 0 32rem/$fit;

        .ensure {
            display: inline-block;
            width:3rem;
            height: 70rem/$fit;
            line-height: 70rem/$fit;
            background-color: #00969E;
            color: #ffffff;
            font-size: 24rem/$fit;
            letter-spacing: 0rem/$fit;
            text-align: center;
        }
    }
}
