@import url("../ele_css/ele_popWin.css");
#topbar .user{
	margin-left:0;
}
#header .header_shadow{
	background:#e03357;
	height:2px;
	width:100%;
	overflow:hidden;
}
#header .wraper{
	height:107px;
}
#header .logo{
	left:8px;
	top:28px;	
}
.khaki {
	color:#de0027;
}
.wraper {
	width:1000px;
}
#footer .wraper {
	width:1200px;
}
.checkout .priceA_gray{
	font-family:microsoft yahei;
	background-position:2px -225px;
	background-position:2px -226px\0;
	*background-position:2px -227px;
}
:root .checkout .priceA_gray{
	background-position:2px -225px\0;
}
.checkout .priceA_red{
	color:#e03357 !important;
	font-family:"microsoft yahei";
	background-position:2px -225px;
	background-position:2px -226px\0;
	*background-position:2px -227px;
}
:root .checkout .priceA_red{
	background-position:2px -225px\0;
}
.green .priceA_green{
	color:#229313 !important;
	padding-left:11px;
	font-family:"microsoft yahei";
	background:url(../Nest/img/price_green.png) no-repeat;
	background-position:2px -225px;
	background-position:2px -226px\0;
	*background-position:2px -227px;
}
:root .green .priceA_green{
	background-position:2px -225px\0;
}
.green .price{}
.green .price14{
	padding-left:8px;
	background:url(../Nest/img/price_green_B.png) 0 -27px no-repeat !important;
	background-position:0 -26px\9 !important;
}
:root .green .price14{
	background-position:0 -27px\0 !important;
}
.floatFunc {
	top:136px;
	_height:expression(documentElement.clientHeight-136);
	_top:expression(documentElement.scrollTop+documentElement.clientHeight-this.offsetHeight-1);
}
.step{
	overflow:hidden;
	height:	60px;
	width:538px;
	margin-top:28px;
	background:url(../Nest/img/step_shopping_cart.png) no-repeat;
}
.step_check{background-position:0 -77px;}
.step_finish{background-position:0 -154px;}
.step li{
	display:none;	
}
.ico_indicator,
.ico_finishPay{
	background:url(../Nest/img/shopping_cart_script.png) no-repeat;
	display:inline-block;
	height:	26px;
	width:40px;
	vertical-align:middle;
	overflow:hidden;
}
.ico_finishPay{
	background-position:-52px 0;
}
h1{
	height:26px;
	line-height:26px;
	font-size:24px;
	font-family:"microsoft yahei",arial;
	color:#da0523;
	font-weight:normal;
	padding:20px 0;
}
.tipmsg{
	position:relative;
	background-color:#fff;
	border:1px solid #fea7b6;
	padding: 10px 20px;
}
.tipmsg_cart{	
	padding:15px 20px 15px 99px !important;
	background-image:url(../Nest/img/cart_tipmsg_label_bg.png);
	background-repeat:repeat-y;
}
.tipmsg_cart .tip_label{
	position:absolute;
	font-size:14px;
	color:#de0027;
	margin:0 0 0 -85px;
}
.tipmsg .corner{
	position:absolute;
	width:7px;
	height:5px;
	display:inline-block;
	overflow:hidden;
	background:url(../Nest/img/shopping_cart_script.png) 0 -666px no-repeat;
}
.tipmsg .corner_top{
	top:-5px;
	left:41px;
	background-position:0 -666px;
}
.tipmsg .corner_bot{
	bottom:-5px;
	left:41px;
	background-position:-21px -666px;
}
.lineA{
	height:0;
	border:0;
	border-bottom:1px dotted #ccc;
	margin:10px 0 15px;
	*margin:5px 0;
}
.redB{
	color:#DA0523;
}
.grayB{
	color:#626164 !important;
}
a.grayB:hover{
	color:#e52142 !important;
}
.grayC{
	color:#3f3f3f !important;
}
.cartlist .grayC{
	color:#222 !important;
}
.oprate{
	display:inline-block;
	height:25px;
	vertical-align:middle;
	line-height:25px;
}
.oprate a{
	width:21px;
	height:23px;
	border:1px solid #d8d8d8;
	margin-right:-1px;
	float:left;
	background:url(../Nest/img/oprate.png) no-repeat;
}
.oprate .add{
	margin-left:-1px;
	margin-right:0;
	background-position:left -23px;
}
.oprate .intxt{
	float:left;
	padding:2px;
	height:19px;
	line-height:19px;
	border:1px solid #d8d8d8;
	width:40px;
	text-align:center;
	background-color:#fff;
}
.probtn{
	height:41px;
	padding:15px 0 0 0;
}
.cartlist_cpt{
	padding-top:2px;
	background:url(../Nest/img/shopping_cart_script.png) left -26px repeat-x;
}
.cartlist_cpt .table th{
	height:33px;
	line-height:33px;
	vertical-align:top;
	color:#fc405f;
	text-align:center;
	font-weight:normal;
	font-size:14px;
}
.cartlist_cpt_type1{
	border-top:none;
}
.cartlist_cpt_type1 .table th{
	color:#fff;
	background-color:#e03357;
}
.cartlist_empty{background:url(../Nest/img/cartempty.png) no-repeat 160px center;padding:50px 10px 50px 280px;background-color:#fff;}
.cartlist_empty h2{font-size:18px;font-weight:normal;font-family:"microsoft yahei",arial;}
.cartlist .table{
	width:100%;
	background-color:#fff;
}
.cartlist .table th {
	height:32px;
	line-height:32px;
	vertical-align:top;
	color:#fff;
	text-align:center;
	font-weight:normal;
	font-size:14px;
	background-color:#E03357;
}
.border{
	border-bottom:1px solid #d8d8d8;
}

.borderT {
    border-top: 0;
}
.table{
	width:100%;
	/*border-collapse:separate;*/
}
.table th{
	border-right:0 none #e1e1e1;
	text-align:center
}
.table .col_ckbox{
	width:25px;
	padding-right:0;
	text-align:left;
}
.table .col_ckbox .ckbox{
	margin-left:10px;
}
.table .title{
	border-left:1px solid #fff;	
}
.table .op{
	border-right:1px solid #fff;	
}
.table .first{
	border-left:none;
}
.table .last{
	border-right:none;
}
.table td{
	padding:15px 5px;
	text-align:center;
	border-top:1px dotted #e7e7e7;
}
.table .flagship{
	padding:0;
	border:1px solid #fff;
	border-bottom:1px solid #f5f5f5;
	border-left:0 none;
	border-right:0 none;
}
.cartlist:first-of-type .table .flagship
.cartlist .table:first-of-type .flagship{
	border-top:none;
}
.table .flagship .seller{
	padding:4px 0 0 10px;
	height:30px;
}
.table .flagship .seller_B{
	padding:4px 0 0 10px;
	height:30px;
	border-top:10px solid #f5f5f5;
	margin:-1px 0 0;
	position:relative;
}
.table .flagship .icon{
	text-align:left;
	padding:5px 0 5px 35px;
	font-size:14px;		
	background:url(../Nest/img/shopping_cart_script.png) no-repeat 2px -64px;
	height:22px;
	line-height:22px;
	font-weight:normal;
	color:#da0523;	
}
.table .flagship .seller_B label{
	padding-left:7px;
	height:24px;
	font-size:14px;		
	line-height:24px;
	color:#da0523;	
}


.table .pro{
	min-height:72px;
	_height:72px;
	padding-left:10px;
}
.table .pro .img{
	margin-right:25px;
	width:62px;
	height:62px;
	overflow:hidden;
}
.table .pro .img a{
	border:1px solid #dedede;
	display:block;
}
.table .pro .img a:hover{
	border-color:#DA0523;
}
.table .pro .img img{
	width:60px;
	height:60px;
	display:block;
}
.table .pro .tit a{
	color:#555;
}
.table .pro .tit a:hover{
	color:#DA0523;	
}
.table .pro .prom{
	margin-top:5px;
}
.table .prom_exchange{
	position:relative;
}
.table .promAction_curr{
	z-index:2;
}
.table .func_prom{
	background-color:#DA0523;
	color:#fff;
	display:inline-block;
	padding:0 5px;
	*vertical-align:middle;
}
.table .func_prom:hover{
	text-decoration:none;
}
.table .pop_exchange{
	position:absolute;
	left:0;
	top:100%;
	width:350px;
	display:none;
	background-color:#fff;
	border:1px solid #ff6887;	
}
.table .now .pop_exchange{
	display:block;
	z-index:10;	
}
.table .pro_payExtraBuy{
	min-height:18px;
	_height:18px;
}
.table .promline td{
	padding:0;
}
.promAction{
	padding:8px 15px;
	margin:-1px 0;
	position:relative;
	background-color:#eaeaea;
	color:#555;
}
.pop_exchange_show{
	z-index:10;
}
.pop_exchange .close{
	right:3px;
	top:3px;
	color:#fff;
	background:#000;
	border:1px solid #fff;
	display:inline-block;
	padding:0 3px;
}
.pop_exchange .close:hover{
	text-decoration:none;
}
.pop_exchange h3{
	padding:4px 30px 4px 10px;
	background-color:#eee;
	color:#333;
	font-weight:bold;
	font-size:12px;
}
.pop_exchange .itemlist li{
	padding:10px 10px 12px 35px;
	position:relative;
	border-bottom:1px dotted #e7e7e7;
	*float:left;
}
.pop_exchange .itemlist input{
	position:absolute;
	left:10px;
	top:30px;
}
.pop_exchange .itemlist .img{
	margin-right:10px;
	height: 62px;
	width: 62px;
    overflow: hidden;
}
.pop_exchange .itemlist .img a{
	border: 1px solid #DEDEDE;
    display: block;
}
.pop_exchange .itemlist .img a:hover{
	border-color:#da0523;
}
.pop_exchange .itemlist .img img{
	display:block;
	width:60px;
	height:60px;
}
.pop_exchange .btnline{
	padding-top:8px;
	margin-top:-1px;
	padding-bottom:3px;
	border-top:1px solid #e7e7e7;
}
.table .gray {
	color:#666;
}
.table a.gray:hover {
	color:#DA0523;
}
.table .limitip{
	text-align:center;
	margin:5px 0 -23px;
	height:16px;
}
.table .moditip{
	text-align:center;
	margin:-22px 0 4px;
	height:16px;
	position:relative;
}
.table .price{
	color:#333;
	font-weight:normal;
}
.table .gift td{
	border-top:0;	
	border-left:1px solid #fff;
	border-right:1px solid #fff;
	padding-top:0;
}
.table .singlepro .giftlist{
	margin-left:92px;
	padding-top:10px;
	padding-left:0;
	border-top:1px dotted #e7e7e7;
}
.giftbox{
	background:#f2f2f2;	
}
.giftbox .table td{
	border-top:	1px solid #e5e5e5;
}
.totalPlane .table td{
	padding-top:20px;
	padding-bottom:20px;
	border-top:1px solid #fff;
}
.totalPlane .table .summary{
	color:#da0523;
	font-size:18px;
	font-weight:bold;
	padding-left:13px;
	/*background-position:left -223px;
	background-position:left -225px\9;*/
	background-position:left -426px;
	background-position:left -428px\9;
}
:root .totalPlane .table .summary{
	background-position:left -426px\0;
}
.totalPlane .priceA_gray{	
	background-position:2px -227px\0;
}
:root .totalPlane .priceA_gray{	
	background-position:2px -225px\0;
}
.totalPlane{
	position:relative;
	background:#fff;	
	border-right:1px solid #fff;
	border-left:1px solid #fff;
	border-bottom:1px dotted #e7e7e7;
}
.totalPlane span,
.totalPlane .price{
	color:#646464;
}
.totalPlane .green,
.totalPlane .green .price{
	color:#229313;
}
.totalPlane .green .price{
	padding-left:8px;
	background:url(../Nest/img/price_green_B.png) 0 4px no-repeat;	
	background-position:0 2px\9;
}
:root .totalPlane .green .price{
	background-position:0 4px\0;
}
.btn_clear,
.btn_goon{
	background:url(../Nest/img/shopping_cart_script.png) -117px -189px  no-repeat;
	height:22px;
	line-height:22px;
	color:#666;
	width:66px;
	display:inline-block;
	text-align:left;
	zoom:1;
	padding-left:19px;
}
.btn_clear:hover,
.btn_goon:hover{
	color:#e10028;
	text-decoration:none;
}
.btn_goon:hover{
	background-position:-20px -535px;
}
.btn_clear{
	background-position:-117px -215px;
	padding-left:17px;
	width:76px;
}
.btn_clear:hover{
	background-position:-20px -564px;
}
.btn_checkout{
	background:url(../Nest/img/shopping_cart_script.png) no-repeat left -104px;
	height:51px;
	width:176px;
	margin-top:-20px;
}
.btn_checkout:hover{
	background-position:0 -472px;	
}
.checkout_action{
	height:31px;
	padding:40px 20px 20px 16px;
	background:#fff;	
}
.sectionTit {
	font-family:"Microsoft Yahei",Arial;
	font-size:18px;
	color:#DA0523;
	padding-bottom:10px;
}
.delslider,
.delslider .mover{
	width:980px;
	height:148px;
	position:relative;
	overflow:hidden;
}
.delslider .mover{
	left:0;	
	margin-left:auto;
	margin-right:auto;
}
.delslider .abtn{
	background:none;
	height:48px;
	width:48px;
    top: 44px;
}
.delslider .abtn span{
	display:block;
	background:url(../Nest/img/shopcart_abtn.png) left top no-repeat;
	height:48px;
	width:48px;
}
.delslider .aleft{
    left: 0;
}
.delslider .aright{
    right: 0;
	
}
.delslider .aright span{
	background-position:left -48px;
}
.delslider .agrayright,
.delslider .agrayleft{
    cursor: default;
	display:none;
}
.prolistbox{
	border:1px solid #fff;
	border-bottom:1px solid #fff;
	background-color:#fff;
}
.prolistbox h2{
	height:52px;
	line-height:52px;
	color:#666;
	font-size:15px;
	padding-left:13px;
	border-bottom:1px solid #f5f5f5;
	background-color:#fff;
	font-weight:normal;
}
.prolistbox .bdtA{
	border-top:1px solid #e9e9e9;
}
.prolistbox .relect{
	margin:-28px 15px 0 0;
	background-position:0 -688px;
	text-align:center;
	padding-left:0;
	width:113px;
}
.prolistbox .relect:hover{
	background-position:0 -722px;
}
.prolistbox .inner{
	width:988px;
	overflow:visible;
	margin-left:auto;
	margin-right:auto;
}
.prolistbox .navaddcart,
.prolistbox .nav{
	position:absolute;
	right:28px;
	top:-22px;
	z-index:1;	
}
.prolistbox .navaddcart{
	top:-41px;
	right:14px;
}
.prolistbox .navaddcart .btn_addcart{
	height:25px;
	width:97px;
	float:left;	
	margin-top:2px;
}
.prolistbox .nav a{
	height:10px;
	width:11px;
	display:block;
	float:left;
	margin-right:5px;
	zoom:1;
	text-indent:-1000px;
	overflow:hidden;
	background:url(../Nest/img/shopcart_nav_i.png) -15px top no-repeat;	
}
.prolistbox .nav a.current{
	background-position:left top;	
}
.prolistbox .prolist{
	width:20000px;
	position:relative;
}
.prolistbox .prolist .img{
	width:100px;
	height:100px;	
	float:left;
	margin:3px 10px 0 0;
}
.prolistbox .prolist li{
	height:110px;
	padding:20px 12px 10px;
	width:221px;
}
.prolistbox .prolist .btn{
	margin-top:4px;
}
.prolistbox .prolist .tit{
	height:18px;
	margin-top:0;
	color:#555;
}
.prolistbox .prolist .tit a{
	color:#555;
}
.prolistbox .prolist .tit a:hover{
	color:#DA0523;
}
.prolistbox .prolist .ck_action input{
	vertical-align:middle;
	margin:0;
	margin-right:5px;
	height:16px;
	padding:0;	
}
.prolistbox .prolist .ck_action{
	margin-top:10px;
	height:16px;
	line-height:16px;
	font-family:simsun;
	color:#666;
}
.prolistbox .prolist .prom{
	color:#666;
	height:18px;
	overflow:hidden;
}
.prolistbox .prolist .pp {
	margin-top:5px;
}
/*.prolistbox .price{
	font-weight:bold;
	background-image:url(../Nest/img/price.png);
	background-position:0 -236px;
	background-position:0 -237px\9;
	*background-position:0 -238px;
}
:root .prolistbox .price{
	background-position:0 -236px\0;
}*/
.prolistbox .price{
	font-weight:bold;
	padding-left:8px;
	background-image:url(../Nest/img/price_r.png);
	background-position:0 -225px;
	background-position:0 -226px\9;
	*background-position:0 -227px;
}
:root .prolistbox .price{
	background-position:0 -225px\0;
}
.btn_addcart{
	background:url(../Nest/img/shopping_cart_script.png) left -190px;
	height:24px;
	width:95px;	
}
.btn_addcart:hover{
	background-position:left -225px;	
}
.btn_buynow{
	background:url(../Nest/img/btn_buynow.png) left top;
	height:35px;
	width:93px;	
}
.btn_buynow:hover{
	background-position:left -35px;	
}
.abtnp{
	display:none;	
}
.cmnLoadB {
    background:url(../Nest/img/onLoad.gif) no-repeat left center;
    display: inline-block;
    height: 16px;
    padding-left: 20px;
}
/* Checkout */
.checkorder{padding:30px 0 0;border:0 none #ddd;}
.checkorder h2{padding-bottom:15px;font-size:18px;line-height:18px;font-weight:normal;color:#333; font-family:"microsoft yahei",arial;}
.selectads{padding:10px 19px 17px;background-color:#fff;border:1px solid #fff;color:#666;border-top:2px solid #fff;}
.selectads .sep{color:#666;}
.myaddrlist li{padding:4px 0; height:20px; position:relative;}
.myaddrlist li .sep{position:relative;top:1px;}
.myaddrlist .curr{font-weight:normal;color:#222;}
.myaddrlist .edit,
.myaddrlist .sep{display:none;}
.myaddrlist .name_newaddr{font-weight:normal;color:#de0027;}
.myaddrlist .curr .edit{display:inline-block; position:relative; top:2px;color:#007ccf;}
.myaddrlist .curr .sep{display:inline; color:#fff;}
.myaddrlist input{float:left;margin:3px 0 0;*margin:-3px 0 0;margin:-2px 0 0\0;vertical-align:middle;}
.myaddrlist .name{margin:0 15px 0 8px; display:inline-block; overflow:hidden; vertical-align:middle; width:120px;}
.myaddrlist .addrinfo{margin-right:5px; display:inline-block; width:420px; overflow:hidden; vertical-align:middle;}
.ie7 .myaddrlist .addrinfo{position:relative; top:2px;}
.myaddrlist .phone{display:inline-block; vertical-align:middle; margin-right:50px;}
.formsubB .intxt{border:1px solid #ccc; width:280px; padding:4px 2px;}
.formsubB .intxt#mobile{width:145px;}
.formsubB .intxt#area{width:55px;}
.formsubB .intxt#tel{width:110px;}
.formsubB .intxt#extension{width:70px;}
.newaddr .intxt{vertical-align:middle;}
.formsubB select{border:1px solid #ccc;padding:3px 2px 3px 0;}
.formsubB li{padding:4px 0;}
.formsubB label{display:inline-block; width:90px; text-align:right;}
.formsubB .action{padding:10px 0 6px 90px;}
.formsubB .action .btn{width:160px;height:0;padding:39px 0 0;background:url(../Nest/img/checkout_sprite.png) 0 -488px no-repeat ;overflow:hidden;}
.formsubB .action .btn:hover{background-position:0 -533px;}
.formsubB .action .btn.cancel,
.formsubB .action .btn.cancel:hover{width:109px;margin-left:10px;background-position:0 -580px;}
.formsubB .action .btn span{padding:0;background:none;}
.need{color:#de0027;}
.newaddr{padding:13px 5px 0;background-color:#fff;border:1px solid #fff; color:#666; border-top:1px dotted #e5e5e5;}
.checkout .Validform_checktip{vertical-align:middle;}
.checkorder .tipmsg{padding:10px 20px 5px;}
.checkorder .tipmsg .Validform_wrong{padding:0px;color:#e52142;}
.checkorder .tipmsg li{border-top:0 none #ffcec3; padding:3px 0;}
.checkorder .tipmsg li a{color:#626164;}
.checkorder .tipmsg li a:hover{color:#de0027;}
.lineB{
	height:0;
	border:0;
	border-bottom:1px dotted #fea7b6;
	margin:10px 0;
	*margin:0;
}

.checkorder .table .pro{min-height:62px;_height:62px;}
.checkorder .table .pro .img{width:62px;height:62px;}
.checkorder .table .pro .img a{display:block;border:1px solid #dedede;}
.checkorder .table .pro .img a:hover{border-color:#da0523;}
.checkorder .table .pro .img img{width:60px;height:60px;}
/*.checkorder .table .title{border-left:0 none;}*/
.checkorder .table .gift td{border-left:0 none;border-right:0 none;}
.checkorder .table {border-bottom:0 none #fff;border-left:0 none #fff;border-right:0 none #fff;border-collapse:collapse;}
.checkorder .table td.title{width:550px;}

.selectsend{padding:3px 0 0;background-color:#fff;border-width:1px;border-style:solid;border-color:#fff;}
.selectsend table{width:100%;}
.selectsend table thead tr{font-size:14px;border-bottom:1px dotted #FFCEC3;color:#666;}
.selectsend table thead th{padding:7px 0; text-align:left;border-bottom:1px solid #e5e5e5;color:#FC405F; font-weight:normal;}
.selectsend table tbody tr{border-top:1px dotted #e5e5e5;}
.selectsend table tbody tr.first{border-top:0 none;}
.selectsend table tbody td{height:26px;padding:15px 0;color:#555;}
.selectsend table .firstCol{padding-left:20px!important;}
.selectsend table .name{color:#555;}
.selectsend table .price{padding-left:9px;background:url(../Nest/img/price_g.png) 0 -226px no-repeat;color:#666;}
:root selectsend table .price{ background-position:0 -227px\0;}
.selectsend table .tip{padding:0;border-top:0 none;}
.selectsend table .tip td{padding-top:0;color:#666;}
.selectsend table .shipIntruction td{ color:#777; padding: 2px 16px; line-height:2;}
.selectsend table .shipIntruction .shipFee{ font-weight:bold;}
.selectsend table .shipIntruction .shipFee .price16{ font-size:16px; padding-left:12px; color:#de0027;background:url(../Nest/img/price.png) 0 -295px no-repeat; background-position:0 -297px\9;}
:root .selectsend table .shipIntruction .shipFee .price16{ background-position:0 -295px\0;}

.sum_seller{}
.msg_to_seller{ margin:-15px -1px 0 0; _position:relative; width:554px; padding-top:12px; padding-bottom:11px; border-right:1px solid #f5f5f5;}
.msg_to_seller .label{color:#666; margin-left:11px; line-height:28px;}
.msg_to_seller .inarea{ height:70px; width:400px; resize:none; overflow:auto;}
.sum_seller .sum_box{ _position:relative; width:440px; margin:-15px -5px 0 0;border-left:1px solid #f5f5f5; zoom:1; overflow:hidden;}
.sum_seller .sum_box ul{ margin-top:-1px;}
.sum_seller .sum_box li{ padding:13px 5px 13px 20px;border-top:1px solid #f5f5f5;*float:left;}
.sum_seller .sum_box .label{_width:65px; min-width:65px; padding-right:9px; color:#666; text-align:right;}
.sum_seller .sum_box .item{width:205px; margin:-2px 0 -1px 0;}
.sum_seller .sum_box .fee{ text-align:left; width:78px; white-space:nowrap;}
.sum_seller .sum_box .fee_minus{ margin-left:-0.8em; display:inline-block; position:relative;} 
.sum_seller .select{ border-color:#dedede; width:177px; color:#666; padding:2px 2px 2px 0;}
.sum_seller .label_icon_youhui,
.sum_seller .icon_mian{ background-image:url(../Nest/img/checkout_sprite.png); background-repeat:no-repeat;}
.sum_seller .label_icon_youhui{width:63px; height:23px; display:inline-block; position:relative; top:-2px; *top:1px;  margin:-5px 0; background-position:-142px 0;}
.sum_seller .icon_mian{ display:inline-block; margin-top:-3px; margin-bottom:-3px; *vertical-align:middle; width:0; padding-left:17px; height:16px; overflow:hidden; background-position:-225px 0;}
.sum_seller_total{ background-color:#eee; margin:0 -5px -15px; padding:20px 30px 20px 20px;}
.sum_seller_total .label{ color:#666;}
.sum_seller_total .red .price18{ font-weight:400; color:#e03357; padding-left:14px; background:url(../Nest/img/price_r.png) 0 -299px no-repeat;}

.paytype .now,
.invest .tab .now{font-weight:normal; color:#e52142;}
.paytype input,
.invest .tab input{position:relative;top:-1px;vertical-align:middle; height:13px;}
.paytype .inner{border:0 none #fd9e8c; padding:15px 30px;background-color:#fff;color:#626164;zoom:1;}
.paytype .funclink { margin-left:145px;}
.paytype .inner_hasLabel{
	padding-left:85px;
}
.paytype .label_paytype{
	position:absolute;
	margin-left:-70px;
	margin-top:4px;
	color:#333;
}
.paytype_selected .label_paytype{
	margin-top:0;
}

.paytype{
	border:1px solid #fff;
	border-top:none;
}
.paytype_selected{
	border:1px solid #fff;
}
.paytype .tab,
.invest .tab{
	height:31px;
	padding:8px 0 0 16px;
	background:#fff;
	margin-bottom:1px;
}
.paytype .tabitem,
.invest .tabitem{
	float:left;
	display:block;
	font-size:14px;
	height:20px;
	line-height:20px;
	color:#555;
	vertical-align:middle;
	*position:relative;
	*top:-2px;
	cursor:pointer;
}
.paytype .tabitem:hover,
.invest .tabitem:hover{
	color:#DA0523;
}
.paytype .tab b,
.invest .tab b{
	float:left;
	font-size:16px;
	font-style:italic;
	color:#9b9a9b;
	width:0;
	height:20px;
	line-height:20px;
	padding-left:15px;
	overflow:hidden;
	display:inline-block;
	background:url(../Nest/img/home_sprites.png) 0 0 no-repeat;
	vertical-align:middle;
	margin:0 20px;
}
.paytype label.now,
.invest label.now{
	color:#DA0523;
	font-weight:bold;
}
.paytype .tabitem input,
.invest .tabitem input{
	position:absolute;
	visibility:hidden;
}



.pay_cod li{padding:5px 0;}
.banklist{padding:15px 25px!important;}
.banklist .tab{background:url(../Nest/img/banklist_tab_bg.png) repeat-x 0 bottom;}
.banklist .tab a{float:left;width:100px;height:36px;display:inline-block;zoom:1;line-height:36px;background-color:#fff;text-align:center;border-right:0px none #fd9e8c;border-bottom:0px none #fd9e8c;color:#666;}
.banklist .tab a:hover{color:#FC405F !important;text-decoration:none;}
.banklist .tab a.now{background-color:#fafafa;border-bottom:0px none #fff4f2;color:#FC405F;}
.banklist .tab a.now:hover{color:#FC405F !important;text-decoration:none;}
.banklist .tabc{padding:15px 30px;}
.banklist li{
	float:left;
	height:60px;
	width:173px;
}
.banklist img {
	display:block;
    border: 1px solid #ccc;
}
.banklist .current img,
.banklist a:hover img{
	border:1px solid #e03357;
}
.banklist label{
    display: inline-block;
    float: left;
	width:30px;
    height: 60px;
	overflow:hidden;
    vertical-align: middle;
}
.banklist li input {
    margin: 15px 10px 0 8px;
}
.banklistalter{}
.banklistalter li{padding-top:15px;}
.invest {color:#626164;}
.invest input{vertical-align:middle; margin-right:3px;}
.invest .intxt{width:220px;}
.invest .investc{ display:none;border:1px solid #e5e5e5;border-top:none;}
.invest .tab{padding:0;}
.invest .tabc .common{padding:9px 15px;background-color:#fff;border:0px none #FD9E8C; margin-top:10px;}
.invest .tbc_invest ul{padding:15px 0;}
.invest .tbc_invest li{padding:0 0 10px 130px;}
.invest .tbc_invest li label{width:130px;display:inline-block;zoom:1;margin-left:-130px;text-align:right;}
.invest .invest_ac{border:0px none #fd9e8c; background-color:#fff; line-height:20px;}
.invest .invest_ac .exp{padding:15px 25px;background-color:#fff;border-bottom:1px dotted #e5e5e5;color:#666; line-height:24px;}
.invest .invest_ac strong{color:#666;}
.fz14{font-size:14px;}
.fz14 input{vertical-align:middle; position:relative; top:-1px;}
.invest_need {font-size:12px;}
.invest_need input {vertical-align:middle; position:relative; top:-1px;}
.invest .gray{color:#b7b7b7;}
.invest .funclink { margin-left:112px;}
.invoice_agreement{ margin-left:80px; margin-bottom:20px;}
.tbc_invest .invoice_agreement{ margin-left:130px;}

.booklist_sub{border:2px solid #fff; background-color:#fff;}
.tb_booklist_sub{width:100%;}
.tb_booklist_sub th{padding:10px 15px; font-weight:normal; vertical-align:middle; text-align:left;font-size:16px;color:#222;}
.tb_booklist_sub td{padding:20px 20px 20px 30px; font-weight:normal; vertical-align:top; text-align:left;}

.savedInfo { margin-left:20px;}
.savedInfo .gray { color:#777;}

.remark{background-color:#ffe8e3;}
.remark .pro_replace{line-height:16px; text-align:left; font-family:"Microsoft Yahei",Arial;}
.tb_booklist_sub .remarkinfo{width:516px; padding-bottom:0;}
.remarkinfo .tit{display:inline-block;line-height:26px;font-weight:normal;vertical-align:top;color:#626164;}
.remarkinfo dl dt{position:relative;padding:3px 0 3px 20px;_width:590px;cursor:pointer;color:#626164;}
.remarkinfo dl dd{display:none;padding:5px 0 10px 20px;color:#626164;}
.remarkinfo .icon{position:absolute;left:0px;top:6px;*top:4px;_top:5px;display:inline-block;width:13px;height:13px;background:url(../Nest/img/checkout_sprite.png) no-repeat -100px 0;}
.remarkinfo .now{background-position:-120px 0;}
.remarkinfo .intxt{width:440px; height:16px; padding:4px; color:#666;  vertical-align:middle; background-color:#fff; border-color:#dedede;}
.remarkinfo .btn{width:98px;height:0;padding:29px 0 0;background:url(../Nest/img/checkout_sprite.png) no-repeat 0 -120px;overflow:hidden;vertical-align:middle; position:relative; top:1px;}
.remarkinfo .btnA{background-position:-100px -119px;}
.remarkinfo .btnB{background-position:-100px -59px;}
.remarkinfo .btnC{width:79px;background-position:-101px -29px;}
.remarkinfo .int{padding:5px 10px 5px 40px;color:#666;}
.remarkinfo .priceA_gray{ background-position:2px -226px;}
:root .remarkinfo .priceA_gray{ background-position:2px -227px\0;}
.remarkinfo a{ color:#848484;}
.gather{background-color:#ffd9d1; font-size:18px; color:#f52902 !important; font-family:"microsoft yahei";}
.tb_booklist_sub .gatherinfo{padding-right:20px; padding-bottom:0;}
.gatherinfo ul{}
.gatherinfo li{text-align:right; font-size:14px; font-weight:normal; padding:6px 0; font-family:"Microsoft Yahei", verdana; color:#646464;}
.gatherinfo .sum{color:#646464; white-space:nowrap; margin-bottom:10px;}
.gatherinfo .sum .price16{padding-left:13px;color:#da0523;background:url(../Nest/img/price.png) 0 -294px no-repeat;}
.gatherinfo .tit{display:inline-block; width:auto; float:none; text-align:right;font-family:"Microsoft Yahei",simsun,"Arial"; white-space:nowrap; color:#646464;}
.gatherinfo .price14{background:url(../Nest/img/price_g.png) 0 -309px no-repeat; background-position:0 -308px\9; }
:root .gatherinfo .price14{ background-position:0 -309px\0;}
.gatherinfo .fc_333{ color:#333;}
.gatherinfo .fc_333 .price14{ padding-left:9px; background-position:0 -388px;}
.gatherinfo .green{ color:#229313;}
.gatherinfo .green .price14{ padding-left:9px; background-image:url(../Nest/img/price_green.png)!important; background-position:0 -259px!important;}


/*.gatherinfo .total{font-size:24px;color:#de0027; line-height:30px; font-weight:bold;}
.gatherinfo .total_num{font-weight:bold;font-size:24px;color:#de0027;}
.gatherinfo .total_num .price24{background:url(../Nest/img/price.png) 0 -325px no-repeat; padding-left:17px; vertical-align:middle;}
*/
.gatherinfo .bdr{border-right:1px solid #b1e0fc; padding-right:30px;}
.togather{padding:20px 0 0; margin-left:-30px; margin-right:-30px; border-top:1px dotted #e7e7e7; font-size:30px; font-weight:bold;}
.togather .orange{font-size:26px; font-weight:normal; font-family:Verdana; position:relative; top:-12px;}
.togather p{text-align:right;}
.togather .total{color:#da0523;}
.togather .total_num{ color:#da0523; margin-right:50px;}
.togather .total_num .price30{background:url(../Nest/img/price.png) 0 -320px no-repeat; padding-left:17px;}
.sumList td{ padding:6px 0 6px 10px; color:#646464; font-size:14px;}
.sumList td.tl{text-align:left;}
.sumList td.tr{text-align:right;}

.btn_booklist_sub{display:inline-block; width:197px; height:0; padding-top:51px; overflow:hidden; background:url(../Nest/img/checkout_sprite.png) no-repeat left -180px;text-align:left;}
.btn_booklist_sub:hover { background-position:0 -433px;}
.btn_booklist_sub_disabled{display:inline-block; width:197px;  height:0; padding-top:51px; overflow:hidden; background:url(../Nest/img/checkout_sprite.png) no-repeat left -626px; cursor:default;}

.loading{ text-align:left;background:url(../Nest/img/onload.gif) no-repeat 15px 20px #fff; text-indent:40px; line-height:51px; height:51px; padding-top:0; color:#777!important; border:1px solid #aaa; border-radius:3px; cursor:default; -moz-border-radius:5px; -webkit-border-radius:5px;cursor:default; zoom:1;}
.loading:hover{text-decoration:none!important; background-position:15px 20px!important;}
.charactor{width:200px; display:none; z-index:1;}
.amtPop{width:auto;  display:none; right:auto; z-index:1;}
.ie6 .amtPop p {white-space:nowrap;}
/* ===== order finish ===== */
.order_finish{padding:25px 40px;background-color:#fff;border:1px solid #fff;}
.order_finish .tit{font-size:18px;font-weight:normal;color:#333;font-family:"microsoft yahei",SimHei,arial;}
.order_finish .inner .black{color:#333;}
.order_finish .inner .pink{color:#d9013e;}
.order_finish .inner li{width:808px;padding:5px 0 5px 100px;line-height:21px;}
.order_finish .inner li label{float:left;width:100px;margin-left:-100px;text-align:right;font-size:14px;color:#333;}
.order_finish .inner li p{display:block;}
.order_finish .inner li .num{position:relative;top:1px;}
.order_finish .inner .pay{float:left;width:129px;height:42px;display:inline-block;margin-right:40px;}
.order_finish .inner .pay img{border:1px solid #dcdcdc;}
.order_finish .inner .nowpay{ height: 39px;width: 130px;background:url(../Nest/img/checkout_sprite.png) no-repeat 0 -275px;}
.order_finish .inner .nowpay:hover{ background-position:0 -317px;}
.order_finish .inner .price{ _background-position:0 -583px;}
.order_finish_titgroup{ padding:25px 40px; background-color:#fff;border-bottom:1px solid #e7e7e7;}
.order_finish_titgroup h2{font-size:20px; color:#333; font-weight:normal; margin-bottom:5px;}
.order_finish_titgroup .total_num{font-weight:normal;font-size:16px;color:#de0027;}
.order_finish_titgroup .price16{ font-size:16px; font-weight:bold; padding-left:12px; color:#de0027;background:url(../Nest/img/price.png) 0 -295px no-repeat; background-position:0 -297px\9;}
:root .order_finish_titgroup .price16{ background-position:0 -295px\0;}



/* ===== pay help box ===== */
.payhelpbox{
	width:375px;
	position:absolute;
	right:400px;
	top:150px;
	background-color:#fff;
	-moz-box-shadow:2px 2px 3px rgba(0,0,0,.2);
	-o-box-shadow:2px 2px 3px rgba(0,0,0,.2);
	-ms-box-shadow:2px 2px 3px rgba(0,0,0,.2);
	-webkit-box-shadow:2px 2px 3px rgba(0,0,0,.2);
	box-shadow:2px 2px 3px rgba(0,0,0,.2);
}
.payhelpbox  h1{
	height:45px;
	padding:0;
	line-height:45px;
	font-size:20px;
	font-weight:normal;
	color:#fff;
	text-indent:35px;
	/*background:url(../Nest/img/logtit.gif) repeat-x;*/
	background-color:#E03357;
}
.payhelpbox .inner{
	padding:25px 38px;
	border:1px solid #d8d8d8;
	border-top:none;
	background-color:#fff;
}
.payhelpbox p{line-height:24px;font-size:14px;color:#333;}
.payhelpbox .active{padding-top:25px;}
.payhelpbox .active .btn{width:91px;height:0;padding:25px 0 0;overflow:hidden;background:url(../Nest/img/checkout_sprite.png) no-repeat 0 -365px;}
.payhelpbox .active .pblm{background-position:-105px -365px;}

.remarkinfo label{
	width:	80px;
	display:inline-block;
	zoom:1;
	height:20px;
}
.order_finish input
{
	vertical-align:middle;	
}
.order_finish .intxt{
	width:170px;	
}
.order_finish .formsub label{
	line-height:26px;	
}
.validCode{
	vertical-align:middle;
}
.btn_checkout_disabled{
	background:url(../Nest/img/shopping_cart_script.png) no-repeat left -262px;
	height:51px;
	width:176px;
	cursor:default;
	margin-top:-20px;
}
.btn_checkout_disabled:hover{
	cursor:default;
}
.order_finish .inner .select li{
	width:auto;
	line-height:22px;	
}
.order_finish .inner .intnobrd{
	border:0;
	position:absolute;
	width:150px;
	z-index:99;	
	left:108px;
	top:9px;
	padding:3px 0;
}
.btn_delete{float:left;width:28px;height:28px;display:inline-block;zoom:1;background:url(../Nest/img/btn_delete.png) no-repeat;border:1px solid #D7D7D7;border-left:0 none;}

.checkorder .table  .proB{
	height:auto;
	min-height:auto;	
}
.groupInfo td{
	padding-left:15px;
	text-align:left;
	border-top:1px dotted #D0D0D0;
	color:#333;
}
.groupInfo label {
	color:#666;
}
.groupInfo .mobile {
	color:#e52142;
}
.groupInfo .priceC_red {
	font-size:18px;
}
.groupInfoB td {
	border-left:1px solid #D8D8D8;
	border-right:1px solid #D8D8D8;
}
.groupInfoB .intxt {
	vertical-align:middle;
}
.groupInfoB .btn {
	vertical-align:middle;
}
.groupInfoC td {
	text-align:right;
	padding-right:117px;
}
.groupInfoD td {
	text-align:right;
	padding-right:78px;
}
.btn_parti{
	background:url(../Nest/img/shopping_cart_script.png) no-repeat left -349px;
	height:35px;
	width:120px;
}
.btn_parti:hover{
	background-position:left -390px;	
}
.icoSuccess {
	background:url(../Nest/img/icon_success.png) no-repeat;
	height:49px;
	width:49px;
	display:inline-block;
	zoom:1;
	vertical-align:middle;
}
.grouplucky_finish{
	padding:50px;
}
.grouplucky_finish h3 {
	margin-left:270px;
}
.grouplucky_finish .inner {
	padding-left:330px;
	font-size:14px;
}
.selectsend table tbody td i{
	font-style:normal;	
}
.prolistRecommend .tab a{
	display:inline-block;
	font-size:18px;
	height:24px;
	line-height:24px;
	color:#666;
	vertical-align:middle;
	*position:relative;
	*top:-2px;
}
.prolistRecommend .tab a:hover{
	text-decoration:none;
}
.prolistRecommend .tab b{
	font-size:16px;
	font-style:italic;
	color:#9b9a9b;
	width:0;
	height:25px;
	line-height:25px;
	padding-left:15px;
	overflow:hidden;
	display:inline-block;
	background:url(../Nest/img/home_sprites.png) 0 0 no-repeat;
	vertical-align:middle;
	margin:0 20px;
}
.prolistRecommend .tab .now{
	color:#DA0523;
}
.prolistRecommend .mover,
.prolistRecommend .delslider{
	height:258px;
}
.prolistRecommend .delslider{
	margin-left:auto;
	margin-right:auto;
	width:988px;
	overflow:visible;
}
.prolistRecommend .abtn{
	top:80px;
}
.prolistRecommend .nav{
	position:absolute;
	right:0;
	top:-30px;
}
.prolistRecommend .nav a{
	display:inline-block;
	float:left;
	width:17px;
	height:0;
	overflow:hidden;
	padding-top:17px;
	background:url(../Nest/img/home_sprites.png) -5px -363px no-repeat;
}
.prolistRecommend .nav .current{
	background-position: -5px -387px;
}
.prolistRecommend .tabc{
	background:#fff;
	margin-top:12px;
	height:258px;
}
.prolistRecommend .prolist{
	position:relative;
	padding-left:0;
	background:#fff;
	width:9760px;
}
.prolistRecommend .prolist li{
	float:left;
	width:200px;
	height:238px;
	padding:10px 22px;
}
.prolistRecommend .prolist .img{
	display:block;
	height:150px;
	width:150px;
	margin:0 auto 5px;
}
.prolistRecommend .prolist .tit{
	height:36px;
	margin-bottom:10px;
}
.prolistRecommend .prolist .tit a{
	color:#666;
}
.prolistRecommend .prolist .tit a:hover{
	color:#da0523;
}
.prolistRecommend .prolist .pp{
	position:relative;
	height:24px;
}
.prolistRecommend .prolist .priceline,
.prolistRecommend .prolist .btn_addcart{
	position:absolute;
	left:50%;
	margin-left:-60px;
	display:inline-block;
	width:121px;
	height:24px;
	text-align:center;
	background:url(../Nest/img/shopping_cart_script.png) 0 -596px no-repeat;
}
.prolistRecommend .prolist .priceline{
	font-weight:bold;
	color:#de0029;
}
.prolistRecommend .prolist .priceline .price{
	margin-top:3px;
	font-size:14px;	
	padding-left:10px;
	margin-top:5px\9;
	margin-top:4px\0;
	background-image:url(../Nest/img/price.png);
	background-position:0 -395px;
	background-position:0 -396px\0;
	*background-position:0 -397px;
}
:root .prolistRecommend .prolist .priceline .price{
	margin-top:3px\0;
	background-position:0 -395px\0;
}
.prolistRecommend .prolist .btn_addcart{
	display:none;
	color:#fff;
	line-height:23px;
	line-height:25px\9;
	*line-height:24px;
	background-position:0 -626px;
	z-index:2;	
}
:root .prolistRecommend .prolist .btn_addcart{
    line-height:23px\0;
}
.prolistRecommend .prolist .btn_addcart:hover{
	text-decoration:none;
}
.prolistRecommend .prolist .pp_hover .btn_addcart{
	display:inline-block;
}
.sliceOrderLine td{ padding:0;border-bottom:10px solid #f5f5f5;}
.cartlist .table .sliceOrder {
	background-image:none;
	padding:10px 30px 10px 15px;
	background-color:#eee;
	color:#666;
	margin-top:-1px;
	*position:relative;
	*zoom:1;
}
.sliceOrder .priceA_gray{
	background-position:2px -226px;
	background-position:2px -226px\0;
	*background-position:2px -227px;
}
:root .sliceOrder .priceA_gray{
	background-position:2px -226px\0;
}
.sliceOrder .icon_mian{ display:inline-block; margin-top:-3px; margin-bottom:-3px; *vertical-align:middle; width:0; padding-left:17px; height:16px; text-decoration:none; overflow:hidden;background:url(../Nest/img/checkout_sprite.png) no-repeat -225px 0;}
.cartlist .table .sliceOrder .input_label{
	padding-left:20px;
	background:#eee url(../Nest/img/shopping_cart_script.png) 0 -433px no-repeat;
	background-repeat:no-repeat!important;
}
.cartlist .table .sliceOrder .label_text{
	background:#eee;
}
.cartlist .table .sliceOrder .ckbox,
.cartlist .table .sliceOrder .input_radio{
	width:12px;
	height:12px;
	border:none;
	margin:0;
	padding:0;
	*height:18px;
}
.cartlist .table .sliceOrder .ckbox{
	margin-right:15px;
}
.cartlist .table .sliceOrder .input_radio{
	margin-right:2px;
}
.cartlist .table .sliceOrder .price14{
	background:url(../Nest/img/price_g.png) 0 -309px no-repeat; background-position:0 -310px\9; 
}
:root .cartlist .table .sliceOrder .price14{ background-position:0 -309px\0;}