@import url("../ele_css/ele_rating.css");
@charset "gb2312";
.printOp{
	position:absolute;
	right:0;
	top:3px;	
}
.printOp .btn{
	padding-left:20px;	
}
.printOp .btn span{
	padding-right:20px;	
}

.btn_addcart,
.btn_notify
{
	background:url(../Nest/img/product_sprite.png) no-repeat;
	width:182px;
	height:44px;
	background-position:left -399px;
}
.btn_addcart:hover{
	background-position:left -399px;
}
.cateprolist .btn_addcart{
	float:left;
}
.remark dd s{
	background:url(../Nest/img/product_sprite.png) no-repeat;
}
.remark{position:relative; float:left;height:26px; line-height:26px; z-index:1;}
.remark dd{
	position:absolute;
	right:-208px;
	top:-8px;
	display:none;
	background:#fff;
	padding:5px 12px;
	font-size:12px;
	width:170px;
	color:#888;
	border:1px solid #d8d8d8;
	box-shadow:2px 2px 0 rgba(0,0,0,.05);
}
.remark dd s{
	background-position: -157px -181px;
    height: 15px;
    position: absolute;
    left: -9px;
    top:12px;
    width: 8px;
}
.remark p{
	line-height:20px;
	padding:4px 0;
}
.remark .rate{margin-top:-5px; margin-right:3px;}
#compare .btn_addcart{
	width:182px;
	height:44px;
	background-position:left -81px;
}
#compare .btn_addcart:hover{
	background-position:left -125px;
}
#compare .btn_notify{
	width:182px;
	height:44px;
	background-position:left -542px;
}
#compare .btn_notify:hover{	
	background-position:left -587px;
}
#compare .btn{
	vertical-align:middle;
	padding-left:15px;
}
#compare .btn span{
	padding-right:15px;	
}
#compare{
	background:#fff;
}
#compare th{	
	border-right:1px dotted #e7e7e7;
	border-bottom:1px dotted #e7e7e7;
	color:#666;
	width:82px;
	padding:10px 10px 10px 15px;
	font-weight:normal;
	font-size:14px;
}
#compare .price{
	font-weight:bold;
	background-position:0 -584px;
	*background-position:left -586px;
}
#compare td{
	border:1px dotted #e7e7e7;
	text-align:center;
	padding:10px 5px;
	font-size:14px;
	color:#414141;
}
#compare .title{
	background:#eee;
	font-size:16px;
	color:#666;
	border:0;
	text-align:left;
	padding:8px 15px;
	font-weight:bold;
	border-bottom:1px dotted #e5e5e5;
	border-top:1px dotted #e5e5e5;
}
#compare .delete .del{
	background:url(../Nest/img/sprite.png) no-repeat ;
	padding-left:22px;
	background-position:left -1028px;
	color:#666;
	display:inline-block;
	width:auto;
	height:auto;
	line-height:20px;
}
#compare .ele .price{
	color:#e10023;
}
#compare .delete .del:hover{
	color:#c40000;
	text-decoration:none;
	background-position:left -1058px;
}
#compare .delete th,
#compare .delete td
{
	
	border-bottom:0 none;
	border-top:0 none;
}
#compare .bottominrow td,
#compare .bottominrow th
{
	border-bottom:0;
	
}
#compare .bottomrow td,
#compare .bottomrow th
{
	border-bottom:0 none #d8d8d8;
	
}
#compare .btnpanelrow td,
#compare .btnpanelrow th{
	padding:20px 0;
}
#compare .name{
	line-height:18px;
	height:36px;
	overflow:hidden;
	font-size:12px;	
}
#compare .name a{color:#333;}
#compare .name a:hover{color:#c40000;}
#compare .product td{
	border-top:none;
}
#compare .product .now a{
	color:#ac0807;
}
#compare .comment a{color:#333;}
#compare .comment a:hover{color:#c40000;}

.product img{
	width:150px;
	height:150px;	
}