@import url("../ele_css/ele_rating.css");
.wraper {
	width:1000px;
}
#footer .wraper{
	width:760px;
}
#footer .footerInfo .wraper{
	width:1000px;
}
#menu .menubar{
	min-width: 1000px;
}
#menu .navigation{
	width:680px;
}
.footer dl{
	padding-right:10px;
}
.footer dt,.footer dd{
	margin-left:35px;
}
.crumb{
	margin-bottom:9px;
}
.mr40{
	margin-right:40px;
}
.countdownPanelBox{
	background:#fff;
	padding:16px 0;
	margin-bottom:1px;
}
.countdownPanel{
	width:510px;
	height:46px;
	margin:0 auto;
	font-family:microsoft yahei,SimHei;
	font-size:15px;
	line-height:46px;
	color:#000;
	vertical-align:middle;
	text-align:right;
	background:#fff url(../Nest/img/countdown_panel.png) center 0 no-repeat;
	padding:0 30px 0 0;
}

.countdownPanel .num{
	height:46px;
	width:32px;
	display:inline-block;
	font-size:20px;
	color:#fff;
	text-align:center;
	margin:0 3px 0 43px;
	background:url(../Nest/img/countdown_panel.png) 0 -73px no-repeat;
}
.wbp25_0{
	background:#fff;
	padding:25px 0;
}
.catepro ul{
	padding:0 20px;
	background:url(../Nest/img/dottelineB.gif) left bottom repeat-x;
}
.catepro .prolist li{
	width:200px;
	height:330px;
	
}

.catepro .prolist .btns{
	margin-top:5px;
	margin-left:-1px;
}
.catepro .prolist .tit{
	margin: 3px 0;
}
.btn_countdown,
.btn_countdown_end,
.btn_countdown_over { display:inline-block;width:154px;height:0;padding-top:39px; overflow:hidden; background-image:url(../Nest/img/btn_countdown.png); background-repeat:no-repeat;}
.btn_countdown:hover { background-position:0 -41px;}
.btn_countdown_end { background-position:0 -82px;}
.btn_countdown_end:hover { cursor:default;}
.btn_countdown_over { background-position:0 -125px;}
.btn_countdown_over:hover { cursor:default;}