@import url("../ele_css/ele_pagenav.css");
/* Reset Layout: Header */
.wraper {
	width:1000px;
}
#footer .wraper{
	width:760px;
}
#footer .footerInfo .wraper{
	width:1000px;
}
#menu .menubar{
	min-width: 1000px;
}
#menu .navigation{
	width:680px;
}
.footer dl{
	padding-right:10px;
}
.footer dt,.footer dd{
	margin-left:35px;
}
.ml50{
	margin-left:50px;
}
/*#menu .navigation{
	left:0;
}*/
.crumb{
	background-image:none;
}
.navigationB {}
.navigationB li {
	float:left;
	height:39px;
	line-height:38px;
	margin-right:1px;
}
.navigationB li a{
	color: #fff;
    display: inline-block;
    font-family: "microsoft yahei",SimHei,Arial;
    font-size: 18px;
    font-weight: normal;
    height: 39px;
    padding:0 37px;
    position: relative;
	overflow:hidden;
}
.navigationB li a:hover {
	color: #fff;
	text-decoration:none;
	background-color:#a61307;
}
.navigationB .now a {
	background-color:#a61307;
}
.searchbar {
	width:400px;
}
.searchbar .intxt{
	width:335px;
}
.searchbar .hot {
	width:415px;
}
#searchtip {
	width:356px;
}

.utility,
.utility dl,
.utility dl dt a{
	background-image:url(../Nest/img/bg_utilityB.png);
}
.utility {
	position:absolute;
	right:0;
	background-position:0 -40px;
	background-repeat:repeat-x;	
}
.utility dl {
	float:left;
	height:39px;
}
.utility dl dt {
	float:left;
	display:block;
}
.utility dl dt a {
	display:inline-block;
	height:39px;
	padding:0 15px 0 40px;
	font-family:"Microsoft Yahei",SimHei,Arial;
	font-size:14px;
	color:#8a5400;
	line-height:40px;
	text-shadow:0px 0px 1px #e29917;
	background-repeat:no-repeat;
}
.utility dl dt a:hover {
	color:#623d04;
	text-decoration:none;
}
.utility .mycart {
	position:static;
	top:0;
	background-position:0 0;
}
.utility .mycart dt {
	width:auto;
	height:39px;
	background-image:none;
	padding-left:7px;
}
.utility .mycart dt a {
	background-position:13px -161px;
}
.utility .mycart dd {
	top:23px;
}
.utility .mycart .cart h3 {
	background-image:url(../Nest/img/bg_utilityD.png);
}

.utility .myhistory {
	background-position:right -81px;
}
.utility .myhistory dt {
	padding-right:1px;
	background:url(../Nest/img/bg_utilityB.png) 0 -121px no-repeat;
}
.utility .myhistory dt a {
	background-position:13px -201px;
}

/* Reset Layout: Footer */
#footer.footer_b {}
#footer.footer_b .footer {
	width:695px;
	padding-left:0;
}
#footer.footer_b .concern {
	width:304px;
	background-position:0 -520px;
}
#footer.footer_b .concern a.item1 {
	width:141px;
}
#footer.footer_b .concern a.item2 {
	width:144px;
}
#footer.footer_b .concern .intro {
	left:119px;
	top:64px;
	width:168px;
}
#footer.footer_b .concern .intro strong {
	font-size:12px;
	margin-bottom:5px;
}
#footer.footer_b .concern .intro p {
	text-align:justify;
	text-justify:inter-ideograph;
}
/* Group Body Section */
.group {
	padding-top:10px;
	background:#f5f5f5;
}
.group .topbanner {
	position:relative;
	width:1000px;
	height:250px;
	overflow:hidden;
}
.group .topbanner ul {
	position:relative;
	width:1000px;
}
.group .topbanner li {
	float:left;
	width:1000px;
	height:250px;
}
.group .topbanner .nav {
	position:absolute;
	right:10px;
	bottom:7px;
}
.group .topbanner .nav a {
	display:block;
	float:left;
	margin-right:-1px;
	border:1px solid #c7cdce;
	background-color:#e5f2f6;
	color:#cb362a;
	font-family:Verdana,Arial;
	padding:2px 5px;
	line-height:1;
}
.group .topbanner .nav a:hover {
	text-decoration:none;
}
.group .topbanner .nav .current {
	position:relative;
	border-color:#e58d2d;
	background-color:#e6a156;
	color:#fff;
	padding:3px 5px;
	top:-1px;
}
.group .topbanner .close {
	position:absolute;
	display:block;
	right:7px;
	top:5px;
	width:13px;
	height:13px;
	text-indent:-200px;
	overflow:hidden;
	background:url(../Nest/img/close_group_banner.png) 0 0 no-repeat;
}

.filtertype {
	position:relative;
	zoom:1;
	z-index:1;
	background-color:#fff;
}
.filtertype li {
	position:relative;
	zoom:1;
	border-bottom:1px solid #f5f5f5;
}
.filtertype li.hidden {
	position:absolute;
	left:0;
	visibility:hidden;
	z-index:-1;
	_position:static;
	*height:0;
	*overflow:hidden;
}
.filtertype dt {
	display:block;
	position:relative;
	float:left;
	top:0px;
	width:80px;
	padding:14px 0 7px;
	font-size:12px;
	font-family:"microsoft yahei",SimHei, tahoma;
	color:#333;
	text-align:right;
	background-position: 0 top;
}
.filtertype .priceOption dt {
	top:1px;
}
.filtertype .selected {
	background:url(../Nest/img/bg_category_selected.png) #fff no-repeat 0 bottom !important;
}
.filtertype .selected dt {
	background:url(../Nest/img/bg_category_selected.png) no-repeat 0 0 !important;
	color:#4d4d4d;
}
.filtertype .selected label {
	border:1px #ed145b solid;
	position:relative;
	padding-right:20px;
	height:20px;
	line-height:18px;
	line-height:20px\9;
	color:#ed145b;
}
.filtertype .selected label a {
	color:#ed145b;
}
.filtertype .selected .close {
	display:block;
	color:#fff;
	position:absolute;
	top:0;
	right:0;
	height:20px;
	padding:0;
	width:21px;
	background:#ed145b url(../Nest/img/btn_close.gif) 0 -1px no-repeat;
	text-indent:-2000px;
	overflow:hidden;
}
.filtertype .selected .blue {
	*position:relative;
	*top:-6px;
}
.filtertype dt strong {
	display:inline-block;
	margin-right:5px;
	margin-left:5px;
	font-weight:normal;
}
.filtertype dl {
	background-color:#fff;
	background-position: 0 bottom;
	background-repeat:repeat-y;
}
.filtertype .highlight {
	padding-bottom:1px;
}
.filtertype .highlight dl{
	background-color:#fff;
}
.filtertype .highlight dt{
	color:#e42141;
}
.filtertype .highlight a {
	color:#e42141;
}

.filtertype dd {
	margin-left:85px;
	padding:14px 10px 10px 0;
	zoom:1;
	overflow:hidden;
}
.filtertype dd .inner {
	/*max-height:46px;
 	_height:expression((this.offsetHeight>=46)?46:"auto");*/
	overflow:hidden;
	padding-right:20px;
}
.filtertype .currOption dt {
	top:2px;
}
.filtertype .currOption dd {
	padding-bottom:1px;
}
.filtertype .currOption dd .inner{
	max-height:inherit;
	height:auto;
	overflow:hidden;
}
.filtertype .priceOption dd .inner{
	max-height:inherit;
	height:auto;
	overflow:hidden;
}
.filtertype dd .innerNoCollapse {
	max-height:none;
	_height:auto;
}
.filtertype dd label {
	display:inline-block;
	margin:0 6px 5px 0;
	font-family:Microsoft Yahei,Verdana, Arial, SimSun;
	*font-family:Verdana, Arial, SimSun;
	white-space:nowrap;
}
.filtertype .ckbox {
	padding-left:15px;
	background:url(../Nest/img/filter_ele.png) 5px -58px no-repeat;
}
.filtertype .ckbox_checked {
	background-position: 5px -85px;
}
.filtertype a {
	color:#666;
}
.filtertype a:hover {
	color:#f2405d;
}
.filtertype dd label a {
	padding:2px 5px;
}
.filtertype .itemslted {
	background:#c40000;
	color:#fff;
}
.filtertype .itemslted a, 
.filtertype .itemslted a:hover, 
.filtertype .itemslted:hover {
	color:#fff!important;
	text-decoration:none;
}
.filtertype .subitem {
	margin-left:5px;
	margin-top:5px;
	background-color:#f6f6f6;
	border:1px solid #d8d8d8;
	padding:10px 5px 5px 10px;
}
.filtertype dd em {
	font-style:normal;
	color:#a2a2a2;
}
.filtertype dd a:hover em {
	color:#f52800;
}
.filtertype .itemslted em,
.filtertype .itemslted a:hover em{
	color:#fff;
}

.filterbox {
	
	overflow:hidden;

	_zoom:1;
}
.filterbox h2 {
	height:38px;
	line-height:38px;
	padding-left:10px;
	color:#f52800;
	font-family:SimSun;
	border-left:1px solid #e9e9e9;
	border-right:1px solid #e9e9e9;
}
.filterbox h2 .arrow {
	font-weight:normal;
	color:#666;
}
.filterbox h2 .gray {
	color:#666;
}
.filterbox .filter_oper {
	position:relative;
	zoom:1;
	height:27px;
	z-index:1;
	top:0;
	border-top:1px solid #ececec;
}
.filterbox .filter_oper a {
	position:relative;
	z-index:1;
	zoom:1;
}
.filterbox .btn_slide {
	display:block;
	height:27px;
	background-image:url(../Nest/img/filter_ele.png);
	background-repeat:no-repeat;
}
.filterbox .viewmore {
	position:absolute;
	top:-6px;
	height:30px;
	text-align:center;
	left:50%;
	margin-left:-60px;
	border:1px solid #ececec;
	border-top-color:#fff;
	background-color:#fff;
	border-radius:0px 0px 5px 5px;
}
.filterbox .viewmore a {
	display:block;
	height:26px;
	width:94px;
	line-height:25px;
	color:#027dcb;
	padding-right:15px;
	border-bottom:1px solid #ececec;
	background:url(../Nest/img/filter_ele.png) 80px -212px no-repeat;
}
.filterbox .viewmore .close {
	width:110px;
	background-position:101px -242px;
}
.filterbox .btn_slide {
	display:none;
	position:absolute;
	width:32px;
	height:17px;
	overflow:hidden;
	right:4px;
	bottom:0;
	background-position:0 -161px;
}
.filterbox .btn_close {
	background-position:0 -188px;
}
.filterbox .func {
	position:absolute;
	top:10px;
	right:10px;
}
.filterbox .func a {
	position:relative;
	display:inline-block;
	height:18px;
	line-height:19px;
	border:1px solid #ccc;
	color:#8a8a8a;
	background-color:#fff;
	margin-left:5px;
	font-family:SimSun;
	overflow:hidden;
}
.filterbox .func a:hover {
	color:#f52800;
	text-decoration:none;
	border-color:#f52800;
}
.filterbox .func s {
	display:inline-block;
	position:absolute;
	width:8px;
	height:8px;
	background-image:url(../Nest/img/filter_ele.png);
	background-repeat:no-repeat;
}
.filterbox .btn_multi {
	padding-left:18px;
	padding-right:5px;
}
.filterbox .btn_multi s {
	top:5px;
	left:5px;
	background-position:0 -120px;
}
.filterbox .btn_multi_now,
.filterbox .btn_more_now {
	color:#f52800!important;
	border-color:#f52800!important;
}
.filterbox .btn_multi:hover s,
.filterbox .btn_multi_now s {
	background-position:0 -145px;
}
.filterbox .func .btn_more {
	display:none;
	padding-left:5px;
	padding-right:18px;
}
.filterbox .btn_more s {
	top:5px;
	right:5px;
	width:9px;
	background-position:0 -170px;
}
.filterbox .btn_more:hover s{
	background-position:0 -282px;
}
.filterbox .btn_more_now:hover s,
.filterbox .btn_more_now s {
	background-position:0 -194px;
}
.filterbox .func .btn_visible {
	display:inline-block;
}

body.ie6 {
	_background-image:url(about:blank);
    _background-attachment:fixed;
}
/* Fixed layer class for Sidemenu */
.sideFixed {
	position:fixed;
	top:0;
	z-index:10;
}
.ie6 .sideFixed{
	_position:absolute;
	_top:expression(documentElement.scrollTop-186);
}
.sidePlaceHolder {
	overflow:hidden;
}

/* Fixed layer class for Side Ads*/
.sideAdFixed {
	position:fixed;
	top:0;
	z-index:10;
}
.ie6 .sideAdFixed{
	_position:absolute;
	_top:expression(documentElement.scrollTop);
}
#sideFloatAd.sideAdFixed {
	background-color:#fff;
}
.sideAdWrap {}


/* Sidemenu Areal */
.sideareaWrap {
	position:absolute;
	width:126px;
	left:0;
	z-index:10;
}
.sidearea {}
.sidecate h2,
.sidecate li,
.sidecate li a{
	background:url(../Nest/img/bg_sidecate.png) no-repeat;
}
.sidecate {
	width:126px;
	background-color:#cb040f;
	box-shadow:0px 2px 5px rgba(0,0,0,.75);
	-webkit-box-shadow:0px 2px 5px rgba(0,0,0,.75);
	-moz-box-shadow:0px 2px 5px rgba(0,0,0,.75);
	-ms-box-shadow:0px 2px 5px rgba(0,0,0,.75);
	-o-box-shadow:0px 2px 5px rgba(0,0,0,.75);
}
.sidecate h2 {
	height:31px;
	text-align:center;
	color:#fff;
	font-family:"Microsoft Yahei",SimHei,Arial;
	font-size:14px;
	line-height:30px;
	border-bottom:1px solid #d30d18;
	margin-bottom:10px;
}
.sidecate .innerwrap {
	background-color:#cb040f;
	overflow:hidden;
	padding-bottom:10px;
	zoom:1;
}
.sidecate ul {
	margin-top:-2px;
}
.sidecate li {
	height:28px;
	padding-left:24px;
	background-position:-133px -29px;
	overflow:hidden;
}
.sidecate li a {
	display:inline-block;
	color:#fff;
	padding-left:13px;
	background-position:-269px 0;
	line-height:30px;
}
.sidecate li a:hover {
	color:#f4e3e4;
	text-decoration:none;
}
.col_770{
	width:770px;
	_margin-right:-100%;	
}
.col_720{
	width:720px;
	_margin-right:-100%;	
}
.col_711{
	width:711px;
	_margin-right:-100%;	
}
.col_260{
	width:260px;	
}
.mr15{
	margin-right:15px;
}
.f18p{
	font-size:18px;	
}
.proSection{
	overflow:visible;
	_overflow:hidden;
	margin-right:-20px;
	*zoom:1;
}
.proSection .probox{
	position:relative;
	width:370px;
	height:260px;
	background:#fff;
	zoom:1;
	padding:10px;
	padding-left:390px;
	margin-bottom:10px;	
}
.probox .timelimit{
	background:#fdf5f4 url(../Nest/img/group_btns.png) 7px -177px no-repeat;
	font-size:16px;
	color:#c40001;
	font-weight:normal;
	height:32px;
	width:322px;
	line-height:32px;
	overflow:hidden;
	font-size:18px;
	padding:0 0 0 36px;
}
.probox .title{
	color:#555;
	line-height:50px;
	font-weight:normal;
	
}
:root .probox .title{
	fitler:none \0;
}
.probox .title .titInner{
	height:51px;
	overflow:hidden;
	font-size:22px;
}
.probox .title .subtitle{
	height:40px;
	line-height:20px;
	overflow:hidden;
	font-size:14px;
	margin-bottom:15px;
}
.probox .title .subtitle a{
	color:#999;
}
.probox .title a{
	color:#555;	
}
.probox .title a:hover{
	text-decoration:underline;
}
.probox .brand{
	color:#626164;	
}
.probox .pic{
	height:260px;
	width:360px;
	overflow:hidden;
	float:left;
	position:absolute;	
	top:10px;
	left:10px;
	zoom:1;
	text-align:center;
}
.probox .pic img{
	height:260px;
}
.probox .joinnum{
	font-family:"microsoft yahei",Arial;
	color:#999;
	width:70px;
	font-size:12px;
}
.probox .joinnum .joinInner{
	
}
.probox .joinnum .joinInnerB{
	position:relative;
	font-size:18px;
	white-space:nowrap;
}
.probox .joinnum ins{
	text-decoration:none;
	color:#e12140;
}
.probox .pricearea{
	color:#999;	
}
.probox .pricearea .price_old,
.probox .pricearea .price_gray{
	font-size:14px;
	margin-right:15px;
	background:url(../Nest/img/price_g_999.png) no-repeat;
	color:#999;
	padding-left:12px;
	background-position:2px -59px;
	*background-position:2px -59px;
	_background-position:2px -60px;
	font-weight:normal;
	font-family:"microsoft yahei",Tahoma,arial
}
.probox .pricearea .price_old{
	position:relative;
	top:-2px;
}
.probox .pricearea .priceGroup{
	color:#e42141;
	font-size:36px;
	padding-left:13px;
	font-weight:bold;
	font-family:verdana,"microsoft yahei",arial;
	background:url(../Nest/img/group_btns.png) 0 -214px no-repeat;
	background-position:0 -213px\9;
	line-height:52px;
}
:root .probox .pricearea .priceGroup{
	background-position:0 -229px\0;
}
.probox .pricearea .pro_icon3{
	background:url(../Nest/img/pro_prom_pic.png) no-repeat;
	height:16px;
	width:33px;
	position:relative;
	top:-1px;
	margin-left:0;
}
.probox .pricearea .pro_icon3{
	background-position:0 -46px;	
}
.probox .pricearea .sale{
	color:#222;
	font-size:14px;
	font-family:Tahoma,"microsoft yahei",arial;
}
.probox .btnarea{
	color:#666;
	position:absolute;
	right:20px;
	bottom:10px;
	
}

.probox .btn_join,
.probox .btn_over,
.probox .btn_soldout{
	
	width:64px;
	height:75px;
	
	background:url(../Nest/img/group_btns.png) 0 0 no-repeat;
}
.probox .btn_join{
	background-position:0 0;
}
.probox .btn_join:hover{
	background-position:-69px 0;
}
.probox .btn_over{
	background-position:-138px 0;
}
.probox .btn_soldout{
	background-position:0 -80px;
}
.probox .btn_over:hover,
.probox .btn_soldout:hover{
	cursor:default;
}

.proSectionB{
	margin-top:0;	
}
.proSectionB .title{
	margin-bottom:20px;	
}
.proSectionB .probox{
	height:	400px;
}
.sharebox{
	overflow:hidden;
	padding:0 0 15px 0;
}
.sharebox h3{
	color:#000;
	font-size:14px;
	font-family:"microsoft yahei";
	font-weight:normal;
	line-height:30px;
	height:30px;
	margin:0 0 25px;
}
.sharebox a {
    background:url(../Nest/img/share.png) no-repeat;
    display: inline-block;
    float: left;
    height: 32px;
    margin: 0 9px;
    overflow: hidden;
    text-indent: -20000px;
    width: 32px;
}
.sharebox p{
	height:32px;
	margin-bottom:10px;
	padding-left:10px;
	
}
.sharebox .share_ico1 {
    background-position: left top;
}
.sharebox .share_ico2 {
    background-position: left -32px;
}
.sharebox .share_ico3 {
    background-position: left -64px;
}
.sharebox .share_ico4 {
    background-position: left -96px;
}
.sharebox .share_ico5 {
    background-position: left -128px;
}
.sharebox .share_ico6 {
    background-position: left -160px;
}
.sharebox .share_ico7 {
    background-position: left -192px;
}
.sharebox .share_ico8 {
    background-position: left -224px;
}
.sharebox .share_ico9 {
    background-position: left -256px;
}
.book{	
	height:110px;	
	border:1px solid #e8e8e8;
	border-top:none;
}
.book h3{
	height:	29px;
	line-height:28px;
	padding-left:17px;
	color:#fff;
	font-size:14px;
	font-family:"microsoft yahei";
	font-weight:normal;
	background:#c1020f;
	margin:0 -1px;
}
.book .bookform{
	position:relative;
	padding:20px 0 0 11px;
	*zoom:1;
}
.book .bookform .intxt{
	background:none;
    width: 176px;
	padding:8px 4px;
	border:1px solid #cdcdcd;
	color:#333;
	*margin-top:-1px;
}
.book .bookform .hasDefaultText{
	color:#919191;
}
.book .bookform p{
	padding-left:18px;
	padding-top:10px;
	color:#a9a9a9;
}
.book .bookform .btn_book{
	display:block;
	position:absolute;
	width:	52px;
	height: 34px;
	overflow:hidden;
	left:195px;
	top:20px;
	background:#f43c56;
	color:#fff;
	text-align:center;
	line-height:34px;
}
.book .bookform .btn_book:hover{
	text-decoration:none;
	background-color:#ff536b;
}
.box{
	
	background:#fff;
}
.col_260 .block{
	box-shadow:0 0 5px #E8E8E8;
}
.box .inner{
	
	border-top:0;
}
.box h3{
	height:51px;
	line-height:50px;
	font-size:16px;
	color:#e13358;
	padding:0 18px;
	border-bottom:1px solid #eaeaec;
	
	font-weight:normal;
}
.box .more{
	float:right;
	margin-right:13px;
	line-height:28px;
	height:29px;	
	color:#bfbfbf;
	font-size:12px;
}
.box .list{
	padding:8px 0;	
}
.box .list li{
	height:26px;
	line-height:26px;
	padding:0 17px;
	overflow:hidden;
}
.boxB h3{
	background:#c1020f;
}
.btn_gray24,
.btn_gray24 span,
.btn_red24,
.btn_red24 span
{
	background-image:url(../Nest/img/sprite_btnB.png);
	height:24px;
	line-height:24px;
}
.btn_gray24 em{
	font-style:normal;
	*margin-top:4px;
}
.btn_gray24{
	padding-left:13px;
}
.btn_red24{
	background-position:left -28px;
	color:#fff;
	padding-left:13px;
}
.btn_red24 .cmnTxt{
	color:#fff;
	padding-left:0;
	background-position:-1000px;
}
.btn_gray24 span{
	padding-right:13px;
}
.btn_red24 span{
	background-position:right -28px;
	color:#fff;
	padding-right:13px;
}

.sidebox .prolist{
}
.sidebox .prolist li{
	width:180px;
	height:250px;
	padding:10px 20px;
	/*background:url(../Nest/img/line_doteA.png) repeat-x bottom;*/
}
.sidebox .prolist .tit{
	padding-top:20px;
}
.sidebox .prolist li.last{
	/*background:#fff;	*/
	background:url(../Nest/img/line_doteA.png) repeat-x 0 top;
}
.sidebox .prolist .img img{
	width:160px;
	height:160px;	
}
.sidebox .prolist .price{
	font-size:14px;
}
.sidebox .prolist .btn span{
	width:	89px;
}
.sidebox .iconProm span{
	left:auto;
	top:-9px;
	right:-32px;
	_right:0;	
}
.sidebox .prolist .btn_gray24 em{
	font-style:normal;
} 
.fankuibox{
	background:url(../Nest/img/group_yjbox.png) no-repeat;
	width:784px;
	height:674px;
	margin:30px auto;
	padding:0 10px;
	color:#666;
	font-size:14px;
}
.fankuibox h1{
	text-align:center;
	height:76px;
	line-height:76px;
	padding-top:10px;
	color:#000;
	font-weight:normal;
	font-size:32px;
	font-family:"microsoft yahei",arial;
	text-shadow:0 0 1px #000;
}
.fankuibox .desc{
	border-bottom:1px dashed #d8d8d8;
	padding:25px 20px;
	line-height:22px;
}
.fankuibox .formsub li{
	padding-left:95px;	
}
.fankuibox .formsub .label{
	width:75px;
	margin-left:-95px;
}
.fankuibox .formsub .intro{
	margin:0 5px 0 0;
	height:13px;
	padding:0;	
}
.fankuibox .f12p{
	font-size:12px;	
}
.btn_submit{
	background:url(../Nest/img/sprite_btns.png) left -759px no-repeat;
	height:32px;
	width:87px;
}
.btn_submit:hover{
	background-position:left -795px;
}

/* Group Biz */
#header.header_group_biz .wraper {
	height:154px;
	background:url(../Nest/img/header_bg_group_biz.jpg) center 0 no-repeat;
}
#header.header_group_biz {
	background:url(../Nest/img/header_group_biz.png) 0 0 repeat-x; 
}
#header.header_group_biz .logo {
	top:31px;
	background-image:url(../Nest/img/logo_group_biz.png);
}
#header.header_group_biz .site {
	top:38px;
	background-image:url(../Nest/img/group_site_bg_biz.png);
}
.group_biz {
	padding-top:25px;
	background-color:#f0f0f0;
}
.tit_group_biz {
	height:48px;
	color:#f93913;
	font-family:"microsoft yahei",SimHei,Arial;
	font-size:20px;
	font-weight:normal;
	line-height:50px;
	overflow:hidden;
	padding-left:20px;
	border:1px solid #d7d7d7;
	margin-bottom:-1px;
	background:url(../Nest/img/bg_tit_group_biz.png) 0 0 repeat-x;
	text-shadow:0px 0px 1px #fdc3b8;
}
.group_biz .content {
	padding:20px;
	border:1px solid #d7d7d7;
	background-color:#fff;
}
.field-group {
	position:relative;
	font-size:14px;
	padding:5px 0 20px 122px;
	zoom:1;
}
.field-group label{
	position:absolute;
	left:0;
	color:#b0b0b0;
	width:112px;
	padding-top:2px;
	text-align:right;
}
.field-group .required {
	color:#f00;
}
.field-group .intxt {
	height:20px;
	font-size:14px;
	border-color:#afafaf;
	color:#333;
	width:200px;
}
.field-group .intxtfocus {
	border-color:#b6a56a!important;
	box-shadow:0px 0px 1px #cd9d35;
	-webkit-box-shadow:0px 0px 1px #cd9d35;
	-moz-box-shadow:0px 0px 1px #cd9d35;
	-ms-box-shadow:0px 0px 1px #cd9d35;
	-o-box-shadow:0px 0px 1px #cd9d35;
}
.field-group .hasDefaultText {
	color:#a9a9a9;
}
.field-group textarea.intxt {
	width:298px;
	resize:none;
	height:180px;
	overflow-y:auto;
}
.field-group textarea.inputhover {
	color:#a9a9a9!important;
}
.field-group textarea.intxtfocus {
	color:#333!important;
}
.field-group select {
	font-size:14px;
	color:#333;
	padding:4px;
	border:1px solid #afafaf;
	background-color:#fff;
	margin-bottom:4px;
}
.field-group .apply-format {
	padding-top:2px;
}
.field-group .Validform_checktip {
	line-height:30px;
	height:30px;
	vertical-align:top;
}
.boxC {
	border:1px solid #d7d7d7;
}
.boxC h3 {
	font-weight:bold;
	padding-left:20px;
	background-color:#939393;	
}
.boxC .inner {
	border:none;
	color:#666;
	padding:10px;
}
.boxC .inner h4{
	font-size:12px;
	margin-bottom:5px;
}
.boxC .inner p {
	margin-bottom:12px;
	line-height:22px;
}
.cooperate {}
.cooperate .list li {
	padding:5px 11px;
}
.cooperate .list .num {
	color:#c71108;
	font-size:18px;
	vertical-align:middle;
}
.filter {
	color:#333;
	background-color:#fff;
	height:33px;
	padding:0 15px;
	border:1px solid #e2e2e2;
	border-width:1px 0;
	margin-top:-1px;
	position:relative;
	z-index:2;
	_zoom:1;
	_height:33px;
}
.filter .label {
	line-height:32px;
	margin-right:10px;
}
.filter .rankitem{
	margin-bottom:-1px;
	_margin-top:-1px;
}
.filter .orderCell {
	margin-right:0;
	float:left;
	margin-right:-1px;
}
.filter .item, .filter .item a, .filter .item span {
	background-image:url(../Nest/img/sprite_categoryB.png);
	background-repeat:no-repeat;
	cursor:pointer;
}
.filter .item {
	position:relative;
	display:inline-block;
	height:33px;
	padding-right:30px;
	line-height:32px;
	background-position:right -1078px;
	vertical-align:middle;
	overflow:hidden;
	zoom:1;
}
.filter .item:hover {
	text-decoration:none;
}
.filter .item a, .filter .item span {
	display:inline-block;
	height:33px;
	overflow:hidden;
	padding-left:13px;
	color:#666666;
	background-position:left -1078px;
}
.filter .item span {
	float:left;
}
.filter .item:hover {
	background-position:right -1149px;
	background-color:#f0f0f0;
}
.filter .item:hover span {
	background-position:left -1149px;
}
.filter .itemUpOnly {
	background-position:right -1113px;
}
.filter .itemUpOnly a, .filter .itemUpOnly span {
	background-position:left -1113px;
}
.filter .itemUpOnly:hover {
	background-position:right -1184px;
}
.filter .itemUpOnly:hover span {
	background-position:left -1184px;
}
.filter .orderActive {
	background:#c40001;
	position:relative;
	z-index:1;
}
.filter .orderActive .item, .filter .orderActive .item:hover {
	background-position:right -1009px;
	background-color:#c40001;
}
.filter .orderActive .item a, .filter .orderActive .item span, .filter .orderActive .item:hover span {
	color:#fff;
	background-position:left -1009px;
}
.filter .orderActive .itemUpOnly, .filter .orderActive .itemUpOnly:hover {
	background-position:right -1044px;
}
.filter .orderActive .itemUpOnly a, .filter .orderActive .itemUpOnly span {
	background-position:left -1044px;
}
.filter .itemDefault{
	padding-right:13px;
	background-position:left -1224px;
}
.filter .itemDefault:hover{
	background-position:left -1186px;
}
.filter .orderActive .itemDefault, .filter .orderActive .itemDefault:hover{
	background-position:0 -1046px;
}
.filter input {
	vertical-align:middle;
	position:relative\9;
	top:-1px\9;
}
.filter label {
/*	margin-right:3px;
 	*margin-right:0;*/
	_font-family:simsun;
}
.filter .seprator {
	padding-left:10px;
	padding-right:10px;
	height:30px;
	line-height:30px;
	border-right:1px solid #e2e2e2;
	/*background:url(../Nest/img/seprator.gif) no-repeat left center;*/
}
.filter .pagebtn {
	padding-top:4px;
	padding-bottom:4px;
}
.seprator .ckbox {
	padding-left:22px;
	background:url(../Nest/img/filter_ele.png) 5px -58px no-repeat;
	_background-position: 5px -61px;
}
.seprator .ckbox_checked {
	background-position: 5px -85px;
	_background-position: 5px -88px;
}
