.wraper {
	width:1000px;
}
#footer .wraper{
	width:760px;
}
#footer .footerInfo .wraper{
	width:1000px;
}
#menu .menubar{
	min-width: 1000px;
}
#menu .navigation{
	width:680px;
}
.footer dl{
	padding-right:10px;
}
.footer dt,.footer dd{
	margin-left:35px;
}
.col_210{
	width:210px;
}
.col_770{
	width:770px;
}
.crumbline{
	height:51px;
	padding-left:0;
	line-height:51px;
	margin-bottom:0;
}
.crumbline b{
	vertical-align:middle;
	height:26px;	
}
.crumb, .crumb .inner {
    height: 30px;
    line-height: 30px;
}
.crumb {
    
    color: #c40000;
    margin-top: 3px;
    padding-left: 10px;
	margin-bottom:10px;
}
.crumb .inner {
  
}
.crumb b {
    color: #E52142;
}
.crumb b.gray {
    background-position: left -1856px;
}
.acmenu{
	background:#fff;	
}
.acmenu h1{
	
	height:51px;
	line-height:51px;
	color:#d8012d;
	font-weight:bold;
	font-size:18px;
	text-align:left;
	padding-left:16px;
	border-bottom:1px solid #eaeaec;
}
.acmenu dl{
	padding:0 5px;
	margin-top:-1px;
}
.acmenu dt{
	height:34px;
	line-height:34px;
	border-top:1px dotted #e3e3e3;
	border-bottom:1px dotted #e3e3e3;
	padding-left:14px;
	color:#e42141;
	font-size:14px;
	font-weight:normal;
	/*background:#f7f7f7 url(../Nest/img/amenu_dt.png) repeat-x;*/
	background:url(../Nest/img/help_title_bg.png) right -97px no-repeat;
	cursor:pointer;
}
.acmenu dt.expand{
	background-position:right -49px;
	border-bottom-color:#e2e2e2;
}
.acmenu dd{
	display:block;
}
.acmenu .btnline{
	display:block;
}
.acmenu ul{
	padding:10px 14px;	
}
.acmenu li{
	height:21px;
	line-height:20px;
	margin-bottom:5px;
}
.acmenu li a{
	color:#666;	
}
.acmenu .now a,
.acmenu li a:hover{
	color:#E42141;	
}
.acmenu .now a{
	background-position:1px -513px;
}
.help_inner{
	background:#fff;
	border:1px solid #E5E5E5;
	height:590px;
	padding:11px 26px;
}
.helpindexBox{
	background:#fff url(../Nest/img/help_title2_bg.png) 10px 40px no-repeat;
	padding-top:38px;
	padding-left:250px;
	padding-bottom:26px;
}
.helpindexBox h3{
	color:#e42141;
	font-size:18px;
	font-weight:bold;
	padding-bottom:5px;
}
.helpindexBox ul{
	
}
.helpindexBox li{
	height:30px;
}
.helpindexBox li p{
	padding:0;
}
.helpindexBox li a{
	color:#666;
	font-size:14px;
}
.helpindexBox li a:hover{
	color:#E42141;
}

.helpindex h3 {color:#E42141; margin:15px 0 5px 0; font-weight:bold;}
.helpindex dl { float:left; width:318px;}
.helpindex .rborder { padding:0 0 0 0; }
.helpindex .lborder { padding:0;}
.helpindex dl p { line-height:2; padding-top:0; }
.helpindex dl a { display:inline-block; color:#666; font-size:12px;}
.helpindex dl a:hover { color:#E42141;}
.helpindex dl b { margin:0 10px;}
.helpindex dl strong {	margin:0 10px;	font-weight:normal;}
.helpindex dd { padding-bottom:10px;}

.helpindexB dl{
	width:100%;
}
.helpindexB dl dd{
	width:25%;
	float:left;
	text-align:center;
	padding:0;
}
.helpindexB dl dd div{
	text-align:center;
	border-right:1px solid #f5f5f5;
}
.helpindexB dl dd .last{
	border:0;
}
.helpindexB dl a {
	height:35px;
	line-height:35px;
	font-size:16px;
	text-align:center;
	width:77px;
	padding-top:85px;
	display:inline-block;
	zoom:1;
	color:#666;
	background:url(../Nest/img/help_box_bg.png) no-repeat;
}
.helpindexB a:hover{ color:#c41000; text-decoration:none;}
.helpindexB .btn1{
	background-position:0 0;
}
.helpindexB .btn2{
	background-position:-215px 0;
	
}
.helpindexB .btn3{
	background-position:0 -144px;
	
}
.helpindexB .btn4{
	background-position:-215px -144px;
}
.helpindexB dl .fz12{ font-size:12px;}
.linkphone,.linkemail{
	padding-left:60px;
	background:url(../Nest/img/help_box_bg.png) no-repeat;
}
.linkphone{
	background-position:0 0;
}
.linkemail{
	background-position:0 -61px;
}
.content{
	min-height:695px;
	_height:695px;
	padding:0;
	background:#fff;
	border:1px solid #fff;
	color:#666;
	_width:708px;
	_overflow:hidden;
}
.content h2{
	font-size:22px;
	color:#222;
	font-weight:normal;
	font-family:simhei;
	margin:10px 0;
}
.content p{
	color:#666;
	line-height:30px;
	padding:10px 0px;	
}
.content .list p{
	padding:0;
}
.content .list2 p{
	padding:0;
}
.contentindex{
	background:none;
	border:0;
	padding:0;
}
.helpindex{
	background:#fff;
	padding:25px 40px;
}
.helpindex_title{
	color:#666;
	font-size:20px;
	padding:25px 0 10px 0;
	font-weight:normal;
}
.helpindexB{
	padding:20px 0;
}
.content_title{
	height:51px;
	line-height:51px;
	color:#e13358;
	font-size:16px;
	padding-left:16px;
	font-weight:normal;
	border-bottom:1px solid #eaeaec;
}
/* help content*/
.crumbline { background:none;}
.content b { font-weight:bold;}
