@import url("../ele_css/ele_popWin.css");
body{
	background-color:#fff;
}
#menu .menubar {
    background-image: url(../Nest/img/menubg_990.png);
    min-width: 1000px;
}
.searchbar{
	left:220px;
}
.sublogo{
	position:absolute;
	color:#666;
	font-size:24px;
	left:230px;
	top:34px;
	font-family:microsoft yahei, SimHei;
}
.wraper { width:1000px;}
#footer .wraper{
	width:1200px;
}
.login{
	height:450px;
	position:relative;
	background:url(../Nest/img/bg_login.jpg) no-repeat;
}
.loginpanel{
	width:375px;
	position:absolute;
	right:40px;
	top:5px;
	padding-bottom:20px;
	background:url(../Nest/img/logshadow.png) no-repeat center bottom;
}
.loginpanel  h1{
	height:45px;
	line-height:45px;
	font-size:20px;
	font-weight:normal;
	color:#fff;
	text-indent:35px;
	background:url(../Nest/img/logtit.gif) repeat-x;
}
.loginpanel .inner{
	border:1px solid #d8d8d8;
	border-top:none;
	background-color:#fff;
	padding:1px;
}
.loginpanel .formsub{
	padding:30px 34px 15px;
}
.loginpanel .formsub .label{
	width:56px;
	margin-left:-61px;
	white-space:nowrap;
}
.loginpanel .formsub .intxt{
	width:200px;
}
.loginpanel .formsub li{
	padding-left:61px;
	padding-bottom:15px;
}
.btn_login{
	width:89px;
	height:35px;
	background:url(../Nest/img/btn_login.png) no-repeat;
}
.loginpanel .bottom{
	background-color:#ebebeb;
	padding:10px 34px;
	color:#626164;
}
.loginpanel .bottom h2{font-weight:normal; margin-bottom:5px;}
.loginpanel .bottom .inblock{
	width:72px;
	height:27px;
	background:url(../Nest/img/logtype.gif) no-repeat;
}
.loginpanel .item2 .inblock{
	width:68px;
}
.loginpanel .item2 .inblock{
	background-position:left -32px;
	width:52px;
}
.loginpanel .item3 .inblock{
	background-position:left -64px;
}
.loginpanel .bottom li{
	float:left;
	padding:5px 25px 5px 0;
}

.registerpanel h1{
	color:#F93913;
	font-size:24px;
	font-family:"microsoft yahei",arial;
	font-weight:normal;
	color: #F93913;
	padding-bottom:5px;
}
.registerpanel .boxpanel{
}

.registerpanel .intxtfocus{
	border:1px #F52800 solid !important;	
}
.registerpanel  .tab a{
	display:inline-block;
	margin-top:-1px;	
	height:30px;
	_display:inline;
}
.registerpanel  .tab a span{
	height:	30px;
	display:inline-block;
	zoom:1;
	line-height:30px;
	padding:0 44px;
	color:#666;
	font-size:14px;
	position:relative;
	top:1px;
	_top:0;
	font-family:"microsoft yahei",arial;
}
.registerpanel  .tab a:hover{
	color:#666 !important;
	text-decoration:none;
}
.registerpanel  .tab .now span{
	height:	31px;
	display:inline-block;
	zoom:1;
	line-height:30px;		
	background:#fff;	
	padding:0 43px;
	position:relative;
	top:1px;
}
.registerpanel  .tab .now{
	position:relative;
	border:1px solid #b1b1b1;
	border-bottom:0;
	padding-top:0;
}
.registerpanel  .tab{
	border-bottom:1px #b1b1b1 solid;
	padding-left:53px;
	height:30px;
	width:674px;
}
.registerpanel  .tabc{	
	height:390px;
	width:727px;
}
.registerpanel .formsub .label{
	color:#666;
	width:172px;
	margin-left:-177px;
}
.registerpanel .formsub li{
	padding-bottom:6px;
	padding-left:172px;
}
.registerpanel .formsub p{
	height:19px;
	overflow:hidden;
	line-height:18px;	
}
.registerpanel .formsub .intxt{
	padding:5px 4px;
	vertical-align:middle;
	font-size:14px;
	width:271px;
}
.registerpanel .formsub .inchk{
	vertical-align:middle;	
}
.registerpanel .formsub .chktext{
	font-family:simsun;
	background:url(../Nest/img/dotteline.gif) left bottom repeat-x;
	padding:1px 0;
	color:#731930;
	cursor:pointer;
}

.registerpanel .inner{
	padding-top:25px;	
}
.registerpanel .validCode{
	vertical-align:middle;
}
.btn_register{
	background:url(../Nest/img/btn_register.png) no-repeat;
	height:34px;
	width:99px;
}
.btn_grayB{
	color:#999;
	background-position:0 -62px;
	font-size:14px;
	height:30px;
	vertical-align:middle;
}
.btn_grayB span{
	background-position:right -62px;
	height:30px;
	line-height:30px;
	
}
.btn_grayB:hover{
	color:#626164 !important;
	background-position:0 -96px;
}
.btn_grayB:hover span{
	background-position:right -96px;
}

.btn_grayB_disable{
	color:#999 !important;
	background-position:0 -62px;
	font-size:12px!important;
	height:30px!important;
	vertical-align:middle;
	cursor:default;
}
.btn_grayB_disable span{
	background-position:right -62px;
	height:30px!important;
	line-height:30px!important;
	cursor:default!important;
	color:#999 !important;
}
.btn_grayB_disable:hover{
	color:#999 !important;
	background-position:0 -62px !important;
	cursor:default;
}
.btn_grayB_disable:hover span{
	background-position:right -62px !important;
	cursor:default;
}
.passwordStrength{
	height:19px;
	overflow:hidden;
}
.combinelogin{
	width:227px;
	height:421px;
	background:url(../Nest/img/register_bg2.png) center bottom no-repeat;
}
.combinelogin h2{
	padding-top:25px;
	font-size:16px;
	color:#d9013e;	
	font-family:"microsoft yahei",arial;
	font-weight:normal;
}
.combinelogin .loginpanel{
	position:static;
	background:none;
	width:100%;
	padding:0;
}
.combinelogin .loginpanel .bottom{
	padding:15px 0;
	background:none;
}
.combinelogin .loginpanel .bottom .inblock{
	background-image:url(../Nest/img/logtypeB.png);
	
}
.reged_login_btn{
	background:url(../Nest/img/btn_combinelog.png) no-repeat;
	height:31px;
	width:195px;	
}
.reged_login_btn:hover{
	background-position: left -31px;	
}
.Validform_checktip{
	font-style:normal;
	margin-left:0;
	display:none;
	color:#666;
	height:19px;
}
.Validform_wrong{
	display:inline;
	color:red;
}

.Validform_right{
	color:#71B83D;
}
.passwordStrength .pwdsp{	
	height:19px;
	width:280px;
	background:url(../Nest/img/passwordStrength_bg.png);	
	display:none;
	text-indent:-1000px;
	overflow:hidden;
}
.pwdPower_l1 .pwdsp{
	background-position:left 2px;
	display:inline-block;
	color:#ac0807;
}
.pwdPower_l2 .pwdsp{
	background-position:left -24px;
	display:inline-block;
	color:#fe6d02;
}
.pwdPower_l3 .pwdsp{
	background-position:left -50px;
	display:inline-block;
	color:#698800;
}
.pwdPower_l4 .pwdsp{
	background-position:left -76px;
	display:inline-block;
	color:#18c102;
}
.validCode{
	vertical-align:middle;	
}

.textNote{
	margin:10px 0;
	width:450px;
	height:400px;
	overflow-y:scroll;
	line-height:25px;
	padding:0 15px;	
}

.forgetpwd .boxpanel,
.forgetpwd .boxpanel .tabc{
}
.forgetpwd .boxpanel .tabc{
	height:auto;
	padding-bottom:50px;
}
.forgetpwd .boxpanel{
	margin:15px auto 0;
}
.forgetpwd .tab {width:750px; height:32px; background-color:#f5f5f5; line-height:30px; border-bottom:1px solid #b1b1b1; padding-left:50px; z-index:500;}
.forgetpwd .tab a { display:inline-block; height:30px; padding:0px 40px; font-size:14px; font-weight:bold;font-family:"Microsoft YaHei",Î¢ÈíÑÅºÚ,"Microsoft JhengHei",»ªÎÄÏ¸ºÚ,STHeiti,MingLiu; color:#949494; text-decoration:none; z-index:501;}
.forgetpwd .tab a.now { color:#666666; border:1px solid #b1b1b1; border-bottom:0px none; height:33px; line-height:32px; margin-top:-1px; margin-bottom:-1px; background-color:White;}

.forgetpwd h1{
	margin:0 auto;	
}
.forgetpwd .warn_noMobile {
	min-height:116px;
	_height:116px;
	padding-left:150px;
	padding-top:1px;
	background:url(../Nest/img/dec_warn.png) 0 0 no-repeat;
	margin-left: 120px;
}


.btn_submit{
	background:url(../Nest/img/sprite_btns.png) left -759px no-repeat;
	height:32px;
	width:87px;
}
.btn_submit:hover{
	background-position:left -795px;
}
.btn_nextStep{
	background:url(../Nest/img/sprite_btns.png) left -1217px no-repeat;
	height:45px;
	width:190px;
	_position:relative;
}
.btn_nextStep:hover{
	background-position:left -1611px;
}
.btn_backStep{
	background:url(../Nest/img/sprite_btns.png) left -1289px no-repeat;
	height:45px;
	width:190px;
}
.btn_backStep:hover{
	background-position:left -1560px;
}
.forgetpwd .formsub li{
	padding-bottom:	22px;
}

.forgetpwd .formsub .btn{
	vertical-align:middle;
}
.forgetpwd .tipReget span {
	cursor:default;
}
.forgetpwd .cmnTip {
	display:inline-block;
    background: none repeat scroll 0 0 #FFF4F2;
    border: 1px solid #FD9E8C;
    color: #626164;
    line-height: 20px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 2px 10px 4px;
}
.forgetpwd .forgetpwd_tit {
	padding-bottom:10px;
	border-bottom:1px solid #E5E5E5;
	text-align:center;
	margin:0 50px 50px;
	color:#222;
	font-size:16px;
	font-family:"Microsoft YaHei",Î¢ÈíÑÅºÚ,"Microsoft JhengHei",»ªÎÄÏ¸ºÚ,STHeiti,MingLiu,SimHei;
}
.forgetpwd .ul_byMobile li {padding-left:0;}
.forgetpwd .ul_byMobile label .label{width:11em;}
.forgetpwd .ul_byMobile .intxt{padding-left:13em;width:146px;}
.forgetpwd .ul_byMobile .mobileCodeGeter{ position:relative; display:inline-block; top:6px; *display:inline; *top:-6px; *zoom:1;}
.forgetpwd .ul_byMobile .mobileCodeGeter .Validform_checktip{ position:relative;top:-6px;*top:7px;}

.forgetpwd .boxpanel .inner{
	padding:26px 0 0 102px;
}
.bgw{
	background:#fff;	
}
.validCodeimg{
	vertical-align:middle;
	height:28px;
}
.regForm{margin-top:-1px;border:1px solid #d4d4d4;}
.regForm dd { padding: 12px 25px;}
.regForm label { display: inline-block; width: 158px; padding-right: 5px; font-size: 14px; text-align: right; color: #484848; vertical-align: middle}
.regForm .item { display: inline-block; width: 165px;}
.regForm .item input { border: 1px solid #c6c6c6; font-size: 14px; padding: 3px 2px; background: url(../Nest/img/bg_inputform.png) 0 0 repeat-x; width: 147px; vertical-align:middle}
.regForm .item .inputS { width: 65px}
.regForm .validImage { padding: 0 0; margin-left: 11px; vertical-align: middle}
.regForm .validImage img { position: relative; border: 1px solid #d6d6d6; height: 36px; margin-right: 10px; vertical-align: middle }
.regForm dd .Validform_checktip { position: relative; display: inline-block; height: 17px; line-height:17px; _line-height: 18px; top: 3px; *top: 0; margin-bottom: -2px; padding-left: 0; }
.regForm dd .Validform_wrong { width: auto; color: #c30000; font-weight: bold; background: url(../Nest/img/sprite_reg.png) 0 -94px no-repeat; padding-left: 25px; }
.regForm dd .Validform_right { width: 18px; text-indent:-100000px; overflow: hidden; background: url(../img/rite.png) 0 no-repeat; padding-left: 0}
.findpassword,
.verifySuccess{ padding:35px 0;}
.findpassword{width:666px;margin:0 auto;}
.cont{ padding:20px 0;background-color:#fff;}
.findpassword .btnSubmit{background: url(../Nest/img/sprite_reg.png) -83px top;display:block; margin:0 auto; width:110px; height:35px; overflow:hidden; text-indent:-2000px;}
.findpassword .btnSubmit:hover{-moz-opacity:.8;opacity:.8;filter:alpha(opacity = 80);}
.findpassword h1,
.verifySuccess h1{ font: normal 20px/44px "microsoft yahei"; color:#fff; padding-left:20px; background:#EF637F;}
.findpassword dd .regWrong{ font-weight:normal; margin-top:10px;}
.regForm .lableWidth{ width:205px;}
.padLeft{ padding:10px 0 0 202px !important; *padding:10px 0 0 205px !important;}
.lefts{ left:445px !important; color:#666; margin-left:5px;}
.bdrT{ border-top:1px solid #d7d7d7; margin:0 50px;}
.findpassword .validCode .Validform_checktip{left:402px;}
.msgCtner s, .verifyCtner s,.suc { display: inline-block; margin-right: 12px; vertical-align: middle; background-image: url(../Nest/img/sprite_reg.png); background-repeat: no-repeat;}
s.suc{width:32px; height:33px; background-position:left top;}
.findsuc, .setsuc{width:433px; padding:15px 0 0 50px; margin:0 auto 20px; position:relative;color:#666; font-size:14px;}
.findsuc h2,
.setsuc h2{margin-bottom:8px; font-size:16px; color:#666;}
.findsuc .suc, .setsuc .suc{position:absolute; left:0; top:15px;}
.setsuc { width: 490px;}
.setsuc .suc { top:10px;}

.boxD{
	background:url(../Nest/img/subscription_bg1.png) no-repeat;
	width:549px;
	padding-left:400px;
	padding-top:50px;
	margin:0 auto;
	height:343px;
}
.boxD .findsuc{
	margin:0;
	padding-left:60px;	
}
.boxD .findsuc .suc{
	background:url(../Nest/img/icon_success.png) no-repeat;
	height:49px;
	width:49px;
}

#regNote{
	border:0;
		
}
.findpassword,
.forgetpwd{padding-bottom:34px; background:url(../Nest/img/logoreg_box_shadow.png) center bottom no-repeat;}
.boxInner{border:1px solid #e9e9e9;border-top:none;}
.forgetpwd .boxTit{	
	height:38px;
	line-height:38px;
	border-top:2px solid #e42141;
	border-bottom:1px solid #e9e9e9;
	font-size:14px;
	color:#e42141;
	padding-left:23px;
	width:auto;
}
.step{
	width:886px;
	height:128px;
	margin:0 auto;
	border-bottom:1px solid #ccc;
	background:url(../Nest/img/step_findpwd.png) center 0 no-repeat;
	overflow:hidden;
	text-indent:-2000px;
}
.step_2{
	background-position:center -128px;
}
.step_3{
	background-position:center -256px;
}
.step_4{
	background-position:center -386px;
}
.forgetpwd ul li { margin-bottom:-1px;*float:left;*width:890px;*margin-bottom:-4px}
.forgetpwd ul li.validcode{ position:relative;}
.forgetpwd ul li.validcode .codeimg{ position:absolute; white-space:nowrap; left:350px; top:0; *top:4px; }
.forgetpwd ul li.validcode img{border:1px solid #efefef; max-width:123px; height:46px; margin-left:8px; display:inline-block; vertical-align:middle;}
.forgetpwd ul li.validcode a{color:#007CCF;}
.forgetpwd ul li.validcode a:hover{color:#E52142;}
.forgetpwd ul li.validcode .Validform_checktip{*margin-top:0;}
.forgetpwd ul li label {/* position:absolute; z-index:2;*/line-height:1.5; font-size:14px;}
.forgetpwd ul li .intxt{width:233px;padding:15px 20px 15px 95px;border:1px solid #dedede; font-size:14px; font-family:Microsoft Yahei; background-color:#fff; }
.forgetpwd ul li label span {padding-top:13px;}
.forgetpwd ul li label span {padding-top:15px\9;padding-top:13px\0;}
:root .forgetpwd ul li label span {padding-top:14px\0;}
.forgetpwd  ul li .intxt{padding-top:13px\9;padding-bottom:17px\9;}
.forgetpwd ul li label .label{ margin:1px 0 0 1px; *margin-top:2px; padding-top:12px; *padding-top:14px; padding-left:1.4em; display:inline-block; position:absolute; z-index:2; width:5em; color:#666; background-color:#fff;}
.forgetpwd ul li label .input_tip{ margin-top:1px; padding-left:7em; display:inline-block; position:absolute; z-index:0;color:#ccc;}

.forgetpwd .intxtfocus{border-color:#c3c3c3!important; position:relative;}
.forgetpwd .Validform_error{border-color:#ff4646!important; position:relative; z-index:1;}

.forgetpwd .ul_resetPwd li label .label{width:7em;}
.forgetpwd .ul_resetPwd li .intxt{ padding-left:9em; width:180px;}
.forgetpwd ul li .Validform_checktip{ *margin-top:-35px;}
.forgetpwd ul li .lefts{ *margin-top:-35px; *display:inline-block;}