@import '../../css/variables.scss';


.row {
  margin: 0;
}
.filter-sm-opener{
  display: none;
}
.left-container.boxfixed{
  position: fixed;
  display: block;
  z-index: 100;
  top:0
}
.left-container.boxbottom{
  position: absolute;
  display: block;
  bottom: 0;
  top: auto;
}
.list-main {
  background: url('../../images/list-banner.png') no-repeat;
  background-position: top;
  background-size: contain;
  padding-bottom: 150px;

  .calendar-container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 23px;
  }

  .calendar-row {
    text-align: right;
    margin-bottom: 79px;
  }

  .calendar {
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(16deg, #1B2A40 0%, #15989D 100%);
    background: #FFFFFF;
    height: 35px;
    line-height: 35px;
    width: 160px;
    font-size: 16px;
    color: #343E57;
    cursor: pointer;

    .icon {
      margin-left: 20px;
      font-size: 14px;
    }
  }
}

.list {
  width: 1200px;
  min-height: 600px;
  position: relative;
  margin: 0 auto;

}

.list-title {
  color: #FFFFFF;
  font-size: 58px;
  font-weight: 500;
  padding: 96px 0;
  text-align: center;
}

.tags {
  font-size: 12px;
  margin-bottom: 3px !important;

  .hot-tag {
    margin-right: 10px;
    cursor: pointer;
    &.hot-tag1 {
      color: #4A90E2
    }

    &.hot-tag2 {
      color: #A05EB5
    }

    &.hot-tag3 {
      color: #6EC271
    }

    &.hot-tag4 {
      color: #FF7245
    }

    &.hot-tag5 {
      color: #F8485E
    }

    &.hot-tag6 {
      color: #EE0202
    }

  }

}

.left-container {
  position: absolute;
  box-sizing: border-box;
  width: 260px;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  .box {
    background: #fff;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.10);
  }

  .select-header {
    height: 50px;
    background-color: $theme-blue;
    padding: 0 10px;

    span {
      font-size: 14px;
      color: $theme-white;
      line-height: 50px;

      &:last-child {
        float: right;
        font-size: 12px;
        color: $theme-white;
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }

  .items {
    
    .tags{
      line-height: 28px;
    }
    .select-item {
      border-bottom: 1px solid #eff1f1;
      position: relative;
      height: 74px;
      .select-inner{
        padding: 13px 10px;
        width: 100%;
        height: 73px;
      }
      &.hashover{
        &:hover{
          box-shadow: 0 0 7px 0 rgba(0,0,0,0.15);
        }
        &:hover .select-inner{
          position: absolute;
          background: #fff;
          z-index: 11;
        }
        &:hover .select-opener{
          display: block;
        }
      }
    }
    .select-opener{
      position: absolute;
      background: #fff;
      left: 100%;
      width: 324px;
      min-height: 100%;
      padding: 12px;
      z-index: 10;
      box-shadow: 0 0 7px 0 rgba(0,0,0,0.15);
      transform: translateY(-50%);
      top:50%;
      display: none;
      .inner-item{
        border-bottom: 1px solid #eff1f1;
        padding-top:10px;
        span{
          padding-bottom: 5px;
          display: inline-block;
        }
        &:first-child{
          padding-top: 0;
        }
        &:last-child{
          border:0;
        }
        .inner-title{
          padding-bottom: 6px;
          color:#666 ;
        }
      }
    }
    .select-title {
      margin-bottom: 8px;
      
      span {
        font-size: 14px;
        color: #383838;

        &:last-child {
          float: right;
          font-size: 12px;
          color: $theme-blue;
          cursor: pointer;
        }
      }
    }

    .city {
      margin-right: 14px;
      white-space:nowrap;
      cursor: pointer;
    }

    .special {
      color: #F5A623;
    }
  }
}

.right-container {
  float: left;
  padding-left: 284px;
  clear: both;
  min-width: 100%;
  min-height: 500px;

  .showmore {
    overflow: visible !important;
    height: auto !important;
  }

  .select-container {
    background-color: transparent;



    .sort {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      span {
        font-size: 12px;
        color: #383838;

        &:last-child {
          font-family: Helvetica;
          cursor: pointer;
        }
      }
    }
  }

  .boat-card {
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.10);

    &:last-child {
      margin-bottom: 0;
    }

    .picture {
      width: 190px;
      height: 153px;
      position: relative;
      overflow: hidden;

      img {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    .detail-content {

      padding: 10px 10px 0 10px;
      color: #383838;
      position: relative;

      .route-name {
        font-size: 18px;
        color: #383838;
        line-height: 22px;
        letter-spacing: 1.12px;
      }

      .route-line {
        margin: 10px 0;
        overflow: hidden;
        padding-right: 120px;
        height: 22px;
      }

      .route-line-more {
        cursor: pointer;
        em{
          font-style: normal;;
        }
        .route-item-day {
          background: #00969E;
          color: #fff;
        }

        &:hover .route-item {
          color: #00969E;
        }
      }

      .route-item {
        margin: 0 8px 4px 0;
        font-size: 12px;
        color: #383838;
        letter-spacing: 0.75px;
        line-height: 22px;
        float: left;

        &::after {
          content: '-';
          padding-left: 8px;
        }

        &:last-child {
          &::after {
            content: '';
          }
        }
      }

      .route-item-day {
        display: inline-block;
        text-align: center;
        width: 22px;
        height: 22px;
        line-height: 20px;
        border-radius: 50%;
        font-size: 12px;
        color: #00969E;
        background: #FFFFFF;
        border: 1px solid #00969E;
        margin-right: 8px;
      }


    }

    .cruises-from-date {
      padding-left: 60px;
      padding-right: 150px;

      .label {
        float: left;
        margin-left: -60px;
      }
    }

    .detail-content>.row {
      margin: 10px 0;
    }


    .cruises-name {
      color: $theme-blue;
    }

    .date-list {
      font-size: 0;
      overflow: hidden;
      height: 20px;
    }

    .date-list-item {
      display: inline-block;
      line-height: 18px;
      font-family: Helvetica;
      font-size: 12px;
      color: #fff;
      text-align: center;
      background: #B2DFE1;
      padding: 0 8px;
      height: 18px;
      border-radius: 2px;
      margin-right: 10px;
      margin-bottom: 10px;
    }

    .date-list-item-more {
      color: #fff;
      background-color: #00969E;
      cursor: pointer;
      margin-bottom: 0;
      em{
        font-style: normal;
      }
      .icon-arrowdown {
        margin-left: 10px;
      }
    }

    .price {
      position: absolute;
      right: 20px;
      bottom: 8px;

      p {
        text-align: center;
      }

    }

    .cur-price {
      font-size: 20px;
      color: #F8485E;

      span {
        font-size: 12px;
        font-family: Arial;

        &:last-child {
          font-size: 10px;
          color: #666666;
          letter-spacing: 0.75px;
        }
      }
    }

    .old-price {
      font-size: 12px;
      color: #999999;

      span {
        text-decoration: line-through;
      }
    }

    .btnA {
      background: #00969E;
      border-radius: 2px;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.88px;
      padding: 7px 15px;
    }

    .intro {
      font-size: 12px;
      color: #999999;
      letter-spacing: 0.75px;
      text-align: center !important;
      margin: 10px 0 0 0;

      img {
        cursor: pointer;
      }
    }
  }

  .description {
    padding: 10px;
    background: #F8F8F8;
    display: none;

    .tag {
      font-size: 14px;
      color: #343E57;
      letter-spacing: 1.05px;
      margin-right: 10px;
    }


    .tip {
      font-size: 12px;
      color: #999999;
    }
  }

  .desc-left {
    float: left;
  }

  .desc-right {
    float: right;
    position: relative;
    .intro{
      cursor: pointer;
    }
    .opener{
      position: absolute;
      right: 100%;
      top:-100px;
      background: #fff;
      width: 430px;
      height: 309px;
      z-index: 1;
      padding: 20px;
      box-shadow: 0 3px 15px 0 rgba(0,0,0,0.10);
      border-radius: 2px;
      display: none;
      .title{
        margin-bottom: 10px;
        font-size: 16px;
        color: #00969E;
      }
      .opener-close{
        cursor: pointer;
      }
      .inner{
        height: 240px;
        text-align: left;
        overflow-y:scroll;
        p{
          text-align: left;
        }
      }
    }
  }

  .page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
  }

  .page-count {
    font-size: 12px;
    color: #595961;
    letter-spacing: 0;
    line-height: 20px;
  }

  .pagination-item {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  .pagination-input {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-right: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }

  .active-item {
    background-color: $theme-blue;
    color: $theme-white;
  }
}

#footer {

  *,
  *::before,
  *::after {
    box-sizing: content-box;
  }
}


@import '../../css/calendar.scss';
@import './sm-index.scss';