@charset "utf-8";
/* CSS Document */
/**
	Common Popup Window & Mask Overlay Style
*/
#overlay, #overlay_transparent {
	display:none;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#000;
	z-index:999;
	overflow:hidden;
	_position:absolute;
	_width:0;
	_height:0;
	_top:expression(documentElement.scrollTop);
	_left:expression(documentElement.scrollLeft);
}
#overlay_transparent,
#overlay.overlay_transparent {
	background:transparent url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);
}
.popWin {
	display:none;
	position:absolute;
	z-index:1000;
}
.popWin .close {
	position:absolute;
	right:22px;
	top:20px;
	height:17px;
	width:17px;
	overflow:hidden;
	display:block;
	text-indent:-20000px;	
	background:url(../Nest/img/popwin_close.png) 0 0;
	z-index:2;
}
.popWin .close:hover {
	background-position: 0 0;
}
.popWinBody {}

/* blankShowmsg Just to Show Overlay */
.blankShowmsg { height:0; width:0; margin:0; padding:0; background-color:none; filter:none; overflow:hidden;}

/* AlertBox & ConfirmBox */
/*.AlertBox{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:375px; position:absolute; top:-100%; left:50%; margin-left:-187px; z-index:1000; display:none; -webkit-box-shadow:2px 2px 3px rgba(0,0,0,.2); -moz-box-shadow:2px 2px 3px rgba(0,0,0,.2); -ms-box-shadow:2px 2px 3px rgba(0,0,0,.2); -o-box-shadow:2px 2px 3px rgba(0,0,0,.2); box-shadow:2px 2px 3px rgba(0,0,0,.2);}
.AlertBox .iframe{display:none;_display:block;position:absolute; left:0px; top:0px; z-index:-1;}
.AlertBox .iframe iframe{background-color:transparent;filter:alpha(opacity=0);}
.AlertBox .Alert_title{height:45px;padding:0;line-height:45px;font-size:20px;font-weight:normal;color:#fff;text-indent:35px; font-family:"microsoft yahei",arial; position:relative; background:url(../Nest/img/bg_popwin_global.png) 0 0 repeat-x; zoom:1; z-index:2;}
.AlertBox .Alert_close{ display:block!important; height:0; width:17px; padding-top:17px;line-height:22px; position:absolute; right:14px; top:16px; color:#fff; text-decoration:none; background:url(../Nest/img/popwin_close.png) 0 0 no-repeat; overflow:hidden; zoom:1;}
.AlertBox .Alert_info{padding:20px;border:1px solid #d8d8d8; background-color:#fff; border-top:none;text-align:left;}
.AlertBox .Alert_info .msg_txt {color:#333;}
*/

.AlertBox{color:#7d8289; font: 12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif; width:375px; position:absolute; top:-100%; left:50%; margin-left:-187px; z-index:1000; display:none; background:#fff;border:1px solid #d8d8d8;-webkit-box-shadow:2px 2px 3px rgba(0,0,0,.2); -moz-box-shadow:2px 2px 3px rgba(0,0,0,.2); -ms-box-shadow:2px 2px 3px rgba(0,0,0,.2); -o-box-shadow:2px 2px 3px rgba(0,0,0,.2); box-shadow:2px 2px 3px rgba(0,0,0,.2);}
.AlertBox .iframe{display:none;_display:block;position:absolute; left:0px; top:0px; z-index:-1;}
.AlertBox .iframe iframe{background-color:transparent;filter:alpha(opacity=0);}
.AlertBox .Alert_info{padding:20px; background-color:#fff;text-align:left; /*background:url(../Nest/img/bg_popwin_body.png) 0 bottom no-repeat;*/}
.AlertBox .Alert_info .msg_txt {margin-bottom:30px;color:#666;font-family:"microsoft yahei",SimHei,Arial;font-size:14px;}
.AlertBox .Alert_title{
	margin:10px 20px;
	height:35px;
	line-height:30px;
	font-family:"microsoft yahei",SimHei,Arial;
	color:#666;
	font-size:16px;
	border-bottom:2px solid #E52240;
	font-weight:normal;
	z-index:2;
	zoom:1;
	background:#fff;
}
.AlertBox .Alert_close {
	position:absolute;
	display:block!important;
	width:44px;
	height:44px;
	top:-16px;
	right:-13px;
	text-indent:-500px;
	overflow:hidden;
	zoom:1;
	background:url(../Nest/img/closeboxB.png) 0 0 no-repeat;
}
.AlertBox .Alert_close:hover {
	background-position:0 -45px;
}
.AlertBox .btns {
	border-radius:0px!important;
	display:block;
	box-shadow:none!important;
	padding:0;
	color:inherit;	
	text-decoration:inherit;
}
.AlertBox .btns:hover{ 
	color:inherit;
	cursor:inherit;
	text-decoration:inherit;
}
.AlertBox .btns .btn {
	border-radius: 3px 3px 3px 3px;
	color: #fff;
	display: inline-block;
	text-align: center;
	text-decoration:none;
	box-shadow:1px 1px 0px #bbb;
	padding:6px 20px;
	background:none;
	height:auto;
}
.AlertBox .btns .btn span {
	height:auto;
	background:none;
	padding:0;
	line-height:18px;
}
.AlertBox .btns .btn0{
	background: rgb(239,40,73);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmMjg0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNDIxNDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(239,40,73,1) 0%, rgba(228,33,67,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,40,73,1)), color-stop(100%,rgba(228,33,67,1)));
background: -webkit-linear-gradient(top,  rgba(239,40,73,1) 0%,rgba(228,33,67,1) 100%);
background: -o-linear-gradient(top,  rgba(239,40,73,1) 0%,rgba(228,33,67,1) 100%);
background: -ms-linear-gradient(top,  rgba(239,40,73,1) 0%,rgba(228,33,67,1) 100%);
background: linear-gradient(to bottom,  rgba(239,40,73,1) 0%,rgba(228,33,67,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef2849', endColorstr='#e42143',GradientType=0 );
}
.AlertBox .btns .btn0:hover{
	background: rgb(228,33,67);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0MjE0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjI4NDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(228,33,67,1) 0%, rgba(239,40,73,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,33,67,1)), color-stop(100%,rgba(239,40,73,1)));
background: -webkit-linear-gradient(top,  rgba(228,33,67,1) 0%,rgba(239,40,73,1) 100%);
background: -o-linear-gradient(top,  rgba(228,33,67,1) 0%,rgba(239,40,73,1) 100%);
background: -ms-linear-gradient(top,  rgba(228,33,67,1) 0%,rgba(239,40,73,1) 100%);
background: linear-gradient(to bottom,  rgba(228,33,67,1) 0%,rgba(239,40,73,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e42143', endColorstr='#ef2849',GradientType=0 );
}
.AlertBox .btns .btn1{
	margin-left:10px;
	color:#fff;
	background-color:#AEAEAE;
}
.AlertBox .btns .btn1:hover{
	color:#fff;
	background-color:#b7b7b7;
}

/* Loading Mask */
#bggray{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:transparent url(../Nest/img/bg_gray.png) repeat;
	_background: #000 url(base64:*.gif) no-repeat;
	_filter:alpha(opacity = 60);
	display:none;
	z-index: 999;
}
/* Transparent overlay for Ajax loading */
/*#overlay.transMaskAll _ttttt{background:rgba(255,255,255,0); background-color: #fff\9; background-image:url(base64:*.gif)\9; filter:alpha(opacity = 0); opacity:0\9; display:none;}
#overlay.transMaskAll{background:transparent url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==);}
*/
.LoadingMask { float:none; position:absolute; top:0;left:0; width:100%; background:rgba(0,0,0,.5); background-color: #000\9; background-image:url(base64:*.gif)\9;	filter:alpha(opacity = 50); z-index:999;}
/* loading progress */
.cmnLoadA { position: fixed; left: 50%; top:50%; margin:-20px 0 0 -20px; height: 40px; width: 40px; display: none; overflow: hidden; background: transparent; z-index: 1000; _position:absolute; _top:expression(document.documentElement.scrollTop+(parseInt(document.documentElement.clientHeight/2))+"px");}
.cmnLoadA div { position: absolute; top: 0; left: 0; width: 40px; height: 480px; background: transparent url(../Nest/img/loading_progress.png) no-repeat;/* _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled="true", sizingMethod="image", src="themes/default/Nest/img/loaing_progress.png"); _background:none;*/}
/* PopWin in some pages */
.popWin_w342 { display:block; top:-1000px; width:342px;}
.popWin_w342 .skin_t,
.popWin_w342 .skin_b,
.popWin_w342 .body {
	background-image:url(../Nest/img/bg_popwin_342.png);
}
.popWin_w342 .skin_t {
	height:20px;
	background-position:0 0;
	overflow:hidden;
}
.popWin_w342 .skin_b {
	height:20px;
	background-position:0 bottom;
	overflow:hidden;
}
.popWin_w342 .body {
	background-position:-342px 0;
	background-repeat:repeat-y;
}
.popWin_w342 .tit {
	color:#555;
	font-family:microsoft yahei;
}
.popWin_w342 .tit .icon_succ {
	margin-left:-19px;
	margin-right:3px;
	vertical-align:middle;
}

/* Center Pop Window A */
.centerPopA {
	display: none;

	position: absolute;

	top: 0;
	left: 0;
	background: #FFF;
	border: 3px solid #2f2e2d;
	width: 500px;
	z-index: 1000;
}
.centerPopA .centerPopT {
	height: 0;
	position:relative;
}
.centerPopA .centerPopT h6 {
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	margin:0;
	float: left;
	color: #484848;
	display:none;
}
.centerPopA h3{
	height:30px;
	background:#000;
	color:#fff;
	line-height:30px;	
}
.centerPopA .centerPopT .close {
	display:block;
	position:absolute;
	width:33px;
	height:34px;
	background:url(../Nest/img/closebox.png) no-repeat;
	right:-16px;
	top:-16px;
}
.centerPopA .centerPopT .shuter:hover {
	background-position: 0 -690px;
}
.centerPopA .centerPopBody {
	padding: 10px;
}

/* centerPopB */
.centerPopB {
	display: none;
	position:absolute;
	top:-100%;
	left:50%;
	z-index:1000;
	background:none;
}
.centerPopB .centerPopBody {
	position:relative;
}
.centerPopB .bg{
	background:#000;
	_width:expression(this.parentNode.offsetWidth);
	_height:expression(this.parentNode.offsetHeight);
	position:absolute;
	left:8px;
	top:8px;
	right:-8px;
	bottom:-8px;
	opacity:.1;
	filter:alpha(opacity=10);
	-moz-opacity:.1;
	-webkit-opacity:.1;
}
.centerPopBody iframe { 
	border:none;
}
.centerPopC{
	border:0;
	box-shadow:0 0 5px #000;	
}
.centerPopC .contentText{
	font-size:14px;
	color:#222;	
}
.centerPopD{
	padding:10px;
	background:#fff;
	background-color:rgba(255,255,255,0.7);
	background-color:transparent\9;
	background-image:url(../Nest/img/bg_opacity_70.png)\9;
	border:0;
	width:600px;
}
.centerPopD .centerPopBody{
	padding:10px 0 ;	
}
.centerPopD h3{
	background:none;
	border-bottom:1px #666 solid;
	height:28px;	
}
.centerPopD .inner{
	background:#fff;
	padding:10px 23px;
}

.centerPopD .centerPopT .close{
	right:-39px;
	top:-26px;	
}

.centerPopE {
	position: absolute;
	top: 0;
	left: 0;
	background: #FFF;
	width: 468px;
	z-index: 1000;
}
.centerPopE h3 {
	height:46px;
	line-height:46px;
	font-family:"microsoft yahei",SimHei,Arial;
	color:#666;
	font-size:20px;
	border-bottom:2px solid #E52240;
	font-weight:normal;
}
.centerPopE .close {
	position:absolute;
	display:block;
	width:44px;
	height:44px;
	top:-16px;
	right:-13px;
	text-indent:-500px;
	overflow:hidden;
	background:url(../Nest/img/closeboxB.png) 0 0 no-repeat;
}
.centerPopE .close:hover {
	background-position:0 -45px;
}
.centerPopE .centerPopT{
	margin:10px 27px;
}
.centerPopE .centerPopBody {
	padding:10px 27px;
}
.centerPopE .centerPopBodyB {
	padding:0 27px 10px 27px;
}
.centerPopE .centerPopBodyB .inner{
	border:1px solid #eee
}

/* Gift Login */
.gift_login .formsub{
	padding:20px 20px 15px;
}
.gift_login .formsub li {
	min-height:40px;
	_height:40px;
	padding-left:61px;
	padding-bottom:7px;
}
.gift_login .formsub .label{
	width:56px;
	margin-left:-61px;
	white-space:nowrap;
	color:#666;
	font-family:"microsoft yahei",SimHei,Arial;
}
.gift_login .formsub .intxt{
	height:20px;
	width:225px;
	vertical-align:middle;
}
.gift_login .formsub .intxtfocus {
	border-color:#999!important;
}
.gift_login .btn_login{
	width:121px;
	height:35px;
	background:url(../Nest/img/sprite_btns.png) 0 -903px no-repeat;
}
.gift_login .btn_login:hover{
	background-position:0 -943px;
}
.gift_login .Validform_checktip{
	margin-left:0;
	font-style:normal;
	vertical-align:middle;
	background-position:0 1px\9;
	_background-position:0 center;
}
.gift_login .refresh_validCode {
	color:#999;
	font-family:"microsoft yahei",SimHei,Arial;
}
.gift_login .refresh_validCode:hover {
	color:#237ac3;
}
.gift_login .loading{
	display:inline-block;
	height:35px;
	line-height:34px;
	background:url(../Nest/img/onLoad.gif) left center no-repeat;	
	border:0;	
	padding:0 0 0 20px;
	text-indent:0;
	border-radius:0;
	vertical-align:middle;
	background-position:0 40%\9;
	_background-position:0 center;
}
.gift_login .validCode{
	vertical-align:middle;	
}

/* Cannot Exchange */
.dec_warn {
	width:121px;
	height:116px;
	background:url(../Nest/img/dec_warn.png) 50% 50% no-repeat;
	margin:0 auto;
}
.cannotExchange p {
	color:#666;
	font-family:"microsoft yahei",SimHei,Arial;
}
.cannotExchange .btn_exchange {
	width:121px;
	height:35px;
	background:url(../Nest/img/sprite_btns.png) 0 -983px no-repeat;
}
.cannotExchange .btn_exchange:hover{
	background-position:0 -1022px;
}

/* Exchange Form */
.exchangeForm {
	width:720px;
}
.exchangeForm .formsub{
	padding:20px 0 15px;
}
.exchangeForm .formsub li {
	min-height:40px;
	_height:40px;
	padding-left:91px;
	padding-bottom:7px;
}
.exchangeForm .formsub .label{
	width:86px;
	margin-left:-91px;
	white-space:nowrap;
	color:#666;
	font-family:"microsoft yahei",SimHei,Arial;
}
.exchangeForm .formsub .intxt{
	height:20px;
	width:250px;
	vertical-align:middle;
}
.exchangeForm .formsub .intxtfocus {
	border-color:#999!important;
}
.exchangeForm .formsub .required {
	color:#f42f00;
}
.exchangeForm .formsub .tips{
	color:#999;
}
.exchangeForm .btnline .Validform_checktip{
	vertical-align:middle;
}
.exchangeForm .btn_submit{
	width:121px;
	height:35px;
	background:url(../Nest/img/sprite_btns.png) 0 -1061px no-repeat;
}
.exchangeForm .btn_submit:hover{
	background-position:0 -1100px;
}
.exchangeForm .Validform_checktip{
	margin-left:0;
	font-style:normal;
	vertical-align:middle;
	background-position:0 1px\9;
	_background-position:0 center;
}
.exchangeForm .sys_select {
	 border:1px solid #D4D4D4;
	 background-color:#fff;
	 padding:5px 2px!important;
	 *margin-top:5px;
	 margin-bottom:5px;
}
.exchangeForm .loading{
	display:inline-block;
	height:35px;
	line-height:34px;
	background:url(../Nest/img/onLoad.gif) left center no-repeat;	
	border:0;	
	padding:0 0 0 20px;
	text-indent:0;
	border-radius:0;
	vertical-align:middle;
	background-position:0 40%\9;
	_background-position:0 center;
}
.exchangeList{
	width:720px;
}

.checkphone .formsub{
	padding:20px 20px 15px;
}
.checkphone .formsub li {
	min-height:40px;
	_height:40px;
	padding-left:80px;
	padding-bottom:7px;
}
.checkphone .formsub .label{
	width:80px;
	margin-left:-85px;
	white-space:nowrap;
	text-align:right;
	color:#666;
	font-family:"microsoft yahei",SimHei,Arial;
}
.checkphone .formsub .intxt{
	height:20px;
	width:225px;
	vertical-align:middle;
}
.checkphone .formsub .intxtfocus {
	border-color:#999!important;
}
.checkphone .btn_check{
	width:130px;
	height:38px;
	background:url(../Nest/img/account_check_btn.png) 0 0 no-repeat;
}
.checkphone .btn_check:hover{
	background-position:0 -41px;
}
.checkphone .Validform_checktip{
	margin-left:0;
	font-style:normal;
	vertical-align:middle;
	background-position:0 1px\9;
	_background-position:0 center;
}
.checkphone .refresh_validCode {
	color:#999;
	font-family:"microsoft yahei",SimHei,Arial;
}
.checkphone .refresh_validCode:hover {
	color:#237ac3;
}
.checkphone .loading{
	display:inline-block;
	height:35px;
	line-height:34px;
	background:url(../Nest/img/onLoad.gif) left center no-repeat;	
	border:0;	
	padding:0 0 0 20px;
	text-indent:0;
	border-radius:0;
	vertical-align:middle;
	background-position:0 40%\9;
	_background-position:0 center;
}
.checkphone .validCode{
	vertical-align:middle;	
}
.checkphone .cmnTip {
	background:#ffeef1;
    border: 1px solid #FEA7B6;
    color: #626164;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 2px 10px 4px;
	line-height:20px;
}
.checkphone .tipReget span{
	cursor:default;
}


.checkemail .formsub{
	padding:20px 20px 15px;
}
.checkemail .formsub li {
	min-height:40px;
	_height:40px;
	padding-left:90px;
	padding-bottom:7px;
}
.checkemail .formsub .label{
	width:90px;
	margin-left:-95px;
	white-space:nowrap;
	font-size:12px;
	text-align:right;
	color:#666;
	font-family:"microsoft yahei",SimHei,Arial;
}
.checkemail .formsub .intxt{
	height:20px;
	width:225px;
	vertical-align:middle;
}
.checkemail .formsub .intxtfocus {
	border-color:#999!important;
}
.checkemail .btn_checkemail {
	width:130px;
	height:38px;
	background:url(../Nest/img/account_check_btn.png) 0 -81px no-repeat;
}
.checkemail .btn_checkemail:hover{
	background-position:0 -122px;
}
.checkemail .Validform_checktip{
	margin-left:0;
	font-style:normal;
	vertical-align:middle;
	background-position:0 1px\9;
	_background-position:0 center;
}
.checkemail .refresh_validCode {
	color:#999;
	font-family:"microsoft yahei",SimHei,Arial;
}
.checkemail .refresh_validCode:hover {
	color:#237ac3;
}
.checkemail .loading{
	display:inline-block;
	height:35px;
	line-height:34px;
	background:url(../Nest/img/onLoad.gif) left center no-repeat;	
	border:0;	
	padding:0 0 0 20px;
	text-indent:0;
	border-radius:0;
	vertical-align:middle;
	background-position:0 40%\9;
	_background-position:0 center;
}
.checkemail .validCode{
	vertical-align:middle;	
}

.popVerifySuc{
	padding:10px 20px 5px 100px;
	color: #666;
    font-size: 14px;
	font-family:"microsoft yahei",SimHei,Arial;
    line-height: 24px;
	background:url(../Nest/img/icon_success.png) 30px 15px no-repeat;
}
.popVerifySuc p {
	margin-bottom:10px;
}
.popVerifySuc .btnline {
	padding:15px 80px 5px 0;
	text-align:center;
}
.popVerifySuc .btnline .btns {
	margin-right:0;
}