
.pageNav_records,
.pageNav{ padding-left:5px; font-family:tahoma,SimSun; font-size:0; line-height:38px;}
.pageNav_records em{font-style:normal;font-weight:bold;}
.pageNav a.pre span,
.pageNav a.next span,
.pageNav a.conf span{
	background: url(../Nest/img/bg_pagenav.png);
	*line-height:39px;
	_line-height:38px;
}
:root .pageNav a.pre span,
:root .pageNav a.next span,
:root .pageNav a.conf span {
	line-height:39px\0;
}
@media screen and (-webkit-min-device-pixel-ratio:0) { 
.pageNav a.pre span,
.pageNav a.next span,
.pageNav a.conf span{
	line-height:38px;
}
}
.pageNav{color:#999;zoom:1;_padding-bottom:1px;}
.pageNav span,
.pageNav a,
.pageNav ins{font-size:14px;}
.pageNav a {
    border: 1px solid #ddd;
	display:inline-block;
	height:38px;
	zoom:1;
	color:#999;
	vertical-align:middle;
	overflow:hidden;
	margin-left:-1px;
}
.ie7 .pageNav a {
	margin-left:-2px;
}
.pageNav span.pageTotal {
	margin-left:10px;
}
.pageNav span.pageTotal strong {}
.pageTo {
	margin-left:10px;
	margin-right:5px;
}
.pageYe{
	margin-left:5px;
}
.pageTo,
.pageYe{
	font-size:14px;
	line-height:38px;
	vertical-align:middle;
}
.pageNav a:hover {
    border: 1px solid #e6e6e6;
    color: #e3002b;
    cursor: pointer;
    text-decoration: none!important;
}
.pageNav a span {
	float:left;
    background-position:left top;
    display: inline-block;
    padding: 0 12px;
	background-color:#fff;
	font-size:14px;
	min-width:16px;
	text-align:center;
}
.pageNav ins {
    margin:0 5px;
    text-decoration: none;
	color:#333;
}
.pageNavBot {
    border-top: 1px solid #dbdbdb;
}
.pageNav a.curr ,
.pageNav a.curr:hover {
    color: #fff;
    cursor: default;
    text-decoration: none;
	border:1px solid #c91515;
}
.pageNav a.curr span {
	 background-color:#c91515!important;
}
.pageNav a.pre span, 
.pageNav a.next span {
	background-repeat:no-repeat;
    border:none;
    padding: 0;
	font-family:SimSun;
	font-family:Tahoma\0;
}
.pageNav a.pre span {
    padding-left: 10px;
	background-position:left 14px;
}
.pageNav a.next,
.pageNav a.pre{
	padding-left:10px;
	padding-right:10px;
	background-color:#fff;
}
.pageNav a.next span {
    background-position: right -20px;
    padding-right: 10px;
}
.pageNav a.preDisable, 
.pageNav a.preDisable:hover, 
.pageNav a.nextDisable, 
.pageNav a.nextDisable:hover {
    border: 1px solid #ddd;
    color: #cccccc;
    cursor: default;
	background-color:#f8f8f8;
}
.pageNav a.preDisable span, 
.pageNav a.nextDisable span {
	background-color:#f8f8f8;
	 cursor: default!important;
}
.pageNav a.preDisable span, 
.pageNav a.preDisable:hover span {
    background-position: left -50px;
}
.pageNav a.nextDisable span, 
.pageNav a.nextDisable:hover span {
    background-position: right -87px;
}
.pageNav .intxt{font-size:14px; text-align:center; width:54px; height:21px; padding:6px 2px; border:1px solid #ccc; color:#999; vertical-align:middle;}

.pageNav a.conf{width:56px;height:34px; line-height:34px; border: 1px solid #ddd;color:#999; margin-left:10px; background:url(../Nest/img/bg_pagenav.png) left -133px repeat-x;
text-indent:0; text-align:center;}
.pageNav a.conf span{
	background:none;
	line-height:32px;
	text-indent:0;
	padding:0 14px;
}
.pageNav a.conf:hover{
	border: 1px solid #bbb;
}
.bordtop{border-top:1px solid #DFDFDF;}
.btn_prev,
.btn_next{
	width:22px;
	height:0;
	padding-top:20px;
	overflow:hidden;
	background:url(../Nest/img/prenextB.png) no-repeat;
}

.btn_next{background-position:left -30px; text-indent:12px;}
.btn_next:hover{background-position:left -30px; text-decoration:none; color:#333;}
.btn_prev:hover{background-position:left top; text-decoration:none; color:#333;}
.preDisable,
.preDisable:hover{background-position:left -61px; cursor:default; color:#aaa;}
.nextDisable,
.nextDisable:hover{background-position:left -93px; cursor:default; color:#aaa;}