@import '../../css/variables.scss';
@import './sm-index.scss';
.fleetintro{
	padding-bottom: 200rem/$fit;
}

.content{
	width: 100%;
	.title{
		font-size: 30rem/$fit;
		color: #343E57;
		text-align: center;
		line-height: 40rem/$fit;
		margin-top: 25rem/$fit;
	}
	section{
		padding: 30rem/$fit 0 40rem/$fit 0;
		.products{
			width: 1200rem/$fit;
			margin: 0 auto;
		}
		article{
			width: 278rem/$fit;
			height: 312rem/$fit;
			float: left;
			margin-left: 28rem/$fit;
			&:first-child{
				margin-left: 0;
			}
			img{
				width: 100%;
				height: 190rem/$fit;
			}
			.product-content{
				padding: 0 15rem/$fit;
			}
			.product-title{
				font-size: 20rem/$fit;
				color: #383838;
				margin-top: 15rem/$fit;
			}
			.product-desc {
				font-size: 12rem/$fit;
				color: #788995;
				margin-top: 10rem/$fit;
			}
			.product-bottom{
				margin-top: 11rem/$fit;
			}
			.price{
				font-size: 20px;
				color: #F8485E;
			}
			.old-price{
font-size: 12rem/$fit;
color: #788995;
text-decoration-line: line-through;
margin-left: 4rem/$fit;
			}
			.order{
				width: 74rem/$fit;
				height: 30rem/$fit;
				line-height: 30rem/$fit;
				text-align: center;
				background: #00969E;
				border-radius: 4px;
				font-size: 13px;
				color: #FFFFFF;
			}
		}
	}

	.bg-w{
		background-color: #ffffff;
		article{
			background-color: #ffffff;
			border: 1px solid #F0F0F0;
		}
	}
	.bg-b{
		background-color: #f8fcfd;
		article {
			background-color: #f0f9fa;
			
			border: 1px solid transparent;
		}
	}


}
.topbannerB {
	position: relative;
	text-align: center;
	height: 350rem/$fit;
	width: 100%;
	overflow: hidden;
}

