@import '../../css/variables.scss';
@import '../../css/navbar.scss';

body {
    background-color: #f7fcfc;
}

.my-order {
    padding: 19rem/$fit 0 100rem/$fit;
    width: 1200rem/$fit;
    display: flex;

    .left-container {
        width: 210rem/$fit;
        margin-right: 20rem/$fit;
        float: left;
    }

    .right-container {
        width: 940rem/$fit;
        float: right;
        /*font-family: Helvetica;*/
        section {
            width: 100%;
            padding: 10rem/$fit 20rem/$fit;
            background-color: #ffffff;
            margin-bottom: .5rem;

            h5 {
                display: none;
            }
        }

        h3 {
            padding: 10rem/$fit 0;
            font-size: 20rem/$fit;
            color: #666;
            /*margin-left: 10rem/$fit;*/
            width: 100%;
        }
    }

    .bread-crumb {
        display: flex;
        align-items: center;
        font-size: 14rem/$fit;
        color: #6D6D6D;
        margin-bottom: 22rem/$fit;

        .item {
            cursor: pointer;
        }

        .selected {
            cursor: default;
            color: #666;
        }

        .split {
            margin: 0 4rem/$fit;
        }
    }

    .order-info {
        display: flex;
        flex-wrap: wrap;

        .item {
            width: 50%;
            font-size: 14rem/$fit;
            color: #666;
            margin-bottom: 10rem/$fit;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .order-status {
            color: #a363b8;
        }
    }

    .trip-info {
        .title {
            font-size: 18rem/$fit;
            color: #666;
        }

        .router,
        .time {
            font-size: 14rem/$fit;
            color: #666;
            margin-top: 10rem/$fit;
        }

        .desc {
            font-size: 14rem/$fit;
            color: #666666;
            line-height: 24rem/$fit;
            margin-top: 10rem/$fit;
        }

        .item-list {
            display: flex;
            flex-wrap: wrap;

            .item {
                width: 50%;
                font-size: 14rem/$fit;
                color: #666;
                margin-bottom: 10rem/$fit;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }


        .btns {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            margin-top: 10rem/$fit;
        }

        .btn-item {
            flex: 1;
            font-size: 14rem/$fit;
            color: #00969E;
            cursor: pointer;

            &:hover {
                color: #00969E;
                text-decoration-line: underline;
            }
        }
    }

    .contact-info {
        display: flex;
        flex-wrap: wrap;

        span {
            /*font-size: 14rem/$fit;*/
            /*color: #666;*/
            /*margin-right: 87rem/$fit;*/
        }

        label {
            font-weight: 600;
            margin-bottom: 0rem;
        }

        .info {
            font-size: 14px;
            margin-right: 20px;
        }
    }

    .user-info {
        h4 {
            font-size: 18rem/$fit;
            color: #666;
            margin-bottom: 10rem/$fit;
        }

        article {
            width: 435rem/$fit;
            background-color: #FBFBFB;
            border: 1px solid #F0f0f0;
        }

        .users {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10rem/$fit;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .user-name {
            font-size: 14rem/$fit;
            color: #666;
            padding: 7rem/$fit 0 7rem/$fit 20rem/$fit;
        }

        .info {
            padding: 10rem/$fit 20rem/$fit;
            background-color: #fff;

            p {
                font-size: 12rem/$fit;
                color: #666;
                margin-bottom: 10rem/$fit;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            .sub-title {
                color: #00969E;
            }
        }

        .sub-info {
            display: flex;
            flex-wrap: wrap;

            span {
                width: 50%;
                margin-bottom: 10rem/$fit;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .price-info {
        h4 {
            font-size: 16rem/$fit;
            color: #666;
            margin-bottom: 15rem/$fit;
        }

        .price-detail {
            font-size: 16rem/$fit;
            color: #666666;
            margin-bottom: 20rem/$fit;

            span {
                margin-right: 242rem/$fit;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .total-price {
            font-size: 16rem/$fit;
            color: #666;
            margin-bottom: 15rem/$fit;
        }

        .price {
            color: #ff5656;
        }

        .split {
            height: 4rem/$fit;
            background-color: #F7FCFC;
        }

        .product {
            display: flex;
            flex-wrap: nowrap;
            padding: 12rem/$fit 0 10rem/$fit;

            img {
                width: 150rem/$fit;
                height: 100rem/$fit;
                flex-shrink: 0;
            }
        }

        .product-title {
            font-weight: 500;
            font-size: 16rem/$fit;
            color: #666;
        }

        .product-detail {
            font-size: 16rem/$fit;
            color: #666;
            letter-spacing: 0;
            line-height: 24rem/$fit;
        }

        .product-right {
            flex: 1;
            display: flex;
            justify-content: space-between;
            padding-left: 0rem/$fit;
        }

        .product-price {
            font-size: 16rem/$fit;
            color: #F8485E;
        }

        .border-bm {
            border-bottom: 1px solid #E5E5E5;
        }

        .mt10 {
            margin-top: 10rem/$fit;
        }
    }

    .invoice-info {
        p {
            font-size: 14rem/$fit;
            color: #666;
            margin-bottom: 10rem/$fit;

            span {
                display: inline-block;
                width: 50%;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .order-btns {
        text-align: right;
        margin-top: 20rem/$fit;

        a {
            display: inline-block;
            cursor: pointer;
            width: 128rem/$fit;
            height: 50rem/$fit;
            line-height: 50rem/$fit;
            font-size: 16rem/$fit;
            text-align: center;
            font-weight: 500;
        }

        .back {
            background-color: #ffffff;
            border: 1px solid #D0D7DF;
            color: #666;
        }

        .buy {
            background-color: #00969E;
            border: 1px solid #00969E;
            color: #ffffff;
            margin-left: 20rem/$fit;
        }
    }

    .white-container {
        background-color: #fff;
        padding: 10px 20px 10px 20px;

        .room-item {
            font-size: 16px;
            color: #00969E;
            background-color: #f8f8f8;
            padding: 10px;
            border-radius: 5px;
            font-weight: 600;
        }


        .info-row {
            display: table;
            table-layout: fixed;
            overflow: hidden;
            width: 100%;
        }

        .info-item {
            display: table-cell;

            label {
                margin: 0;
                margin-right: 10px;
            }

            span {
                font-size: 16px;
                color: #FF5050;
            }
        }

        h5 {
            font-size: 16px;
            color: #666;
            margin-bottom: 10px;
        }

        p {
            /*font-family: SourceHanSans-Regular;*/
            font-size: 14px;
            /*color: #666666;*/
            margin-bottom: 10px;
            margin-left: 10px;
        }

        p.fz12 {
            font-size: 12px;
            color: #666666;
            line-height: 20px;
        }

        p.cred {
            color: #FF5050;
            margin-top: 10px;
        }

        p.mb8 {
            margin-bottom: 8px;
        }

        .tcenter {
            text-align: center;
        }

        .tright {
            text-align: right;
        }

        .guest-info {
            /*background: rgba(0, 0, 0, 0.03);*/
            float: left;
            width: calc(50% - 20px);
            margin-right: 10px;
            margin-bottom: 10px;
            padding-bottom: 0px;
            margin-top: 4px;

            h5 {
                /*background: #FBFBFB;*/
                height: 35px;
                line-height: 35px;
                padding-left: 20px;
                margin-bottom: 0px;
            }

            p {
                /*font-family: Helvetica;*/
                font-size: 14px;
                color: #666;
                margin: 5px 0;
                padding: 0 20px;

                span {
                    /*border-bottom: 1px solid #D0D7DF;
                        font-weight: 600;*/
                    padding: 0 10px 0 10px;
                }

                label {
                    width: 100px;
                    margin: 0;
                }
            }
        }

        .product-list {
            /*border-top: 1px solid #999;
        border-bottom: 0px solid #999;*/
            .p-name {
                font-size: 14px;
                padding: 10px 20px 0px 20px;
                margin: 0 !important;
                font-weight: 600;
            }

            .p-desc {
                font-size: 14px;
                padding: 10px 20px 0px 20px;
                margin: 0 !important;

                label {
                    margin-bottom: 0;
                    margin-right: 20px;
                }

                span {
                    margin-right: 20px;
                }

                .sub-title {
                    font-weight: 600;
                }

                .cost-title {
                }

                .cost {
                    color: #15989D;
                }
            }

            .pb10 {
                padding-bottom: 10px
            }
        }

        .all-price {
            text-align: left;
            margin-left: 10px;

            p {
                margin-top: 10rem/$fit;
            }

            .fee {
                font-size: 16rem/$fit;
                color: #666;
            }

            .all-price-num {
                font-size: 16rem/$fit;
                color: #666;

                .price {
                    font-size: 20px;
                    color: #ff5656;
                }
            }
        }

        .redcircle {
            border-radius: 100%;
            width: .25rem;
            height: .25rem;
            margin-bottom: .125rem;
            background-color: #666;
        }
    }
}

@media (max-width: 767px) {
    body {
        background-color: #F8F8F8;
    }

    .fleetintro {
        width: 100%;
        overflow: hidden;
        background-size: 100% auto;
        background-attachment: fixed;
        background-image:none;
    }

    .my-order-header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #00969E;
        height: 88rem/$fit;
        color: #ffffff;
        font-size: 32rem/$fit;
        color: #F0F0F0;
        position: fixed;
        top: 0;
        left: 0;
        width:100vw;
    }
    .icon{
        position: absolute;
        left: 37rem/$fit;
        font-size: 40rem/$fit;
        cursor: pointer;
    }

    .my-order {
        padding: 0;
        margin-top: 88rem/$fit;
        width: 100vw;
        flex-direction: column;

        .right-container {
            max-width: auto;
            width: 100%;
            /*font-family: Helvetica;*/

            section {
                width: 100%;
                padding: 32rem/$fit;
                background-color: #ffffff;
                margin-bottom: 24rem/$fit;

                h5 {
                    display: block;
                    color: #383838;
                    margin-bottom: 32rem/$fit;
                    padding: 10rem/$fit 0;
                    font-size: 40rem/$fit;
                    color: #06929A;
                    margin-left: 10rem/$fit;
                    margin-bottom: 10rem/$fit;
                    font-weight: 600;
                }

                h5.title {
                    margin-bottom: 24rem/$fit;
                }
            }

            h3 {
                /*display: none;*/
            }
        }

        .bread-crumb {
            display: none;
        }

        .order-info {
            .item {
                width: 100%;
                font-size: 24rem/$fit;
                color: #6D6D6D;
                margin-bottom: 20rem/$fit;
            }
        }

        .trip-info {
            p {
                font-size: 24rem/$fit;
                color: #6D6D6D;
                font-weight: 300;
            }

            .btns {
                justify-content: space-between;
                margin-top: 20rem/$fit;
            }

            .router {
                margin-top: 0;
                font-size: 28rem/$fit;
            }

            .time {
                margin-top: 10rem/$fit;
                font-size: 28rem/$fit;
            }

            .desc {
                margin-top: 24rem/$fit;
                line-height: 40rem/$fit;
                font-size: 24rem/$fit;
            }

            .btn-item {
                font-size: 24rem/$fit;
                color: #06929A;
                flex: auto;
                flex-grow: 0;
                cursor: pointer;

                &:hover {
                    color: #00969E;
                    text-decoration-line: underline;
                }
            }
        }

        .contact-info {
            display: flex;
            flex-direction: column;

            span {
                font-weight: 300;
                font-size: 24rem/$fit;
                color: #6D6D6D;
                margin-bottom: 20rem/$fit;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .price-info {
            h4 {
                font-size: 28rem/$fit;
                color: #383838;
                margin-bottom: 24rem/$fit;
            }

            .price-detail {
                font-size: 24rem/$fit;
                color: #6D6D6D;
                margin-bottom: 32rem/$fit;

                span {
                    display: inline-block;
                    width: 100%;
                    margin-right: 0;
                    padding:10rem/$fit;
                    background-color:#f8f8f8;
                }
            }

            .total-price {
                font-size: 32rem/$fit;
                color: #383838;
                margin-bottom: 32rem/$fit;
                padding-bottom: 24rem/$fit;
                border-bottom: 1px solid #E5E5E5;
            }

            .price {
                color: #ff5656;
            }

            .product {
                display: flex;
                flex-wrap: nowrap;
                padding: 12rem/$fit 0 10rem/$fit;

                img {
                    width: 240rem/$fit;
                    height: 160rem/$fit;
                    flex-shrink: 0;
                }
            }

            .product-title {
                font-weight: 500;
                font-size: 28rem/$fit;
                color: #383838;
                line-height: 34rem/$fit;
            }

            .product-people {
                margin-top: 10rem/$fit;
                font-size: 24rem/$fit;
                color: #6D6D6D;
                line-height: 38rem/$fit;
            }

            .product-detail-sm {
                font-size: 24rem/$fit;
                color: #666;
                padding: 10rem/$fit 74rem/$fit 10rem/$fit 10rem/$fit;
                background-color: #FBFBFB;
                border-radius: 4rem/$fit;
                margin-top: 0rem/$fit;
            }

            .product-right {
                flex: 1;
                display: flex;
                flex-direction: column;
                padding-left: 0rem/$fit;
            }

            .product-price {
                font-size: 28rem/$fit;
                color: #F8485E;
            }

            .border-bm {
                border-bottom: 1px solid #E5E5E5;
            }

            
        }

        .invoice-info {
            margin-bottom: 0 !important;

            p {
                font-size: 24rem/$fit;
                color: #6D6D6D;
                margin-bottom: 24rem/$fit;

                span {
                    width: 100%;
                    margin-bottom: 24rem/$fit;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }

        .order-btns {
            text-align: center;
            margin-top: 0;
            background-color: #ffffff;
            padding: 20rem/$fit 0rem/$fit 56rem/$fit 0;
            margin-bottom: 0rem/$fit;

            a {
                display: inline-block;
                width: 340rem/$fit;
                height: 70rem/$fit;
                line-height: 70rem/$fit;
                font-size: 28rem/$fit;
                font-weight: 400;
            }

            .back {
                background-color: #ffffff;
                border: 1px solid #00969E;
                color: #00969E;
            }

            .buy {
                background-color: #00969E;
                border: 1px solid #00969E;
                color: #ffffff;
                margin-left: 20rem/$fit;
            }
        }
    }

    .sm-top-panel {
        background: url(../../images/orderbg-m.jpg) center top no-repeat;

        .status {
            padding: .5rem 1rem .5rem 1rem;
            font-size: 1.5rem;
            color: #fff;

            p {
                font-size: 28rem/$fit;
                a{
                    color:#fff;
                }
            }
        }

        .trip-info {
            margin: .5rem .5rem .5rem .5rem;
            width: 95% !important;
            border-radius: 5px;

            .router {
                font-size: 1rem;
                font-weight: 600;
                color: #06929A;
            }

            .time {
                font-weight: 500;
                font-size: .6rem;
            }
        }

        .order-info {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;

            h3 {
                padding: 10rem/$fit 0;
                font-size: 40rem/$fit;
                color: #06929A;
                margin-left: 10rem/$fit;
                margin-bottom: 10rem/$fit;
                font-weight: 600;
            }

            .item {
                width: 100%;
                font-size: 28rem/$fit;
                color: #6D6D6D;
                margin-bottom: 20rem/$fit;
                margin-left: 10rem/$fit;
            }

            .infos {
                width: 100%;
                background-color: #f8f8f8;
                padding: 0.5rem;
            }
        }
    }


    .sm-main {
        min-height: 100vh;
        width: 100vw;
        /*font-family: Helvetica;*/
        padding-bottom: 20rem/$fit;
        background-color: #f8f8f8;

        input {
            border: 1px solid #E5E5E5;
            border-radius: 8rem/$fit;
            height: 60rem/$fit;
            padding-left: 16rem/$fit;
            font-size: 24rem/$fit;
            color: #666666;
        }

        label {
            font-size: 24rem/$fit;
            /*color: #666666;*/
            margin-bottom: 0;
        }

        .select {
            background: #FFFFFF;
            border: 1px solid #E5E5E5;
            border-radius: 8rem/$fit;
            height: 60rem/$fit;
            padding-left: 16rem/$fit;
            padding-right: 20rem/$fit;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 28rem/$fit;
            color: #666;
            margin-right: 20rem/$fit;
            cursor: pointer;
        }

        h3 {
            font-size: 28rem/$fit;
            color: #383838;
            font-weight: 600;
        }

        button {
            width: 148rem/$fit;
            height: 54rem/$fit;
            font-size: 24rem/$fit;
        }

        .split {
            height: 24rem/$fit;
            background-color: #f8f8f8;
        }

        .arrow-down {
            width: 0.25rem;
            height: 0.25rem;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            border: 0.025rem solid #666;
            border-width: 0 0.025rem 0.025rem 0;
            display: block;
        }

        .arrow-up {
            width: 0.25rem;
            height: 0.25rem;
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
            border: 0.025rem solid #666;
            border-width: 0.025rem 0 0 0.025rem;
            display: block;
        }

        .order-info {
            padding: 24rem/$fit;
            /*border-bottom: 1px dotted #e5e5e5;*/
            /*padding-left: 8rem/$fit;*/
            background-color: #fff;
            margin-bottom: 20rem/$fit;

            h3 {
                font-size: 40rem/$fit;
                color: #383838;
                line-height: 55rem/$fit;
                font-weight: 600;
                /*margin-bottom: 24rem/$fit;*/
            }

            p {
                font-size: 28rem/$fit;
                color: #666666;
                line-height: 1;
                margin-top: 24rem/$fit;
            }

            .ml32 {
                margin-left: 32rem/$fit;
            }
        }

        .product-tags {
            border-bottom: 1px solid #E5E5E5;
            padding: 0 36rem/$fit 20rem/$fit;
            margin-top: 16rem/$fit;

            .tag {
                line-height: 40rem/$fit;
                border-radius: 4rem/$fit;
                border: 1px solid;
                padding: 0 16rem/$fit;
                margin-right: 20rem/$fit;
                font-size: .6rem;

                &:last-child {
                    margin-right: 0;
                }
            }

            .green {
                color: #00969E;
                border-color: #00969E;
            }

            .blue {
                color: #4A90E2;
                border-color: #4A90E2;
            }

            .purple {
                color: #A05EB5;
                border-color: #A05EB5;
            }

            .yellow {
                color: #F5A623;
                border-color: #F5A623;
            }

            .red {
                color: #F8485E;
                border-color: #F8485E;
            }

            .light-blue {
                color: #64BDDA;
                border-color: #64BDDA;
            }
        }


        .step {
            padding: 0 32rem/$fit 20rem/$fit 32rem/$fit;
            margin-top: 0rem/$fit;
            margin-bottom: 20rem/$fit;
            display: flex;
            justify-content: space-between;
            background-color: #fff;

            .step-item {
                width: 228rem/$fit;
                height: 60rem/$fit;
                margin-left: 5rem/$fit;
                text-align: center;

                span {
                    line-height: 60rem/$fit;
                    font-size: 28rem/$fit;
                }

                .step-item-before {
                    border-top-width: 30rem/$fit;
                    border-bottom-width: 30rem/$fit;
                    border-left-width: 12rem/$fit;
                }

                .step-item-after {
                    right: -12rem/$fit;
                    border-top-width: 30rem/$fit;
                    border-bottom-width: 30rem/$fit;
                    border-left-width: 12rem/$fit;
                }
            }
        }

        .trip,
        .info,
        .check-info,
        .fa-piao {
            padding: 24rem/$fit 32rem/$fit;
            margin: 0 .8rem;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 0px 5px 0 rgba(0,0,0,0.3);

            h3 {
                margin-bottom: 16rem/$fit;
                padding-bottom: 16rem/$fit;
                border-bottom: 1px solid #666;
                font-size: 28rem/$fit;
            }
        }

        .trip {
            p {
                font-size: 24rem/$fit;
                color: #6D6D6D;
                margin-bottom: 10rem/$fit;
            }

            .infos {
                font-size: 24rem/$fit;
                text-align: justify;
            }

            .notice {
                font-size: 24rem/$fit;
                color: #FF5050;
            }

            .data {
                display: flex;
                align-items: center;
                /*justify-content: space-between;*/
                margin-bottom: 10rem/$fit;

                a {
                    font-size: 24rem/$fit;
                    color: #06929A;
                    margin-right: .5rem;
                }
            }

            .check-row {
                display: flex;
                align-items: center;
                font-size: 24rem/$fit;
                color: #666666;

                input {
                    height: auto;
                    margin-right: 28rem/$fit;
                }
            }
        }

        .info,
        .fa-piao {
            .fill-row {
                display: -webkit-inline-box;
                align-items: center;
                /*margin-bottom: 20rem/$fit;*/
                label {
                    width: 140rem/$fit;
                    margin-bottom: 0;
                    /*text-align: right;*/
                }

                .input {
                    width: 480rem/$fit;
                    border-top: 0px solid #D0D7DF;
                    border-left: 0px solid #D0D7DF;
                    border-right: 0px solid #D0D7DF;
                    border-bottom: 0px solid #D0D7DF;
                }

                .radio {
                    display: flex;
                    align-items: center;
                    margin-right: 32rem/$fit;

                    input {
                        margin-right: 24rem/$fit;
                        height: auto;
                    }

                    font-size: 24rem/$fit;
                    color: #383838;
                }
            }
        }

        .check-info {
            .room {
                h5 {
                    font-size: .7rem;
                    color: #00969E;
                    background-color: #f8f8f8;
                    padding: .5rem;
                    border-radius: 5px;
                    font-weight: 600;
                    margin-bottom: 0;
                }
            }

            .name {
                /*background-color: #FBFBFB;*/
                padding-left: 32rem/$fit;
                display: flex;
                align-items: center;
                /*width: 686rem/$fit;
            height: 80rem/$fit;*/
                font-size: 28rem/$fit;

                .name-t {
                    font-size: 28rem/$fit;
                    color: #6D6D6D;
                    font-weight: 600;
                }

                .name-v {
                    font-size: 28rem/$fit;
                    color: #383838;
                    margin-left: 32rem/$fit;
                    font-weight: 600;
                }
            }

            .content {
                padding: 0.5rem 0.5rem 0.25rem 0.5rem;
                background-color: #f8f8f8;
                /*margin-bottom: .5rem;*/
                p {
                    font-size: 24rem/$fit;
                    color: #666666;
                    margin-bottom: 10rem/$fit;
                    padding-left: 5rem/$fit;

                    .value {
                        border-bottom: 0px solid #D0D7DF;
                        /*font-weight: 600;*/
                        padding: 0 20rem/$fit 0 10px;
                    }

                    label {
                        width: 5rem;
                        margin: 0;
                        font-size: 24rem/$fit;
                    }
                }

                .content-region {
                    background-color: #f8f8f8;
                    padding: 10rem/$fit;
                    margin-bottom: 10rem/$fit;
                    border-radius: 5px;
                }

                .bggreen {
                    background-color: #f7fcfc;
                }


                .sub-title {
                    color: #00969E;
                }
            }
        }

        .redcircle {
            border-radius: 100%;
            width: .25rem;
            height: .25rem;
            margin-bottom: .125rem;
            background-color: #666;
        }

        .user {
            .user-title {
                padding: 0.5rem 0.5rem 0rem .5rem;
                border-bottom: 1px solid #f8f8f8;

                h5 {
                    font-size: .7rem;
                    color: #00969E;
                    background-color: #f8f8f8;
                    padding: .5rem;
                    border-radius: 5px;
                    font-weight: 600;
                    margin-bottom: 0;
                }

                .user-name {
                    font-size: .6rem;
                    font-weight: 600;
                    /*margin-left: 1rem;*/
                    margin-bottom: .25rem;
                }

                .user-infos {
                    font-size: .6rem;
                    /*font-weight: 600;*/
                    /*margin-left: 1rem;*/
                    margin-bottom: .25rem;
                }
            }

            .nobottom {
                padding-bottom: 0;
                border-bottom: 0px solid #f8f8f8;
            }
        }
    }

    .price-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 120rem/$fit;
        display: flex;
        background-color: #fff;

        .left,
        .right {
            display: flex;
            flex-direction: column;
        }

        .left {
            flex: 1;
            justify-content: space-around;
            // align-items: ;
            padding: 0rem/$fit 0 0 24rem/$fit;

            .total {
                font-size: 32rem/$fit;
                color: #383838;
                text-align: center;
            }

            .price {
                font-size: 40rem/$fit;
                color: #F8485E;
            }

            .count {
                font-size: 28rem/$fit;
                color: #666;
                // margin-top: 10rem/$fit;
            }
        }

        .right {
            width: 354rem/$fit;
            flex-shrink: 0;
            background-color: #00969E;
            align-items: center;
            justify-content: center;

            .main {
                font-size: 32rem/$fit;
                color: #FFFFFF;
                letter-spacing: 0.52rem/$fit;
                font-weight: 500;
            }

            .sub {
                font-size: 28rem/$fit;
                color: #FFFFFF;
                letter-spacing: 0.52rem/$fit;
                font-weight: 300;
            }
        }
    }


}
