.aside {
  float: left;
  width: 159px;
  margin-right: 20px;
}

.main {
  max-width: 1200px;
  min-width: 800px;
  min-height: 500px;
  margin: 20px auto;
}

#base_bd {
  margin-bottom: 10px
}

.clearfix:after {
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  content: ".";
  overflow: hidden
}

.clearfix {
  zoom: 1
}

.sidenav {
  font-family: PingFangSC-Regular;
  color: #383838
}

.sidenav a {
  position: relative;
  z-index: 1;
  display: block;
  line-height: 1;
  color: #383838
}

.sidenav a.current,
.sidenav a:hover {
  color: #00969E;
  text-decoration: none
}

.sidenav dt a {
  padding-left: 5px;
  font-size: 13px
}

.sidenav dt a span {
  display: block;
  padding: 15px 20px
}

.sidenav .ico_arr {
  position: absolute;
  border: 5px solid #fcfcfc;
  border-top-color: #afafaf;
  border-bottom: 0 none;
  font-size: 0;
  line-height: 0;
  overflow: hidden
}

.sidenav dt .ico_arr {
  top: 18px;
  right: 10px
}

.sidenav dt a:hover .ico_arr {
  border-top-color: #06c
}

.sidenav dd {
  display: none;
  position: relative;
  padding-bottom: 10px
}

.sidenav dd a {
  padding-left: 5px;
  border-top: 1px solid #fcfcfc;
  border-bottom: 1px solid #fcfcfc
}

.sidenav dd a span {
  display: block;
  padding: 8px 10px 8px 24px
}

.sidenav dd a.more_order {
  position: relative;
  display: inline-block;
  margin: 5px 0 5px 20px;
  padding: 5px 28px 5px 14px;
  background-color: #e5f0ff;
  border-radius: 20px
}

.sidenav dd a.more_order:hover {
  background-color: #2577e3;
  color: #fff
}

.sidenav dd a.more_order .ico_arr {
  top: 8px;
  right: 12px;
  border-color: #E5F0FF;
  border-top-color: #afafaf
}

.sidenav dd a.more_order:hover .ico_arr {
  border-color: #2577e3;
  border-top-color: #fff
}

.sidenav dd a.up_order .ico_arr {
  border: 5px solid #E5F0FF;
  border-bottom-color: #afafaf;
  border-top: 0 none
}

.sidenav dd a.up_order:hover .ico_arr {
  border-color: #2577e3;
  border-bottom-color: #fff
}

.ico_new2 {
  position: absolute;
  z-index: 3;
  width: 24px;
  height: 11px;
  top: 16px;
  margin-left: 5px;
  background-position: -162px -9px
}

.sidenav dd .ico_new2 {
  top: 9px
}

.hide_order {
  display: none
}

.sidenav .selected {
  width: 145px;
  background-color: #06c;
  color: #06c;
  *zoom: 1
}

.sidenav dd .selected {
  border-color: #ececec
}

.sidenav .selected span {
  background-color: #fff
}

.sidenav_c dt .ico_arr {
  border: 5px solid #fcfcfc;
  border-bottom-color: #afafaf;
  border-top: 0 none
}

.sidenav_c dt a:hover .ico_arr {
  border-bottom-color: #06c
}

.sidenav_c dd {
  display: block
}

.sidenav a:hover span {
  top: 12px
}

.box_bd {
  padding: 20px 10px;
  zoom: 1
}

.box_tit {
  font-family: Helvetica;
  font-weight: 500;
  font-size: 20px;
  color: #343E57;
  padding-left: 30px;
}

.bd01 {
  padding: 30px 0;
  text-align: center
}

.box_bd1 {
  border: 1px solid #ccc;
  zoom: 1
}

.account_form li {
  width: 45%;
  float: left;
  margin-bottom: 15px;
}

.account_form li.focus {
  background-color: #f5f5f5
}

.account_form .tit {
  display: inline-block;
  position: relative;
  width: 120px;
  padding-right: 20px;
  vertical-align: middle;
  line-height: 32px;
  text-align: right
}

.view_model .val {
  display: inline-block;
  line-height: 32px;
  vertical-align: middle
}

.person_fav.hotthread .item ul li {
  width: 220px;
  height: 247px;
}

.person_fav.hotthread .item .thread .pic,
.person_fav.hotthread .item .thread {
  width: 220px;
  height: 150px;
}

.person_fav.hotthread .item .thread .inner {
  height: auto;
  margin-top: -10px;
  padding: 0 10px;
}
