.errorbox{
	background:url(../Nest/img/error.jpg) 230px 20px #fff no-repeat;
	height: 357px;
    padding: 75px 0 0 576px;
}
.errorbox h1{
	font-size:48px;
	font-weight:normal;
	font-family:"microsoft yahei",SimHei,Arial;
	color:#5f5f5f;
}
.errorbox p{
	padding:0;
	color:#888;
	font-family:"microsoft yahei",SimHei,Arial;
}
.errorbox .fp30{
	font-size:30px;
	color:#5f5f5f;
}
.errorbox a {
	color:#c40000;
}
.errorlink li {
	padding-left:10px;
}
.errorlink s {
	position:absolute;
	width:2px;
	height:2px;
	display:inline-block;
	background-color:#c40000;
	left:-8px;
	top:50%;
	margin-top:-1px;
	overflow:hidden;
}
.errorlink a {
	position:relative;
	display:inline-block;
}
.comingbox {
	background-image:url(../Nest/img/coming-soon.jpg);
}

.modA{
	border:1px solid #e5e5e5;
	background:#fff;
	padding:30px;
}
.modA h3{
	font-size:	18px;
	padding-bottom:20px;
	color:#c40000;
	font-family: "microsoft yahei",Arial;
	font-weight:normal;
}
.modA h3 em{
	font-style:normal;
	font-family: "microsoft yahei",Arial;
}
.modA h3 .modATL,
.modA h3 .modATR{
	display:none;	
}
.modBody{
	color:#666;
}
.modBody h1{
	font-size: 14px;
	font-weight:bold;
	padding-bottom:10px;
}
.modBody p{
	line-height:24px;	
}
.modBody a{
	color:#176DBA;
}
.modBody ul{
	padding-top:20px;	
}
.modBody li{
	height:24px;	
}
#submitEmail #email{
	border:1px solid #d4d4d4;
	padding:4px;
	*padding-top:3px;
	_padding-top:4px;
	width:180px;
	height:16px;
	background-color:#fff;
}
#submitEmail .btnOK{
	border-radius: 3px 3px 3px 3px;
    color: #fff;
    display: inline-block;
    padding: 4px 20px;
    text-align: center;
    text-decoration: none;
	font-size: 12px;
    font-weight: normal;
    line-height: 18px;
    margin-left: 20px;
	background: rgb(239,40,73);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VmMjg0OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNDIxNDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(239,40,73,1) 0%, rgba(228,33,67,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,40,73,1)), color-stop(100%,rgba(228,33,67,1)));
background: -webkit-linear-gradient(top,  rgba(239,40,73,1) 0%,rgba(228,33,67,1) 100%);
background: -o-linear-gradient(top,  rgba(239,40,73,1) 0%,rgba(228,33,67,1) 100%);
background: -ms-linear-gradient(top,  rgba(239,40,73,1) 0%,rgba(228,33,67,1) 100%);
background: linear-gradient(to bottom,  rgba(239,40,73,1) 0%,rgba(228,33,67,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef2849', endColorstr='#e42143',GradientType=0 );
}
#submitEmail .btnOK:hover{background: rgb(228,33,67);
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U0MjE0MyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZjI4NDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(228,33,67,1) 0%, rgba(239,40,73,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(228,33,67,1)), color-stop(100%,rgba(239,40,73,1)));
background: -webkit-linear-gradient(top,  rgba(228,33,67,1) 0%,rgba(239,40,73,1) 100%);
background: -o-linear-gradient(top,  rgba(228,33,67,1) 0%,rgba(239,40,73,1) 100%);
background: -ms-linear-gradient(top,  rgba(228,33,67,1) 0%,rgba(239,40,73,1) 100%);
background: linear-gradient(to bottom,  rgba(228,33,67,1) 0%,rgba(239,40,73,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e42143', endColorstr='#ef2849',GradientType=0 );
}
:root #submitEmail .btnOK,
:root #submitEmail .btnOK:hover{
	filter: none\0;
}