@import url("../ele_css/ele_popWin.css");
.headerCtner{
	left:0;
}
#header{
	border-bottom:2px solid #e13358;
	height:107px;
	width:100%;
}
#header .logo{
	top:29px;
}
#header .taobao_link{
	background:url(../Nest/img/taogao_link_bg.png) no-repeat;
	height:24px;
	width:228px;
	right:10px;
	top:41px;
	position:absolute;
}
body{
	background-color:#f5f5f5;
}
.mb66{
	margin-bottom:66px!important;
}
.sublogo{
	position:absolute;
	color:#666;
	font-size:24px;
	left:230px;
	top:34px;
	font-family:microsoft yahei, SimHei;
}
/* common */
.wraper { width:1000px;}
.pl10 { padding-left:10px;}
.intxt { background-color:#f3f3f3;}
.error { color:#f00;}
.reg_title{
	font-size:20px;
	font-family:microsoft yahei, SimHei;
	font-weight:normal;
	color:#000;
	padding:38px 0 10px 0;
}
.login {position:relative; background:#fff/* url(../Nest/img/logoreg_box_shadow.jpg) no-repeat 29px center*/;}
.loginBanner img{width:546px;height:418px;}
.login-form {width:353px;height:318px;padding:50px;border-left:1px solid #e9e9e9; float:right;}
.login-form .c {}
.login-form .c  ul { line-height:26px; padding-top:0px;}
.login-form .c  ul li { margin-bottom:-1px;*float:left;*width:352px; _margin-bottom:-3px; position:relative; height:54px;_zoom:1;}
.login-form .c  ul li label {position:absolute; z-index:2;line-height:1.5; font-size:14px; top:16px; left:20px;_top:18px;}
.login-form .c  ul li .intxt{width:235px;padding:18px 20px 18px 96px;border:1px solid #dedede; font-size:14px; font-family:"Microsoft Yahei"; background-color:#fff; vertical-align:middle; }
.login-form .c  ul li label span {padding-top:13px;}
.login-form .c  ul li label span {padding-top:15px\9;padding-top:13px\0;}
:root .login-form .c  ul li label span {padding-top:14px\0;}
.login-form .c  ul li .intxt{padding-top:16px\9;padding-bottom:20px\9;_padding-top:18px;_padding-bottom:18px;}
.login-form .c  ul li label .label{ margin:1px 0 0 1px; *margin-top:2px; padding-top:12px; *padding-top:14px; padding-left:1.3em; display:inline-block; position:absolute; z-index:2; width:4em; color:#666; background-color:#fff;}
.login-form .c  ul li label .input_tip{ margin-top:1px; padding-left:5.8em; display:inline-block; position:absolute; z-index:0;color:#ccc;}
.login-form .intxtfocusli{z-index:1}
.login-form .intxtfocus{border-color:#ff3254!important; position:relative;z-index:1;}
.login-form .Validform_error{border-color:#ff4646!important; position:relative; z-index:1;}
.login-form .hover_text{
	color:#ccc;
	left:96px !important;
	cursor:text;
}
.login-form .intxtfocusli .hover_text{
	display:none;
}
.login-form .c .opt { line-height:50px; padding-top:23px; padding-left:0px; color:#007ccf;}
.login-form .c .opt .btn_login { display:inline-block; margin:0 22px 0 0; width:223px; height:0; padding-top:51px; overflow:hidden; background:url(../Nest/img/btns_logreg.png) 0 0 no-repeat;}
.login-form .c .opt .btn_login:hover{ background-position:0 -51px;}
.login-form .c .opt a { color:#007ccf;}
.login-form .c .opt a:hover { color:#E52142;}
/*.login-form .c .other {margin:15px 39px 0 0;border-top:1px solid #e9e9e9;}
.login-form .c .other p { color:#666; font-size:12px; font-weight:normal; line-height:46px;}
.login-form .c .btn_sina_login { background:url(../nest/img/login_15.png) no-repeat; width:68px; height:24px; display:inline-block;}
.login-form .c .btn_qq_login { background:url(../nest/img/login_17.png) no-repeat; width:65px; height:24px; display:inline-block; margin-left:30px;}
.login-form .c .btn_alipay_login { background:url(../nest/img/login_19.png) no-repeat; width:74px; height:24px; display:inline-block; margin-left:20px;}
*/
.otherlogin{zoom:1; padding-top:10px; margin-right:-50px;}
.otherlogin dt{ color:#666; font-size:12px; font-weight:normal; line-height:30px;}
.otherlogin dd{float:left;height:30px;}
.otherlogin .SDOLogon{margin-left:10px;}
.otherlogin dd a{background:url(../Nest/img/otherLoginIcon.gif) no-repeat scroll 3px -1119px;float:left;height:22px;line-height:30px;margin:4px 0;min-width:20px;overflow:hidden;padding:0 16px 0 23px;}
.otherlogin dd a:hover{color:#E52142;text-decoration:underline;}
.otherlogin dd a{color:#666;text-decoration:none;white-space:nowrap;}
.otherlogin dd.AliPayLogon a{background-position:3px -2681px;}
.otherlogin dd.TencentQQLogon a{background-position:3px -2542px;}
.otherlogin dd.NeteaseLogon a{background-position:3px -2428px;}
.otherlogin dd.SinaLogon a{background-position:3px -2477px;}
.otherlogin dd.CmpayLogon a{background-position:1px -2576px;padding-right:5px;}
.otherlogin dd.SDOLogon a{background-position:3px -2609px;}
.otherlogin dd.TenPayLogon a{background-position:3px -1088px;}
.otherlogin dd.ThunderLogon a{background-position:3px -2508px;padding-right:0;}
.otherlogin dd.PingAnLogon a{background-position:3px -2646px;}
.otherlogin dd.ZhongZhiLogon a{background-position:3px -2122px;}


.reg-title { color:#f93913; font-size:25px; margin:0px auto; width:980px; padding-bottom:5px; font-family:"Microsoft YaHei",Î¢ÈíÑÅºÚ,"Microsoft JhengHei",»ªÎÄÏ¸ºÚ,STHeiti,MingLiu;}
.reg { margin:0px auto; background:#fff;}
.reg .left { float:left; width:585px; margin-right:-1px; border-right:1px solid #e9e9e9;}
.reg .right { float:right; width:410px; padding-bottom:50px;  min-height:365px; _height:365px; }
.reg .right dl{ margin:0 auto;}
.reg .right dt{width:200px;font-size:18px;color:#de0027; display:block; margin:0 auto 10px; text-align:center;} 
.reg .right dd{text-align:center;width:200px; margin:0 auto;}
.reg .right .boxTop{ padding-top:40px; padding-bottom:20px;}
.reg .right .boxBot{border-top:1px solid #e9e9e9; padding-top:63px; }
.reg .right .boxBot p{ color:#666; font-size:18px; line-height:30px;}
.reg .tab { background-color:#f5f5f5; line-height:30px; border-bottom:1px solid #b1b1b1; padding-left:50px; z-index:500;}
.reg .tab a { display:inline-block; height:30px; padding:0px 40px; font-size:14px; font-weight:bold;font-family:"Microsoft YaHei",Î¢ÈíÑÅºÚ,"Microsoft JhengHei",»ªÎÄÏ¸ºÚ,STHeiti,MingLiu; color:#949494; text-decoration:none; z-index:501;}
.reg .tab a.now { color:#666666; border:1px solid #b1b1b1; border-bottom:0px none; height:33px; line-height:32px; margin-top:-1px; margin-bottom:-1px; background-color:White;}




.boxInner{border:1px solid #e9e9e9;border-top:none;}
.login .boxInner{height:455px;}
.boxTit{
	height:38px;
	line-height:38px;
	border-top:2px solid #e42141;
	border-bottom:1px solid #e9e9e9;
	font-size:14px;
	color:#e42141;
	padding-left:23px;
}
.reg-form{
	float:none;
	border:0;
	width:485px;
	height:372px;
}
.reg-form .c  ul li .intxt{width:236px;}
.reg-form .validcode{
	display:block;
	padding:1px 0;
	margin-left:9px;
}
.reg-form .validcodeli{
	line-height:50px;
}
.reg-form .validcode img{
	display:block;
	border:1px solid #efefef;
}
.reg-form a{
	color:#0066cc;
}
.reg-form .error{
	position:absolute;
	left:350px;
	top:16px;
	width:133px;
	background:url(../Nest/img/error.png) 2px 1px no-repeat;
	margin-left:10px;
	display:inline-blcok;
	line-height:1.5;
	padding:0 0 0 22px;
	zoom:1;
}
.reg-form .validcodeli .error{
	float:left;
}
.reg-form .c ul li.read-me{
	height:40px;
	float:none;
	clear:both;
}
.reg-form .c ul li.read-me .check { margin-top:8px; margin-top:3px\9;}
.reg-form .c .opt .btn_reg { display:inline-block; width:353px; height:51px; background:url(../Nest/img/btns_logreg.png) left -102px no-repeat; cursor:pointer;}
.reg-form .c .opt .btn_reg:hover{
	background-position:left -154px;
}
.reg-form .c .opt{
	padding:0;
}
.reg-form .c  ul li{
	width:100%;
}
.login-banner{
	width:592px;
	height:413px;
	overflow:hidden;
}
.login-banner img{
	margin:0 auto;
	display:block;
}
#regNote{
	border:none;
}
#regNote .centerPopBody{border:1px solid #dedede;}
#regNote h3{
	background-color:#E03357;
	height:46px;
	line-height:46px;
	font-size:16px;
}
.registerpanel .boxpanel{
	background:#fff;
}
.registerpanel .login-form{
	height:auto;
	width:auto;
	padding-left:297px;
	padding-top:37px;
}
.registerpanel .step_panel{
	text-align:center;
	padding:30px 0;
	width:100%;
	border-bottom:1px solid #e9e9e9;
}
.registerpanel .step_panel p{
	background:url(../Nest/img/findpassword_bg.png) center top no-repeat;
	height:35px;
	width:100%;
	display:block;
}
.registerpanel .step_panel2 p{
	background-position: center -39px;
}
.registerpanel .step_panel3 p{
	background-position: center -81px;
}
.registerpanel .step_panel4 p{
	background-position: center -122px;
}

.registerpanel .step_panel .step_text{
	width:736px;
	overflow:hidden;
	margin:0 auto;
}
.registerpanel .step_panel .step_text li{
	width:184px;
	overflow:hidden;
	text-align:center;
	float:left;
	font-size:16px;
	padding:10px 0 0 0;
}
.registerpanel .step_panel1 .step_text .step1{
	color:#e01841;
}
.registerpanel .step_panel2 .step_text .step2{
	color:#e01841;
}
.registerpanel .step_panel3 .step_text .step3{
	color:#e01841;
}
.registerpanel .step_panel4 .step_text .step4{
	color:#e01841;
}
.btn_fdpwd_next{
	background:url(../Nest/img/btns_logreg.png) left -208px no-repeat;
	width:223px;
	height:51px;
}
.btn_fdpwd_next:hover{
	background-position:left -261px;
}
.findpwd_opt{
	margin-top:27px;
	zoom:1;
}
.findsuc{
	background:url(../Nest/img/icon_logreg.png) no-repeat left top;
	padding-left:49px;
	font-size:14px;
}
.findsuc h2{
	font-size:16px;
	padding-bottom:12px;
}
.findsuc .suc{
	padding-top:20px;
	display:block;
	font-style:normal;
	text-decoration:none;
}
.findsuc .suc a{
	text-decoration:underline;
	padding:0 3px;
}
.findsuc .suc a:hover{
	color:#e01841;
}