@import url("../ele_css/ele_pagenav.css");
.news h2{
    color: #c40000;
    font-size: 18px;
	font-family:"microsoft yahei",simhei;
	padding-bottom:5px;
	font-weight:bold;
}
.pageNav{
	padding-bottom:0;	
}
.tline{
	height:62px;
	padding:3px 15px;
	background-color:#fff;
	border-bottom:1px solid #f5f5f5;
}
.tline h3{
	float:left;
	height:62px;
	line-height:62px;
	padding-left:10px;
	font-weight:normal;
	font-size:14px;
}
.all_list{
	padding:15px;
	background-color:#fff;
}
.all_list a{ 
	color:#666;
}
.all_list a:hover{
	color:#c40000;
}
.all_list a s{
	position:absolute;
	font-weight:bold;
	margin-left:-10px;
	text-decoration:none;
}
.all_list a:hover,
.all_list a:hover s{
	color:#c40000;
}
.news .all_list dl {
	padding:3px 0;
    border-bottom: 1px dotted #e7e7e7;
    line-height: 34px;
    overflow: hidden;
}
.news .all_list dt {
    float: left;
    padding: 0 10px 0 22px;
    width: 1000px;
}
.news .all_list dd {
    color: #666;
    float: right;
    padding-right: 10px;
}
.news .all_list dd span {
    padding-right: 10px;
}
.artTitle{
	background-color:#fff;
	margin-bottom:2px;
	overflow:hidden;
}
.artTitle h2 {
	padding:15px 30px 10px;
    font: normal 20px "microsoft yahei";
    text-align: center;
	color:#333;
}
.artTitle span {
    color: #A8A8A8;
    padding: 18px 10px 0 0;
}
.artTitle span s {
    padding-right: 10px;
    text-decoration: none;
}
.content {
	min-height:200px;
	padding:20px 30px;
    margin-left:auto;
	margin-right:auto;
    width: 1140px;
	color:#666;
	line-height:1.73;
	font-size:14px;
	background:#fff;
	overflow:hidden;
}
.pagebtn{
	margin-top:2px;
	padding:15px 0;
	background-color:#fff;
}