body{
	background-color:#F7F7F7;
	padding-bottom:20px;
}
.wraper {
	width:1000px;
}
.probtn {
	position:absolute;
	right:0;
	top:15px;
}
.btn_buy,
.btn_addcart,
.btn_addfavor,
.btn_favored,
.btn_notify,
.btn_share,
.btn_relay,
.btn_addcart2{
	background:url(../Nest/img/product_sprite.png) no-repeat;
}
.btn_addcart{
	width:182px;
	height:44px;
	background-position:left -81px;
}
.btn_addcart:hover{
	background-position:left -125px;
}
.btn_addfavor{
	width:162px;
	height:44px;
	background-position:left -169px;
}
.btn_addfavor:hover{
	background-position:left -213px;
}
.btn_favored{
	width:162px;
	height:44px;
	background-position:left 0;
}
.btn_favored:hover{
	background-position:left 0;
}
.proHeader{
	position:relative;
	height:80px;
	margin-top:15px;
	padding:0 340px 0 5px;
	font-family:Tahoma,"Microsoft Yahei";	
	vertical-align:middle;
	color:#333;
}
.proHeader h1{
	font-size:18px;
	font-family:Tahoma,"Microsoft Yahei";
}
.proHeader td{
	height:60px;
	overflow:hidden;
}
.proHeader .promoText{
	color:#378bd3;
	font-size:14px;
	font-weight:bold;
	margin-top:2px;
	display:none;
}
.mainStage {
	border:1px solid #fff;
}
.bigPicShow{
	height:800px;
	width:801px;
	padding:0;
	background:url(../Nest/img/loading_3.gif) no-repeat 419px 2376px #fff;
	float:left;
	overflow:hidden;
	text-align:center;
}
.bigPicShow img{
	max-width:800px;	
	-ms-interpolation-mode:bicubic;
	_max-width:expression(this.style.width=(this.offsetWidth>=800)?"800px":"auto");
	zoom:1;
	vertical-align: middle;
}
.bigPicShow .alignRefer {
	display: inline-block;
	width: 1px;
	height: 100%;
	*height: 799px;
	vertical-align: middle;
}
.smallPicList{
	width:197px;
	margin-left:-1px;
	float:right;
	height:800px;
	color:#fff;
	background:#fff;
	position:relative;
	overflow:hidden;
	border-left:1px dotted #e7e7e7;
}
.smallPicList h3{
	background:#236cb9;
	font-size:12px;
	height:30px;
	line-height:30px;
	font-weight:bold;
	color:#fff;
	padding:0 10px;
}
.smallPicList h3 ins{
	font-style:normal;
	font-weight:normal;
	text-decoration:none;
	padding:0 5px;
}
.smallPicList .smallPicListview{
	position:relative;	
	height:696px;
	margin: 51px 0 0;
	padding-left:38px;
	overflow:hidden;
}
.smallPicList .abtn {
	width:58px;
	height:22px;
	border:1px solid #fff;
	left:64px;
	background-image:url(../Nest/img/abtn_v.png);
	background-color:#fff;
}
.smallPicList .aleft {
	top:15px;
	background-position:18px 6px;
}
.smallPicList .agrayleft {
	display:block;
	background-position:18px -38px;
}
.smallPicList .aright {
	bottom:15px;
	top:auto;
	background-position:18px -15px;
}
.smallPicList .agrayright {
	display:block;
	background-position:18px -61px;
}
.smallPicList ul{
	position:relative;
	zoom:1;
}

.smallPicList li{
	width:120px;
	height:144px;
	padding:0;
	display:block;
	margin:0;
	float:left;
	overflow:hidden;
}
.smallPicList li a {
	display:block;
	border:1px #ececec solid;
}
.smallPicList li img {
	display:block;
	width:116px;
	height:116px;
	border:1px solid #fff;
}
.smallPicList li.current a{
	border-color: #c81c00;
}
.smallPicList li.current img {
	border-color:#c81c00;
}


/* Gallery In Discuss List Page */
.gallery { margin:15px 0; }
.gallery .bigPicShow { width:750px; height:570px; padding: 0; text-align:center;}
.gallery .bigPicShow img { height:570px;}
.gallery .smallPicListview { top: 0; width:109px;}
.gallery .smallPicList {width:89px; height:568px;}