/**
	Theme A: Default Basic Color 
**/
.storeTheme_A{}


/**
	=====================
	Theme B: Orange Color
	=====================
**/
.storeTheme_B{}

/* Sprite */
.storeTheme_B .store_ele_sprite{ background-image:url(../Nest/img/store/theme_orange/store_sprites.png);}

/* Price */
.storeTheme_B .store_layout_left_main .price14,
.storeTheme_B .store_layout_main_right .price14,
.storeTheme_B .store_layout_main .price14{ background-image:url(../Nest/img/store/theme_orange/price.png);}

/* Tonglan Navigation & Menu */
.storeTheme_B #main .menu{ background-color:#ff7800;}
.storeTheme_B #main #menu .menubar{border-bottom-color:#ff7800;}
.storeTheme_B #main .navigation .item:hover{color:#ff7800;}
.storeTheme_B #menu .navigation .now .item{color:#ff7800; font-weight:bold;}
.storeTheme_B #main .menulist dl{background-image:url(../Nest/img/store/theme_orange/category.png);}
.storeTheme_B #main .menulist .ddwrap{border-color:#ff7800;}
.storeTheme_B #main .menulist .cateWrap a:hover{color:#ff7800;}
.storeTheme_B #main .menulist .now dt{background-color:#ff7800;}
/* crumb */
.storeTheme_B .crumb,
.storeTheme_B .crumb a:hover{color:#ff7800;}

/* Ele-dianzhao */
.storeTheme_B .store_ele_dianzhao .ele_intro .ele_tit{color:#2795d6;}

/* Ele-navigation */
.storeTheme_B .store_ele_navgation .ele_navlist{ background-color:#ff7800;}
.storeTheme_B .store_ele_navgation .ele_navlist a:hover{ color:#fff8f1;}
.storeTheme_B .store_ele_navgation .ele_navlist a.curr{ color:#f40;}

/* Ele-cate */
.storeTheme_B .store_ele_cate .ele_caption{ background-color:#ff7800; }
.storeTheme_B .store_ele_cate .cate_1_curr a,
.storeTheme_B .store_ele_cate .cate_1 a:hover,
.storeTheme_B .store_ele_cate .cate_2 a:hover,
.storeTheme_B .store_ele_cate .cate_3 li .curr,
.storeTheme_B .store_ele_cate .cate_3 li a:hover{color:#ff7800;}

/* Ele-customed HTML Box */
.storeTheme_B .contact_box p{color:#ff7800;}

/* Ele-newslist */
.storeTheme_B .newslist a:hover,
.storeTheme_B .newslist a:hover s{color:#ff7800;}

/* Ele-newslist @ Tonglan */
.storeTheme_B .store_layout_main .newslist li a:hover,
.storeTheme_B .store_layout_main .newslist .item_show a{color:#ff7800;}

/* Ele-Common Box */
.storeTheme_B .ele_caption .func_more:hover{color:#ff7800;}
.storeTheme_B .store_layout_col_main .store_ele_cmnbox .cpt_tit{border-bottom-color:#ff7800;}
.storeTheme_B .store_layout_main .store_ele_cmnbox .cpt_tit{color:#ff7800;}
.storeTheme_B .store_layout_main .store_ele_cmnbox .ele_caption:before,
.storeTheme_B .store_layout_main .store_ele_cmnbox .ele_caption .ie67_leftDecor{background-color:#ff7800;}

/* Ele-probox */
.storeTheme_B .store_layout_left_main .prolist .tit a:hover,
.storeTheme_B .store_layout_main_right .prolist .tit a:hover,
.storeTheme_B .store_layout_main .prolist .tit a:hover,
.storeTheme_B .store_layout_left_main .prolist .price,
.storeTheme_B .store_layout_main_right .prolist .price,
.storeTheme_B .store_layout_main .prolist .price{color:#ff7800;}

/*** Store List Page ***/
/* filterbox & orderbox */
.storeTheme_B .filtertable .inner label a:hover,
.storeTheme_B .filtertable .inner label a:hover em,
.storeTheme_B .filtertable .inner .selected a, 
.storeTheme_B .filtertable .inner .selected a em,
.storeTheme_B .currOption label a,
.storeTheme_B .filter .seprator a:hover{color:#ff7800;}
.storeTheme_B .currOption label{border-color:#ff7800;}
.storeTheme_B .currOption .btnDelR span span,
.storeTheme_B .filter .seprator .ckbox{ background-image:url(../Nest/img/store/theme_orange/filter_ele.png);}
.storeTheme_B .filter .item, 
.storeTheme_B .filter .item span,
.storeTheme_B .filter .pagebtn .btn_prev, 
.storeTheme_B .filter .pagebtn .btn_next{ background-image:url(../Nest/img/store/theme_orange/sprite_category.png);}

/* page nav */
.storeTheme_B .pageNav a:hover{color:#ff7800;}
.storeTheme_B .pageNav a.curr, 
.storeTheme_B .pageNav a.curr:hover, 
.storeTheme_B .pageNav a.curr span{background-color:#ff7800!important;border-color:#ff7800;}

/*** Search Result Page ***/
.storeTheme_B .crumb .searchtitle strong{color:#ff7800;}



/**
	=====================
	Theme C: Orange-Red Color
	=====================
**/
.storeTheme_C{}

/* Sprite */
.storeTheme_C .store_ele_sprite{ background-image:url(../Nest/img/store/theme_orangeRed/store_sprites.png);}

/* Price */
.storeTheme_C .store_layout_left_main .price14,
.storeTheme_C .store_layout_main_right .price14,
.storeTheme_C .store_layout_main .price14{ background-image:url(../Nest/img/store/theme_orangeRed/price.png);}

/* Tonglan Navigation & Menu */
.storeTheme_C #main .menu{ background-color:#f4614d;}
.storeTheme_C #main #menu .menubar{border-bottom-color:#f4614d;}
.storeTheme_C #main .navigation .item:hover{color:#f4614d;}
.storeTheme_C #menu .navigation .now .item{color:#f4614d; font-weight:bold;}
.storeTheme_C #main .menulist dl{background-image:url(../Nest/img/store/theme_orangeRed/category.png);}
.storeTheme_C #main .menulist .ddwrap{border-color:#f4614d;}
.storeTheme_C #main .menulist .cateWrap a:hover{color:#f4614d;}
.storeTheme_C #main .menulist .now dt{background-color:#f4614d;}
/* crumb */
.storeTheme_C .crumb,
.storeTheme_C .crumb a:hover{color:#f4614d;}

/* Ele-dianzhao */
.storeTheme_C .store_ele_dianzhao .ele_intro .ele_tit{color:#f4614d;}

/* Ele-navigation */
.storeTheme_C .store_ele_navgation .ele_navlist{ background-color:#f4614d;}
.storeTheme_C .store_ele_navgation .ele_navlist a:hover{ color:#ffe9e6;}
.storeTheme_C .store_ele_navgation .ele_navlist a.curr{ color:#f4614d;}

/* Ele-cate */
.storeTheme_C .store_ele_cate .ele_caption{ background-color:#f4614d; }
.storeTheme_C .store_ele_cate .cate_1_curr a,
.storeTheme_C .store_ele_cate .cate_1 a:hover,
.storeTheme_C .store_ele_cate .cate_2 a:hover,
.storeTheme_C .store_ele_cate .cate_3 li .curr,
.storeTheme_C .store_ele_cate .cate_3 li a:hover{color:#f4614d;}

/* Ele-customed HTML Box */
.storeTheme_C .contact_box p{color:#f4614d;}

/* Ele-newslist */
.storeTheme_C .newslist a:hover,
.storeTheme_C .newslist a:hover s{color:#f4614d;}

/* Ele-newslist @ Tonglan */
.storeTheme_C .store_layout_main .newslist li a:hover,
.storeTheme_C .store_layout_main .newslist .item_show a{color:#f4614d;}

/* Ele-Common Box */
.storeTheme_C .ele_caption .func_more:hover{color:#f4614d;}
.storeTheme_C .store_layout_col_main .store_ele_cmnbox .cpt_tit{border-bottom-color:#f4614d;}
.storeTheme_C .store_layout_main .store_ele_cmnbox .cpt_tit{color:#f4614d;}
.storeTheme_C .store_layout_main .store_ele_cmnbox .ele_caption:before,
.storeTheme_C .store_layout_main .store_ele_cmnbox .ele_caption .ie67_leftDecor{background-color:#f4614d;}

/* Ele-probox */
.storeTheme_C .store_layout_left_main .prolist .tit a:hover,
.storeTheme_C .store_layout_main_right .prolist .tit a:hover,
.storeTheme_C .store_layout_main .prolist .tit a:hover,
.storeTheme_C .store_layout_left_main .prolist .price,
.storeTheme_C .store_layout_main_right .prolist .price,
.storeTheme_C .store_layout_main .prolist .price{color:#f4614d;}

/*** Store List Page ***/
/* filterbox & orderbox */
.storeTheme_C .filtertable .inner label a:hover,
.storeTheme_C .filtertable .inner label a:hover em,
.storeTheme_C .filtertable .inner .selected a, 
.storeTheme_C .filtertable .inner .selected a em,
.storeTheme_C .currOption label a,
.storeTheme_C .filter .seprator a:hover{color:#f4614d;}
.storeTheme_C .currOption label{border-color:#f4614d;}
.storeTheme_C .currOption .btnDelR span span,
.storeTheme_C .filter .seprator .ckbox{ background-image:url(../Nest/img/store/theme_orangeRed/filter_ele.png);}
.storeTheme_C .filter .item, 
.storeTheme_C .filter .item span,
.storeTheme_C .filter .pagebtn .btn_prev, 
.storeTheme_C .filter .pagebtn .btn_next{ background-image:url(../Nest/img/store/theme_orangeRed/sprite_category.png);}

/* page nav */
.storeTheme_C .pageNav a:hover{color:#f4614d;}
.storeTheme_C .pageNav a.curr, 
.storeTheme_C .pageNav a.curr:hover, 
.storeTheme_C .pageNav a.curr span{background-color:#f4614d!important;border-color:#f4614d;}

/*** Search Result Page ***/
.storeTheme_C .crumb .searchtitle strong{color:#f4614d;}


/**
	=====================
	Theme D: Green Color
	=====================
**/
.storeTheme_D{}

/* Sprite */
.storeTheme_D .store_ele_sprite{ background-image:url(../Nest/img/store/theme_green/store_sprites.png);}

/* Price */
.storeTheme_D .store_layout_left_main .price14,
.storeTheme_D .store_layout_main_right .price14,
.storeTheme_D .store_layout_main .price14{ background-image:url(../Nest/img/store/theme_green/price.png);}

/* Tonglan Navigation & Menu */
.storeTheme_D #main .menu{ background-color:#63af00;}
.storeTheme_D #main #menu .menubar{border-bottom-color:#63af00;}
.storeTheme_D #main .navigation .item:hover{color:#d19c1c;}
.storeTheme_D #menu .navigation .now .item{color:#d19c1c; font-weight:bold;}
.storeTheme_D #main .menulist dl{background-image:url(../Nest/img/store/theme_green/category.png);}
.storeTheme_D #main .menulist .ddwrap{border-color:#63af00;}
.storeTheme_D #main .menulist .cateWrap a:hover{color:#63af00;}
.storeTheme_D #main .menulist .now dt{background-color:#63af00;}
/* crumb */
.storeTheme_D .crumb,
.storeTheme_D .crumb a:hover{color:#63af00;}

/* Ele-dianzhao */
.storeTheme_D .store_ele_dianzhao .ele_intro .ele_tit{color:#63af00;}

/* Ele-navigation */
.storeTheme_D .store_ele_navgation .ele_navlist{ background-color:#63af00;}
.storeTheme_D .store_ele_navgation .ele_navlist a:hover{ color:#f1ffdf;}
.storeTheme_D .store_ele_navgation .ele_navlist a.curr{ color:#63af00;}

/* Ele-cate */
.storeTheme_D .store_ele_cate .ele_caption{ background-color:#63af00; }
.storeTheme_D .store_ele_cate .cate_1_curr a,
.storeTheme_D .store_ele_cate .cate_1 a:hover,
.storeTheme_D .store_ele_cate .cate_2 a:hover,
.storeTheme_D .store_ele_cate .cate_3 li .curr,
.storeTheme_D .store_ele_cate .cate_3 li a:hover{color:#63af00;}

/* Ele-customed HTML Box */
.storeTheme_D .contact_box p{color:#63af00;}

/* Ele-newslist */
.storeTheme_D .newslist a:hover,
.storeTheme_D .newslist a:hover s{color:#63af00;}

/* Ele-newslist @ Tonglan */
.storeTheme_D .store_layout_main .newslist li a:hover,
.storeTheme_D .store_layout_main .newslist .item_show a{color:#63af00;}

/* Ele-Common Box */
.storeTheme_D .ele_caption .func_more:hover{color:#63af00;}
.storeTheme_D .store_layout_col_main .store_ele_cmnbox .cpt_tit{border-bottom-color:#63af00;}
.storeTheme_D .store_layout_main .store_ele_cmnbox .cpt_tit{color:#63af00;}
.storeTheme_D .store_layout_main .store_ele_cmnbox .ele_caption:before,
.storeTheme_D .store_layout_main .store_ele_cmnbox .ele_caption .ie67_leftDecor{background-color:#63af00;}

/* Ele-probox */
.storeTheme_D .store_layout_left_main .prolist .tit a:hover,
.storeTheme_D .store_layout_main_right .prolist .tit a:hover,
.storeTheme_D .store_layout_main .prolist .tit a:hover{color:#63af00;}
.storeTheme_D .store_layout_left_main .prolist .price,
.storeTheme_D .store_layout_main_right .prolist .price,
.storeTheme_D .store_layout_main .prolist .price{color:#f60;}

/*** Store List Page ***/
/* filterbox & orderbox */
.storeTheme_D .filtertable .inner label a:hover,
.storeTheme_D .filtertable .inner label a:hover em,
.storeTheme_D .filtertable .inner .selected a, 
.storeTheme_D .filtertable .inner .selected a em,
.storeTheme_D .currOption label a,
.storeTheme_D .filter .seprator a:hover{color:#63af00;}
.storeTheme_D .currOption label{border-color:#63af00;}
.storeTheme_D .currOption .btnDelR span span,
.storeTheme_D .filter .seprator .ckbox{ background-image:url(../Nest/img/store/theme_green/filter_ele.png);}
.storeTheme_D .filter .item, 
.storeTheme_D .filter .item span,
.storeTheme_D .filter .pagebtn .btn_prev, 
.storeTheme_D .filter .pagebtn .btn_next{ background-image:url(../Nest/img/store/theme_green/sprite_category.png);}

/* page nav */
.storeTheme_D .pageNav a:hover{color:#63af00;}
.storeTheme_D .pageNav a.curr, 
.storeTheme_D .pageNav a.curr:hover, 
.storeTheme_D .pageNav a.curr span{background-color:#63af00!important;border-color:#63af00;}

/*** Search Result Page ***/
.storeTheme_D .crumb .searchtitle strong{color:#63af00;}

/**
	=====================
	Theme E: Blue Color
	=====================
**/
.storeTheme_E{}

/* Sprite */
.storeTheme_E .store_ele_sprite{ background-image:url(../Nest/img/store/theme_blue/store_sprites.png);}

/* Price */
.storeTheme_E .store_layout_left_main .price14,
.storeTheme_E .store_layout_main_right .price14,
.storeTheme_E .store_layout_main .price14{ background-image:url(../Nest/img/store/theme_blue/price.png);}

/* Tonglan Navigation & Menu */
.storeTheme_E #main .menu{ background-color:#3cb0f2;}
.storeTheme_E #main #menu .menubar{border-bottom-color:#3cb0f2;}
.storeTheme_E #main .navigation .item:hover{color:#3cb0f2;}
.storeTheme_E #menu .navigation .now .item{color:#3cb0f2; font-weight:bold;}
.storeTheme_E #main .menulist dl{background-image:url(../Nest/img/store/theme_blue/category.png);}
.storeTheme_E #main .menulist .ddwrap{border-color:#3cb0f2;}
.storeTheme_E #main .menulist .cateWrap a:hover{color:#3cb0f2;}
.storeTheme_E #main .menulist .now dt{background-color:#3cb0f2;}
/* crumb */
.storeTheme_E .crumb,
.storeTheme_E .crumb a:hover{color:#3cb0f2;}

/* Ele-dianzhao */
.storeTheme_E .store_ele_dianzhao .ele_intro .ele_tit{color:#3cb0f2;}

/* Ele-navigation */
.storeTheme_E .store_ele_navgation .ele_navlist{ background-color:#3cb0f2;}
.storeTheme_E .store_ele_navgation .ele_navlist a:hover{ color:#dbf2ff;}
.storeTheme_E .store_ele_navgation .ele_navlist a.curr{ color:#3cb0f2;}

/* Ele-cate */
.storeTheme_E .store_ele_cate .ele_caption{ background-color:#3cb0f2; }
.storeTheme_E .store_ele_cate .cate_1_curr a,
.storeTheme_E .store_ele_cate .cate_1 a:hover,
.storeTheme_E .store_ele_cate .cate_2 a:hover,
.storeTheme_E .store_ele_cate .cate_3 li .curr,
.storeTheme_E .store_ele_cate .cate_3 li a:hover{color:#3cb0f2;}

/* Ele-customed HTML Box */
.storeTheme_E .contact_box p{color:#3cb0f2;}

/* Ele-newslist */
.storeTheme_E .newslist a:hover,
.storeTheme_E .newslist a:hover s{color:#3cb0f2;}

/* Ele-newslist @ Tonglan */
.storeTheme_E .store_layout_main .newslist li a:hover,
.storeTheme_E .store_layout_main .newslist .item_show a{color:#3cb0f2;}

/* Ele-Common Box */
.storeTheme_E .ele_caption .func_more:hover{color:#3cb0f2;}
.storeTheme_E .store_layout_col_main .store_ele_cmnbox .cpt_tit{border-bottom-color:#3cb0f2;}
.storeTheme_E .store_layout_main .store_ele_cmnbox .cpt_tit{color:#3cb0f2;}
.storeTheme_E .store_layout_main .store_ele_cmnbox .ele_caption:before,
.storeTheme_E .store_layout_main .store_ele_cmnbox .ele_caption .ie67_leftDecor{background-color:#3cb0f2;}

/* Ele-probox */
.storeTheme_E .store_layout_left_main .prolist .tit a:hover,
.storeTheme_E .store_layout_main_right .prolist .tit a:hover,
.storeTheme_E .store_layout_main .prolist .tit a:hover{color:#3cb0f2;}
.storeTheme_E .store_layout_left_main .prolist .price,
.storeTheme_E .store_layout_main_right .prolist .price,
.storeTheme_E .store_layout_main .prolist .price{color:#f60;}

/*** Store List Page ***/
/* filterbox & orderbox */
.storeTheme_E .filtertable .inner label a:hover,
.storeTheme_E .filtertable .inner label a:hover em,
.storeTheme_E .filtertable .inner .selected a, 
.storeTheme_E .filtertable .inner .selected a em,
.storeTheme_E .currOption label a,
.storeTheme_E .filter .seprator a:hover{color:#3cb0f2;}
.storeTheme_E .currOption label{border-color:#3cb0f2;}
.storeTheme_E .currOption .btnDelR span span,
.storeTheme_E .filter .seprator .ckbox{ background-image:url(../Nest/img/store/theme_blue/filter_ele.png);}
.storeTheme_E .filter .item, 
.storeTheme_E .filter .item span,
.storeTheme_E .filter .pagebtn .btn_prev, 
.storeTheme_E .filter .pagebtn .btn_next{ background-image:url(../Nest/img/store/theme_blue/sprite_category.png);}

/* page nav */
.storeTheme_E .pageNav a:hover{color:#3cb0f2;}
.storeTheme_E .pageNav a.curr, 
.storeTheme_E .pageNav a.curr:hover, 
.storeTheme_E .pageNav a.curr span{background-color:#3cb0f2!important;border-color:#3cb0f2;}

/*** Search Result Page ***/
.storeTheme_E .crumb .searchtitle strong{color:#3cb0f2;}