@import '../../css/variables.scss';


.row {
  margin: 0;
}
.wraper-st{
  width: 1120px;
}
.filter {
  height: 60px;
  background: #f7fcfc;

  li {
    float: left;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    padding: 0 18px;
    position: relative;
   
  }
  li.current{
    background: #00969E;
    color: #fff;
  }
  .timerbox{
    display: inline-block;
    height: 36px;
    line-height: 32px;
    background: #fff;
    padding: 0 20px 0 30px;
    span{
      vertical-align: middle;
    }
    
  }
  .subfilter{
    position: relative;
    background: #fff;
    z-index: 1;
    width: 150px;
    border: 1px solid #ccc;
    margin:0 -18px ;
    li{
      float: none;
      height: 40px;
      line-height: 40px;
    }
  }
}
.sub-title{
  color: #666;
  font-size: 12px;
  border-bottom:1px solid #00969E;
  line-height: 30px;
  margin-bottom: 10px;
}
.setp_line {
	width: 886rem/$fit;
	height: 30rem/$fit;
	position: relative;
	text-align: center;
	margin: 30rem/$fit auto;
}

.setp_line:after {
	content: "";
	display: inline-block;
	height: 30rem/$fit;
	width: 86rem/$fit;
	background: url(../../images/Shape.png) center center no-repeat #FFF;
	position: relative;
}

.setp_line:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 15rem/$fit;
	border-bottom: 1rem/$fit solid #A05EB5;
	left: 0;
	top: 0;
}
.detial-btn{
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: rgba(239,250,249,0.50);
  font-size: 22px;
  color: #666;
  .btn-txt{
    line-height: 1;
    margin-top: 10px;
    font-size: 12px;
    color: #666;
  }
}
.userinfo{
  .nick{
    font-size: 14px;
    img{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      margin-right: 40px;
    }
    .nickname{
      font-size: 16px;
      padding-top: 15px;
      padding-bottom: 20px;
    }
  }
}
.desc_content {
    .title {
        font-size: 16px;
        padding: 4px 0 20px 0;
    }

    p {
        font-size: 14px;
        line-height: 24px;
        text-indent: 40px;
    }
}
.list-main {
  .topbannerB {
    position: relative;
    text-align: center;
    height: 454px;
    margin-bottom: -110px;
  }

  .topbannerB .intro-ribbonship {
    background: url(../../images/banner-cover.png) center top no-repeat;
    height: 216px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .calendar-container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 23px;
  }

  .calendar-row {
    text-align: right;
    margin-bottom: 79px;
  }

  .calendar {
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(16deg, #1B2A40 0%, #15989D 100%);
    background: #FFFFFF;
    height: 35px;
    line-height: 35px;
    width: 160px;
    font-size: 16px;
    color: #666;
    cursor: pointer;

    .icon {
      margin-left: 20px;
      font-size: 14px;
    }
  }
}

.list {
  width: 1200px;
  min-height: 600px;
  position: relative;
  margin: 0 auto;

}

.list-title {
  color: #FFFFFF;
  font-size: 58px;
  font-weight: 500;
  padding: 96px 0;
  text-align: center;
}

.left-container {
  position: absolute;
  box-sizing: border-box;
  width: 260px;
  height: 466px;
  background: #f3fafa;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  margin-top: 163px;

  .select-header {
    height: 50px;
    background-color: $theme-blue;
    padding: 0 10px;

    span {
      font-size: 12px;
      color: $theme-white;
      line-height: 50px;

      &:last-child {
        float: right;
        font-size: 10px;
        color: $theme-white;
        opacity: 0.8;
        cursor: pointer;
      }
    }
  }

  .items {
    padding-left: 10px;

    .select-item {
      padding: 13px 10px 13px 0;
      border-bottom: 1px solid #eff1f1;
    }

    .select-title {
      margin-bottom: 8px;

      span {
        font-size: 12px;
        color: #383838;

        &:last-child {
          float: right;
          font-size: 10px;
          color: $theme-blue;
          cursor: pointer;
        }
      }
    }

    .city {
      margin-right: 14px;
      cursor: pointer;
    }

    .special {
      color: #F5A623;
    }
  }
}

.wraper {
  position: relative;
}

.activity-title {
  position: relative;
  text-align: center;
  font-size: 28px;
  margin-bottom: 18px;
}

.timer {
  position: relative;
  text-align: center;
  font-size: 12px;
}

.list-container {
  width: 1120px;
  overflow-y: overlay;
  overflow-x: hidden;
  clear: both;
  min-height: 500px;
  margin: 0 auto;

  .list-mtab {
    height: 48px;
    margin-bottom: 4px;

    li {
      background: rgba(239, 250, 249, 0.49);
      float: left;
      height: 48px;
      line-height: 48px;
      padding: 0 32px;

      a {
        font-size: 20px;
        color: #666;
      }

      a:hover {
        text-decoration: none;
      }
    }

    .current {
      border-bottom: 4px solid #00969E;

      a {
        color: #00969E;
      }
    }
  }

  .select-container {
    background-color: transparent;



    .sort {
      display: flex;
      justify-content: space-between;
      margin-bottom: 31px;

      span {
        font-size: 12px;
        color: #383838;

        &:last-child {
          /*font-family: Helvetica;*/
          cursor: pointer;
        }
      }
    }
  }

  .boat-card {
    background-color: #f7fcfc;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .picture {
      width: 240px;
      height: 160px;
      background: url(../../images/pic1.jpg);
      position: relative;

      img {
        position: absolute;
        left: 0;
        bottom: 0;
      }
    }

    .detail-content {
      width: calc(100% - 240px);
      padding: 19px 10px 0 10px;
      /*font-family: MEllePRC-Medium;*/
      color: #383838;
      position: relative;

      .route-name {
        font-size: 18px;
        color: #383838;
        letter-spacing: 1.12px;
      }

      .route-item {
        margin-right: 8px;
        font-size: 12px;
        color: #383838;
        letter-spacing: 0.75px;

        &::after {
          content: '-';
          padding-left: 8px;
        }

        &:last-child {
          &::after {
            content: '';
          }
        }
      }

      .route-item-day {
        display: inline-block;
        text-align: center;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        /*font-family: Helvetica;*/
        font-size: 12px;
        color: #00969E;
        background: #FFFFFF;
        border: 1px solid #00969E;
        margin-right: 8px;
      }
    }

    .cruises-from-date {
      padding-right: 150px;
    }

    .detail-content .row {
      margin: 16px 0;
    }

    .cruises-name {
      color: $theme-blue;
    }

    .date-list-item {
      display: inline-block;
      line-height: 18px;
      /*font-family: Helvetica;*/
      font-size: 12px;
      color: #383838;
      text-align: center;
      padding: 0 8px;
      border: 1px solid #666;
      border-radius: 2px;
      margin-left: 10px;
    }

    .date-list-item-more {
      color: #00969E;
      border-color: #00969E;
      cursor: pointer;

      .icon-arrowdown {
        margin-left: 10px;
      }
    }

    .price {
      position: absolute;
      right: 20px;
      bottom: 8px;

      p {
        text-align: right;
      }

    }

    .cur-price {
      font-size: 28px;
      color: #F8485E;

      span {
        font-size: 12px;

        &:last-child {
          font-size: 10px;
          color: #666666;
          letter-spacing: 0.75px;
        }
      }
    }

    .old-price {
      font-size: 12px;
      color: #666;

      span {
        font-size: 16px;
        color: #666;
        line-height: 20px;
        text-decoration: line-through;
      }
    }
  }

  .description {
    padding: 16px 22px 12px 8px;
    /*font-family: MEllePRC-Medium;*/

    .tags {
      .hot-tag {
        font-size: 12px;
        margin-right: 10px;

        [class^="icon-"],
        [class*=" icon-"] {
          margin-right: 4px;
        }
      }

      .hot-tag1 {
        color: #4A90E2;
      }

      .hot-tag2 {
        color: #A05EB5;
      }

      .hot-tag3 {
        color: #6EC271;
      }

      .hot-tag4 {
        color: #FF7245;
      }

      .hot-tag5 {
        color: #F8485E;
      }

      .hot-tag6 {
        color: #EE0202;
      }
    }

    .tag {
      font-size: 14px;
      color: #666;
      letter-spacing: 1.05px;
      margin-right: 10px;
    }

    .tip {
      font-size: 12px;
      color: #666;
      margin-top: 8px;
    }

    .btn {
      background: #00969E;
      border-radius: 2px;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0.88px;
      padding: 7px 15px;
    }

    .intro {
      font-size: 12px;
      color: #666;
      letter-spacing: 0.75px;
      text-align: right;
      margin-right: 12px;

      img {
        cursor: pointer;
      }
    }
  }

  .desc-left {
    float: left;
  }

  .desc-right {
    float: right;
  }

  .page {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
  }

  .page-count {
    font-size: 12px;
    color: #595961;
    letter-spacing: 0;
    line-height: 20px;
  }

  .pagination-item {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer;

    &:last-child {
      margin-right: 0;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;
    }
  }

  .pagination-input {
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-right: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }

  .active-item {
    background-color: $theme-blue;
    color: $theme-white;
  }
}

#footer {

  *,
  *::before,
  *::after {
    box-sizing: content-box;
  }
}

.travel_calendar_bd {
  *zoom: 1;
  margin-bottom: 40px;
}

.t2 {
  position: relative;
  z-index: 2;
  width: 100%;

}

.t2_thead {
  position: relative;
  z-index: 5;
  height: 52px;
  line-height: 50px;
  color: #fff;
  font-size: 18px;
  background: #009096;
  overflow: hidden;
  text-align: center;
  *zoom: 1
}

.t2_th {
  float: left;
  width: 168px;
}

.t2_weekend {
  color: #ff4646;
}

.t2_tbody:after {
  clear: both;
  display: block;
  content: "\20";
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.t2_td,
.t2_td_colspan {
  float: left;
  width: 169px;
  height: 153px;
  border: 1px solid #D0D0D0;
  margin-right: -1px;
  margin-top: -1px;
  position: relative;
}

.t2_td_colspan {
  position: absolute;
  z-index: 2;
  bottom: 0;
  right: 68px;
  width: 314px;
  background: #fff;
}

.t2_td_colspan a {
  display: block;
  line-height: 90px;
  font-size: 16px;
  text-align: center;
}

.t2_td_colspan a:hover {
  background: #edf9ff;
}

.t2_td a:hover {
  text-decoration: none;
}

.t2_td .a_available,
.t2_td .a_unavailable {
  position: absolute;
  z-index: 1;
  width: 169px;
  height: 153px;
}

.t2_last .a_available,
.t2_last .a_unavailable {
  width: 168px
}

.t2_td:nth-child(7n + 1),
.t2_td:nth-child(7n + 7),
.pink_bg {}

.t2_td:nth-child(7n+1) {
  border-left: 1px solid #D0D0D0
}

.t2_td:nth-child(7n+7) {
  border-right-color: #D0D0D0
}

.t2_td:nth-child(42),
.t2_td:nth-child(42) a {
  border-radius: 0 0 4px 0;
}

.t2_td:nth-child(36),
.t2_td:nth-child(36) a {
  border-radius: 0 0 0 4px
}

.t2_td.t2_last {
  width: 168px
}

.t2_td.white_bg {
  background-color: #fff;
}

.t2_td .a_unavailable {
  cursor: default;
}

.t2_td_tit {
  position: relative;
  z-index: 1;
  height: 32px;
  line-height: 32px;
  background: #D1F0F1;
  overflow: hidden;
  padding: 0 10px;
  *zoom: 1
}

.t2_td_day {
  color: #F17571;
  font-size: 20px
}

.label_box {
  float: right;
  margin: 1px 0 0 0;
  font-size: 0;
  position: relative;
  z-index: 1;
}

.t2_td_holiday,
.t2_td_work,
.t2_td_solo {
  display: inline-block;
  padding: 0 1px;
  height: 14px;
  line-height: 12px;
  border: 1px solid #333;
  border-radius: 2px;
  margin-left: 4px;
  font-size: 12px;
}

.t2_td_holiday {
  border: 1px solid #ff4646;
  color: #ff4646;
}

.t2_td_solo {
  border: 1px solid #06d;
  color: #06d;
}

.t2_td_tit .s_01,
.t2_td_tit .s_02,
.t2_td_tit .s_03 {
  float: right;
  margin-right: 4px;
  height: 18px;
  border-bottom: 2px solid #f60;
  color: #f60;
  overflow: hidden;
}

.t2_td_tit .s_02 {
  border-color: #06d;
  color: #1069da;
}

.t2_td_tit .s_03 {
  border-color: #3c8;
  color: #3c8;
}

.t2_td_today,
.t2_td_rest {
  position: absolute;
  z-index: 1;
  height: 20px;
}

.t2_td_today {
  font-weight: bold;
  left: 0;
  font-size: 20px;
  line-height: 1;
  position: relative;
  z-index: 0
}

.t2_td_rest {
  background: #ff7373;
}

.a_unavailable .t2_td_day,
.a_unavailable .t2_td_today {
  color: #F17571
}

.t2_td_ship {
  display: block;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0 8px;
  color: #9B1CE5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrapj;
  padding: 0 10px;
}

.t2_td_port {
  display: block;
  position: relative;
  height: 18px;
  color: #666;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
}

.t2_td_schedule {
  display: block;
  position: absolute;
  z-index: 1;
  overflow: hidden;
  top: 44px;
  right: 10px;
  line-height: 1.2;
  color: #6D6D6D;
  padding-right: 16px;

}

.t2_td_schedule .i_caret {
  display: block;
  right: 5px;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 1px;
  right: 2px;
  border: 1px solid #666;
  border-width: 0 1px 1px 0;
  -webkit-transition: all ease-in .2s;
  -ms-transition: all ease-in .2s;
  transition: all ease-in .2s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.t2_td .base_price {
  position: absolute;
  z-index: 1;
  left: 10px;
  bottom: 8px;
  font-size: 12px;
  color: #666
}

.t2_td .base_price dfn {
  top: -1px;
  font-size: 12px;
  font-style: normal;
}

.t2_td .base_price .price {
  font-size: 18px;
  color: #15989D;
}

.t2_td .t2_td_month {
  position: absolute;
  width: 167px;
  height: 88px;
  line-height: 88px;
  font-size: 60px;
  color: #efefef;
  text-align: center;
  *line-height: 98px;
}

.t2_td .a_available:hover,
.t2_td .hover {
  z-index: 3;
  cursor: pointer;
  background: #D1F0F1;
}

.t2_td_schedule_more {
  position: absolute;
  width: 552px;
  min-height: 100px;
  background: #fff;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 12px;
  z-index: 4;
  top: 153px;
  left: 0;
}

.t2_td_schedule_more .title {
  height: 40px;
  background: #15989D;
  padding: 0 10px;
  color: #fff;
  line-height: 40px;
  font-size: 16px;
  font-weight: normal;
}

.t2_td_schedule_more .title:before {
  content: "";
  display: block;
  right: 5px;
  width: 8px;
  height: 8px;
  position: absolute;
  background: #15989D;
  top: -4px;
  left: 18px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}

.t2_td_schedule_more .base_price {
  left: auto;
  right: 15px;
  bottom: 0;
  font-size: 14px;
  font-weight: normal;
  color: #37A7AB;
  line-height: 30px;
}

.t2_td_schedule_more ul {
  padding: 2px 15px;
}

.t2_td_schedule_more li {
  padding: 10px 0;
  border-bottom: 1px solid #D3D3D3;
}

.t2_td_schedule_more li:last-child {
  border-bottom: none;
}

.t2_td_schedule_more .icon1 {
  background: url(../../images/icon_title1@2x.png) center center no-repeat;
  background-size: 44px 41px;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.t2_td_schedule_more .icon2 {
  background: url(../../images/icon_title2@2x.png) center center no-repeat;
  background-size: 44px 41px;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.t2_td_schedule_more .icon3 {
  background: url(../../images/icon_title3@2x.png) center center no-repeat;
  background-size: 41px 40px;
  background-position: -5px -3px;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.t2_td_schedule_more .icon4 {
  background: url(../../images/icon_title4@2x.png) center center no-repeat;
  background-size: 41px 41px;
  background-position: -5px -4px;
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.t2_td_schedule_more .sale {
  background: url(../../images/icon-hotsale2x.png) no-repeat;
  background-size: 140px 43px;
  background-position: -5px -5px;
  width: 65px;
  height: 31px;
}

.t2_td_schedule_more .hot {
  background: url(../../images/icon-hotsale2x.png) no-repeat;
  background-size: 140px 43px;
  background-position: -75px -5px;
  width: 60px;
  height: 31px;
}

.t2_td_schedule_more .tag {
  border: 1px solid #15989D;
  color: #15989D;
  font-size: 14px;
  line-height: 24px;
  border-radius: 3px;
  padding: 0 5px;
  margin: 0 5px;
  height: 24px;
  overflow: hidden;
}

.t2_td_schedule_more p a {
  color: #666;
}

.t2_td_schedule_more p {
  color: #666;
  font-size: 16px;
  margin: 5px 0;
  z-index: 3;

  cursor: pointer;
}

:root .t2_td .hover .t2_td_schedule .i_caret {
  background-position: -10px -22px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.t2_td .hover .t2_td_schedule .i_caret {
  background-position: -10px -18px;
  top: 7px;
}
.activiylist{
  background: #FFFFFF; 
  width: 1200px;
  margin-top: 25px;
  h3 .icon-ship{
    font-size: 40px;
  }
  .boat-card{
    background: #FFFFFF;
    border: 2px solid #EFFAF9;
    position: relative;
    padding: 20px;
    .desc{
      padding-right: 198px;
    }
    .description{
      padding: 0;
      overflow: hidden;
      position: absolute;
      bottom: 20px;
      right:20px;
    }
    .detail-content{
      padding: 0 0 0 20px;
    }
  }
}
.travelslist li {
	padding: 20px;
	padding-left: 340px;
	
	height: 220px;
	margin-bottom: 4px;
  position: relative;
  
  background: #FFFFFF;
  border: 2px solid #EFFAF9;

}

.travelslist .pic {
	float: left;
  margin-left: -320px;
  width: 320px;
  height: 180px;
  position: relative;
}
.travelslist .pic img{
  width: 320px;
  height: 180px;
}

.travelslist .userinfo {
	overflow: hidden;
	padding-left: 20px;
}

.travelslist .triplist {
	overflow: hidden;
}

.travelslist .triplist li {
	padding: 0;
	padding-left: 29px;
	border: 0;
	margin-bottom: 0;
	height: auto;
}

.travelslist .proinfo {
	padding-left: 20px;
	padding-right: 144px;
}

.travelslist .proinfo .title {
  color: #00969E;
	font-size: 20px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.travelslist .prominfop {
	font-size: 16px;
	color: #666666;
	line-height: 28px;
	background: none;
	padding: 0;
}

.travelslist .probtn {
	width: 188px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	height: 40px;
}

.travelslist .probtn .more {
	position: absolute;
	right: 0;
	bottom: 0;
}

.travelslist .nick {
	height: 30px;
}

.travelslist .nick .nickname {
	font-size: 16px;
	margin-left: 20px;
}
.travelslist .pic .tagsbox{
  position: absolute;
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #fff;
  font-size: 16px;
  background: rgba(0,150,158,0.50);
  bottom: 0;
  left: 0;
  padding: 0 30px;
}
.travelslist .pic .pro_tags {
	height: 54px;
	line-height: 34px;
	padding: 10px 16px;
	font-size: 12px;
  background: #F7FCFC;

}

.travelslist .pic .pro_tags .tag1 {
	border: 1px solid #C1AE52;
	color: #C1AE52;
	font-size: 12px;
	padding: 3px 8px;
	margin-right: 10px;
}

.travelslist .pic .pro_tags .tag2 {
	border: 1px solid #F6AA72;
	color: #F6AA72;
	font-size: 12px;
	padding: 3px 8px;
	margin-right: 10px;
}

.travelslist .pic .pro_tags .tag3 {
	border: 1px solid #FB7590;
	color: #FB7590;
	font-size: 12px;
	padding: 3px 8px;
	margin-right: 10px;
}

.travelslist .userinfo .fav {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	padding-left: 28px;
	background: url(../../images/icon_fav.png) left center no-repeat;
	color: #666;
	display: inline-block;
	margin-right: 15px;
}

.travelslist .userinfo .view {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	padding-left: 28px;
	background: url(../../images/icon_view.png) left center no-repeat;
	color: #666;
	display: inline-block;
	margin-right: 15px;
}

.travelslist .userinfo .good {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	padding-left: 28px;
	background: url(../../images/icon_good.png) left center no-repeat;
	color: #666;
	display: inline-block;
	margin-right: 15px;
}

.travelslist .userinfo .msg {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	padding-left: 28px;
	background: url(../../images/icon_msg.png) left center no-repeat;
	color: #666;
	display: inline-block;
	margin-right: 15px;
}

.travelslist .userinfo .timer {
	height: 20px;
	line-height: 20px;
	font-size: 12px;
	color: #666;
	display: inline-block;
}
.btn-style1 {
	display: inline-block;
	position: relative;
	background: #00969E;
	color: #fff;
	font-size: 16px;
	text-align: center;
	line-height: 45px;
	cursor: pointer;
	padding: 0 28px;
}

.btn-style1:hover {
	color: #fff;
	text-decoration: none;
	opacity: 0.8;
}
.page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.page-count {
  font-size: 12px;
  color: #595961;
  letter-spacing: 0;
  line-height: 20px;
}

.pagination-item {
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  text-align: center;
  cursor: pointer;

  &:last-child {
    margin-right: 0;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}

.pagination-input {
  display: inline-block;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-right: 0;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 50px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.active-item {
  background-color: $theme-blue;
  color: $theme-white;
}
@media(max-width:767px){
    .main {
        min-height: 100vh;
        width: 100vw;
        /*font-family: Helvetica;*/
        padding-bottom: 100rem/$fit;

        .select-container {
            display: flex;
            flex-wrap: nowrap;
            padding-top: 56rem/$fit;
        }

        .select-item {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 78rem/$fit;
                height: 78rem/$fit;
            }

            span {
                font-size: 24rem/$fit;
                color: #383838;
                margin-top: 24rem/$fit;
            }
        }

        #select-place-row,
        .tags {
            display: flex;
            flex-wrap: wrap;
            background-color: #FBFBFB;
            padding: 28rem/$fit 32rem/$fit 0;

            .tag {
                display: inline-block;
                line-height: 50rem/$fit;
                height: 50rem/$fit;
                margin-bottom: 32rem/$fit;
                margin-right: 32rem/$fit;
                padding: 0 24rem/$fit;
                font-size: 22rem/$fit;
                color: #00969E;
                background-color: #FFFFFF;
                border: 1px solid #00969E;
                border-radius: 25rem/$fit;
                cursor: pointer;
            }
        }

        .tags {
            background-color: #FFFFFF;
            padding: 0 32rem/$fit 0;
        }

        .select-tags {
            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20rem/$fit 32rem/$fit;

                span {
                    font-size: 24rem/$fit;
                    color: #383838;
                }

                img {
                    width: 28rem/$fit;
                    height: 28rem/$fit;
                    cursor: pointer;
                }
            }
        }

        .button-row {
            text-align: right;
            padding-right: 32rem/$fit;
            margin-bottom: 40rem/$fit;

            span {
                display: inline-block;
                width: 148rem/$fit;
                height: 54rem/$fit;
                line-height: 54rem/$fit;
                text-align: center;
                background-color: #00969E;
                font-size: 22rem/$fit;
                color: #FFFFFF;
                letter-spacing: 0;
                cursor: pointer;
            }
        }

        .content {
            padding: 0 32rem/$fit;

            h3 {
                font-size: 24rem/$fit;
                color: #383838;
                letter-spacing: 0;
            }
        }

        .hot-tags,
        .product-tags {
            font-size: 22rem/$fit;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            span {
                margin-right: 36rem/$fit;
                margin-top: 28rem/$fit;

                span {
                    margin-right: 4rem/$fit;
                }

                &:nth-child(1) {
                    color: #4A90E2;

                    span {
                        color: #4A90E2;
                    }
                }

                &:nth-child(2) {
                    color: #A05EB5;

                    span {
                        color: #A05EB5;
                    }
                }

                &:nth-child(3) {
                    color: #6EC271;

                    span {
                        color: #6EC271;
                    }
                }

                &:nth-child(4) {
                    color: #F8485E;

                    span {
                        color: #F8485E;
                    }
                }

                &:nth-child(5) {
                    color: #FF7245;

                    span {
                        color: #FF7245;
                    }
                }

                &:nth-child(6) {
                    color: #EE0202;

                    span {
                        color: #EE0202;
                    }
                }
            }

            .icon-arrowdown {
                margin: 0;
                color: #979797 !important;
                font-size: 12rem/$fit;
            }
        }

        .product-tags {
            padding: 20rem/$fit 0;
            border-top: 1px solid #E5E5E5;

            .hot-tag {
                font-size: 18rem/$fit;
            }
        }

        .tip {
            margin-top: 18rem/$fit;
            font-size: 22rem/$fit;
            color: #666;
            letter-spacing: 0;
            line-height: 34rem/$fit;

            span {
                text-decoration-line: underline;
            }
        }

        .city {
            padding: 40rem/$fit 0;
            text-align: center;
            font-size: 36rem/$fit;
            color: #383838;
            font-weight: 500;
        }

        .product {
            padding: 0 32rem/$fit;
            border-bottom: 1px solid #E5E5E5;
            margin-bottom: 24rem/$fit;
        }

        .product-row {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 16rem/$fit;
        }

        .product-img {
            background: url(../../images/prodetail_pic.jpg) no-repeat center;
            border-radius: 6rem/$fit;
            width: 294rem/$fit;
            height: 196rem/$fit;
            position: relative;
            // flex-shrink: 0;
        }

        .img-tag {
            position: absolute;
            left: 18rem/$fit;
            bottom: 4rem/$fit;
            display: inline-block;
            background-color: transparent;
            font-size: 22rem/$fit;
            color: #FFFFFF;
        }

        .product-detail {
            padding-left: 16rem/$fit;
        }

        .product-name {
            font-size: 26rem/$fit;
            color: #383838;
            line-height: 32rem/$fit;
        }

        .desc {
            font-size: 22rem/$fit;
            color: #6D6D6D;
            margin-top: 16rem/$fit;
            font-weight: 300;
        }

        .date {
            font-size: 22rem/$fit;
            color: #6D6D6D;
            line-height: 36rem/$fit;
            font-weight: 300;

            span {
                color: #00969E;
            }
        }

        .price-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .old {
                font-size: 20rem/$fit;
                color: #666;

                span {
                    text-decoration-line: line-through;
                }
            }
        }

        .price-text {
            display: flex;
            flex-direction: column;

            span {
                font-size: 18rem/$fit;
                color: #666;
                font-weight: 300;
            }

            .price {
                font-size: 32rem/$fit;
                color: #F8485E;
                font-weight: 400;
            }
        }

        .check-detail {
            display: inline-block;
            background-color: #00969E;
            color: #FFFFFF;
            width: 148rem/$fit;
            height: 54rem/$fit;
            line-height: 54rem/$fit;
            text-align: center;
            font-size: 22rem/$fit;
            cursor: pointer;
        }
    }

    .main .filter-sm {
        height: 88rem/$fit;
        line-height: 88rem/$fit;

        li {
            height: 88rem/$fit;
            line-height: 88rem/$fit;
            font-size: 28rem/$fit;
            padding: 0 20rem/$fit;
        }

        .filter .timerbox {
            display: inline-block;
            height: 44rem/$fit;
            height: 44rem/$fit;
            background: #fff;
            padding: 0 20rem/$fit 0 30rem/$fit;
            font-size: 24rem/$fit;
        }
    }

    .main {
        .travelslist ul {
            padding: 0 32rem/$fit;
        }

        .travelslist li {
            padding: 32rem/$fit 0;
            padding-left: 318rem/$fit;
            height: 258rem/$fit;
            position: relative;
            border: 0;
            border-bottom: 1px solid #D8D8D8;
            margin: 0;
        }

        .travelslist .pic {
            float: left;
            height: 194rem/$fit;
            width: 294rem/$fit;
            overflow: hidden;
            margin: 0 0 0 -318rem/$fit;
        }

        .travelslist .pic img {
            height: 194rem/$fit;
            width: 294rem/$fit;
        }

        .travelslist .userinfo {
            display: none;
        }

        .travelslist .row {
            display: block;
            margin: 0;
        }

        .travelslist .proinfo {
            padding: 0;
        }

        .travelslist .probtn {
            padding: 20rem/$fit 30rem/$fit;
        }

        .travelslist .probtn {
            bottom: 20rem/$fit;
            right: 20rem/$fit;
        }

        .travelslist .proinfo .title {
            margin: 0 0 20rem/$fit 0;
            font-size: 30rem/$fit;
            line-height: 28rem/$fit;
        }

        .travelslist .prominfop {
            font-size: 24rem/$fit;
            color: #6D6D6D;
            line-height: 34rem/$fit;
            overflow: hidden;
            text-overflow: -o-ellipsis-lastline;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .travelslist .pic .tagsbox {
            position: absolute;
            width: 100%;
            height: 50rem/$fit;
            line-height: 50rem/$fit;
            color: #fff;
            font-size: 16rem/$fit;
            background: rgba(0, 150, 158, 0.50);
            bottom: 0;
            left: 0;
            padding: 0 30rem/$fit;
        }

        .btn-style1 {
            font-size: 16rem/$fit;
            line-height: 45rem/$fit;
            padding: 0 28rem/$fit;
        }

        .activity-title {
            position: relative;
            text-align: center;
            font-size: 36rem/$fit;
            margin-bottom: 18rem/$fit;
        }

        .sub-title {
            color: #666;
            font-size: 20rem/$fit;
            border-bottom: 1px solid #00969E;
            line-height: 30rem/$fit;
            margin-bottom: 10rem/$fit;
        }

        .timer {
            position: relative;
            text-align: center;
            font-size: 20rem/$fit;
        }

        .wraper,
        .wraper-st {
            width: 100%;
            padding: 0 32rem/$fit;
        }

        img {
            width: 100%;
            height: auto;
        }

        .userinfo {
            .nick {
                font-size: 24rem/$fit;

                img {
                    width: 100rem/$fit;
                    height: 100rem/$fit;
                    border-radius: 50%;
                    overflow: hidden;
                    margin-right: 40rem/$fit;
                }

                .nickname {
                    font-size: 24rem/$fit;
                    padding-top: 5rem/$fit;
                    padding-bottom: 20rem/$fit;
                }
            }
        }

        .desc_content {
            .title {
                font-size: 32rem/$fit;
                padding: 26rem/$fit 0 20rem/$fit 0;
            }

            p {
                font-size: 24rem/$fit;
                line-height: 40rem/$fit;
                text-indent:40rem/$fit;
            }
        }

        .setp_line {
            width: 100%;
            height: 30rem/$fit;
            position: relative;
            text-align: center;
            margin: 30rem/$fit auto;
        }

        .setp_line:after {
            content: "";
            display: inline-block;
            height: 30rem/$fit;
            width: 86rem/$fit;
            background: url(../../images/Shape.png) center center no-repeat #FFF;
            background-size: auto 100%;
            position: relative;
        }
    }
}