#fillInfo {
    margin-top: 10px;

    label {
        margin-bottom: 0;
    }

    h3 {
        font-size: 20px;
        color: #343E57;
        font-weight: 400;
        height: 48px;
        line-height: 48px;
    }

    .main-content {
        display: flex;
        flex-wrap: nowrap;

        .left-container {
            width: 890px;
            margin-right: 10px;
        }

        .right-container {
            width: 300px;

            .main {
                padding: 0 4px;
                background-color: #fff;
            }
        }
    }

    .left-container {

        input {
            padding-left: 20px;
            height: 30px;
            border: none;
            border: 1px solid #D0D7DF;
            border-radius: 2px;
            font-size: 14px;
            color: #343E57;
        }

        h4 {
            font-size: 16px;
            color: #343E57;
            margin-bottom: 20px;
        }

        .user-row {
            display: flex;
            align-items: center;
            padding: 0px 20px;
            border-left: 3px solid #00969E;
            margin: 10px 0px;

            label {
                font-size: 14px;
                color: #343E57;
                margin-bottom: 0;
                width: 46px;
            }
            /*input {
                width: 200px;
            }*/
            .user-title {
                font-size: 16px;
            }
        }

        .room {
            margin-bottom: 10px;
            background-color: #fff;
            padding: 10px 20px 10px 20px;

            &:last-child {
                margin-bottom: 0;
            }

            .room-title {
                font-size: 22px;
                color: #343E57;
                font-weight: 400;
                height: 48px;
                line-height: 48px;
                margin-right: 20px;
            }

            .room-detail {
                background-color: #fbfbfb;
                padding: 10px;
            }

            .detail_button {
                border-radius: 10px;
                text-align: center;
                background-color: #64CCC9;
                padding: 4px 10px;
                color: #fff;
            }
        }

        .input-item {
            position: relative;
            margin-right: 200px;

            &:last-child {
                margin-right: 0;
            }
        }

        .noborder {
            border: 0px;
        }

        .edit {
            position: absolute;
            right: 20px;
            top: 5px;
            height: 20px;
            line-height: 20px;
            font-size: 14px;
            color: #00969E;
            cursor: pointer;
        }

        .form {
            /*width: 758px;
            border: 1px solid #D0D7DF;
            border-radius: 0 0 2px 2px;
            margin-top: 8px;*/
            /*border-left: 3px solid #00969E;*/
        }

        .form-row {
            display: flex;
            align-items: center;
            margin: 0px 0px 0px 0px;

            label {
                width: 70px;
                text-align: right;
                font-size: 14px;
                color: #343E57;
                margin-top: 10px;
                margin-right: 10px;
            }

            input {
                font-size: 14px;
                padding-left: 10px;
                border-top: 0;
                border-right: 0;
                border-left: 0;
                margin-top: 8px;
            }

            select {
                font-size: 14px;
                color: #343E57;
                height: 30px;
                border-radius: 2px;
                border-top: 0;
                border-right: 0;
                border-left: 0;
                margin-top: 8px;
                padding-left: 6px;
            }
        }

        .short-input {
            width: 130px;
            display: flex;
            align-items: center;
        }

        .radio {
            margin-right: 8px;
        }

        .long-input {
            width: 270px;
        }

        .short-input,
        .long-input {
            margin-left: 10px;
        }

        .form-item {
            display: flex;
            width: 379px;
            align-items: center;
        }

        .btn-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 40px;

            .check1 {
                display: flex;
                align-items: center;
                font-size: 12px;
                color: #343E57;

                span {
                    margin-left: 12px;
                }
            }
        }

        .btns {
            button {
                width: 90px;
                height: 30px;
                border-radius: 2px;
                text-align: center;
            }

            .cancel {
                border: 1px solid #E3E2E5;
                font-size: 13px;
                color: #343E57;
            }

            .submit {
                background-color: #00969E;
                font-size: 13px;
                color: #FFFFFF;
                margin-left: 20px;
                border: 1px solid #00969E;
            }
        }
    }

    .add-user {
        display: inline-block;
        text-align: center;
        line-height: 30px;
        font-size: 14px;
        color: #00969E;
        background: #FFFFFF;
        border: 1px solid #00969E;
        border-radius: 2px;
        width: 118px;
        height: 30px;
        padding: 0;
        margin-top: 10px;
        margin-left: 46px;
    }

    .main {

        div {
            margin-bottom: 4px;
        }

        h3 {
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 16px;
            color: #343E57;
            letter-spacing: 1.12px;
        }
    }

    .order-info {
        p {
            span {
                margin-right: 10px;
            }
        }

        .name {
            color: #00969E;
        }
    }

    .room-info,
    .order-info,
    .room-count {
        padding: 10px 16px;
        background-color: #FBFBFB;

        p {
            font-size: 14px;
            color: #343E57;
            letter-spacing: 0.88px;
            margin-top: 10px;

            &:first-child {
                margin-top: 0;
            }
        }
    }

    .room-info,
    .room-count {
        p {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .detail,
        .delete {
            font-size: 12px;
            color: #00969E;
            letter-spacing: 0.75px;
            cursor: pointer;
        }
    }

    .price-desc {
        padding: 0 16px 10px;

        .total-price {
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                font-size: 16px;
                color: #343E57;

                &:last-child {
                    font-size: 16px;
                    color: #FF5050;
                }
            }
        }

        p {
            font-size: 12px;
            color: #999999;
            line-height: 20px;
        }
    }

    .btns {
        display: flex;
        flex-wrap: nowrap;

        .pre {
            font-size: 16px;
            background: #FFFFFF;
            color: #00969E;
            border: 1px solid #D0D7DF;
            border-radius: 4px;
            width: 92px;
            height: 54px;
            margin-right: 4px;
        }

        .next {
            flex: 1;
            height: 54px;
            background: #00969E;
            font-size: 16px;
            border-radius: 4px;
            color: #fff;
        }
    }
}

.sub-left-container {
  background-color: #fff;
  width: 890px;
  margin-right: 10px;
  padding: 10px 20px 10px 20px;

  .cash-quan {
    font-size: 12px;
    color: #999999;
    margin-bottom: 10px;
  }

  .check-row {
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #343E57;

    span {
      margin-left: 12px;
    }
  }

  .quan-desc {
    font-size: 12px;
    color: #999999;
    margin-top: 4px;
    margin-bottom: 10px;
  }
}

.invite-code {
    width: 890px;
    display: flex;
    justify-content: center;
    margin-top: 20px;

    .invite-code-row {
        width: 820px;
        height: 48px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;

        span {
            font-size: 14px;
            color: #343E57;
            margin-right: 10px;
        }

        .input {
            width: 300px;
            height: 30px;
            margin-right: 10px;
            border: 1px solid #D0D7DF;
            padding-left: 22px;
        }

        .ensure {
            background-color: #00969E;
            width: 78px;
            height: 30px;
            color: #fff;
            font-size: 14px;
            border: 1px solid #00969E;
        }
    }
}

.special-bag {
    background-color: #fff;
    width: 890px;

    .tab-row {
        display: flex;
        height: 48px;
        background-color: #F7FCFC;

        .tab {
            width: 210px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #D0D7DF;
            font-size: 16px;
            color: #383838;
            cursor: pointer;
        }

        .active {
            background-color: #fff;
            border-bottom: none;
            color: #00969E;
        }

        .empty {
            flex: 1;
            border-bottom: 1px solid #D0D7DF;
        }
    }

    .content {
        border: 1px solid #D0D7DF;
        border-top: none;
        padding: 10px 20px;
        background-color: #fff;

        .tip {
            margin-top: 10px;
            font-size: 12px;
            color: #FF0000;
        }

        .content-card {
            background-color: #F7FCFC;
            display: flex;
            padding: 15px;
            margin-bottom: 4px;

            &:last-child {
                margin-bottom: 0;
            }

            .right {
                padding-left: 25px;
                display: flex;
                flex-direction: column;

                .right-title {
                    font-size: 16px;
                    color: #383838;
                    letter-spacing: 1.12px;
                }

                .right-desc {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    p {
                        flex: 1;
                        font-size: 14px;
                        color: #666666;
                        padding-right: 105px;
                    }

                    .price-row {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        flex-shrink: 0;
                    }

                    .price {
                        font-size: 14px;
                        color: #F8485E;

                        span {
                            color: #F8485E;
                            font-size: 12px;
                        }
                    }

                    .price-title {
                        font-size: 12px;
                        color: #383838;
                        letter-spacing: 0.75px;
                        margin-right: 12px;
                    }

                    .price-fix {
                        margin-top: -10px;
                    }

                    .price-item {
                        margin-top: 4px;
                    }

                    .example {
                        font-size: 12px;
                        color: #999999;
                        margin-top: 15px;

                        span {
                            font-size: 12px;
                            color: #999999;
                            text-decoration-line: line-through;
                        }
                    }
                }
            }
        }

        .right-bottom {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            flex: 1;

            a {
                font-size: 14px;
                color: #00969E;
                letter-spacing: 0.88px;
            }

            .order-btn {
                width: 90px;
                height: 30px;
                background-color: #00969E;
                color: #fff;
                border-radius: 2px;
                border: 1px solid #00969E;
            }
        }



        .card-image {
            width: 200px;
            height: 130px;
        }

        .card-image-bg {
            flex-shrink: 0;
            position: relative;
            width: 200px;
            height: 130px;
            background: url(../../images/overlay-img1.png) no-repeat center;

            .icon-fillsreen {
                font-size: 20px;
                position: absolute;
                top: 7px;
                right: 7px;
                color: #fff;
            }
        }
    }

    .order-form {
        .order-from-items {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            margin-top: 4px;
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .order-form-title {
            font-size: 14px;
            color: #343E57;
        }

        .order-item {
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
        }

        .name {
            display: inline-block;
            border: 1px solid #00969E;
            border-radius: 2px;
            background-color: #F7FCFC;
            width: 70px;
            height: 30px;
            line-height: 30px;
            text-align: center;
            margin-right: 10px;
        }
    }
}


.num-select {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #64CCC9;
  border-radius: 2px;
  padding: 1px;
  width: 100px;
  text-align: center;
}

.num {
  display: inline-block;
  font-size: 14px;
  color: #343E57;
  width: 32px;
  height: 28px;
  line-height: 28px;
}

.minus,
.plus {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 2px;
  background-color: #00969E;
  color: #fff;
  font-size: 20px;
  line-height: 28px;
  cursor: pointer;
}
