@import '../../css/variables.scss';
@import './fillInfo.scss';

.boxfixed {
    position: fixed;
    display: block !important;
    z-index: 100;
    top: 0
}

.boxbottom {
    position: absolute;
    display: block !important;
    bottom: 0;
    top: auto;
}
.order-main {
  min-height: 100vh;
  /*background-color: #f7fcfc;*/
  background-color:#f8f8f8;
}

.order {
  width: 1200px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 160px;
}

.top-order-info {
    background-color: #fff;
    padding: 20px;
}

.product-name {
  font-size: 20px;
  color: #666;
  
}

.product-info {
  font-size: 16px;
  color: #666666;
  margin-top: 8px;

  span {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.product-tags {
  margin-top: 8px;

  .tag {
    line-height: 20px;
    border-radius: 2px;
    border: 1px solid;
    padding: 0 8px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  .green {
    color: #00969E;
    border-color: #00969E;
  }

  .blue {
    color: #4A90E2;
    border-color: #4A90E2;
  }

  .purple {
    color: #A05EB5;
    border-color: #A05EB5;
  }

  .yellow {
    color: #F5A623;
    border-color: #F5A623;
  }

  .red {
    color: #F8485E;
    border-color: #F8485E;
  }

  .light-blue {
    color: #64BDDA;
    border-color: #64BDDA;
  }
}



.step-item {
  display: inline-block;
  position: relative;
  width: 195px;
  height: 50px;
  background-color: #efefef;
  margin-left: 6px;
  text-align: center;
  cursor: pointer;

  &:first-child {
    margin-left: 0;
  }

  span {
    line-height: 50px;
    font-size: 14px;
    color: #666;
  }

  .step-item-before {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 20px solid #fff;
  }

  .step-item-after {
    right: -20px;
    top: 0;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
    border-left: 20px solid #efefef;
    z-index: 2;
  }

}

.step {
  margin-top: 10px;

  .active {
    background-color: #00969E;

    .step-item-after {
      border-left-color: #00969E;
    }

  }

  .active,
  .selected {
    span {
      color: #fff;
    }
  }
}

.selected {
  background-color: #64CCC9;

  .step-item-after {
    border-left-color: #64CCC9;
  }
}

#modfiy-date {
  color: $theme-blue;
  cursor: pointer;
}

#footer {

  *,
  *::before,
  *::after {
    box-sizing: content-box;
  }
}
.mark {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.20);
    z-index: 1000;

    .layer {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 1080px;
        padding: 30px;
        background: #FFFFFF;
        box-shadow: 0 3px 15px 0 rgba(0,0,0,0.15);

        .close {
            width: 30px;
            height: 30px;
            color: #fff !important;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            position: absolute;
            right: 14px;
            top: 16px;
            background: #00969E;
            border-radius: 50%;
            opacity: 1;
        }

        .room-title {
            margin-top: 10px;
            font-size: 26px;
            margin-bottom: 37px;
        }

        .layer-left {
            .price {
                color: #F8485E;
                font-size: 14px;
                margin-right: 5px;

                span {
                    font-size: 30px;
                }
            }

            .old {
                color: #bbb;
                text-decoration: line-through;
            }

            .price-desc {
                margin-left: 16px;
            }
        }

        .layer-right {
            padding-left: 46px;
            font-size: 16px;

            .list,
            .list2 {
                li {
                    height: 32px;
                    line-height: 32px;
                }
            }
        }
    }
}

@import './sm-index.scss';
