@import '../../css/variables.scss';

.sm-main {
    min-height: 100vh;
    width: 100vw;
    font-family: Helvetica;
    padding-bottom: 120rem/$fit;

    input {
        border: 1px solid #E5E5E5;
        border-radius: 8rem/$fit;
        height: 60rem/$fit;
        padding-left: 16rem/$fit;
        font-size: 24rem/$fit;
        color: #666666;
    }

    label {
        font-size: 24rem/$fit;
        /*color: #666666;*/
        margin-bottom: 0;
    }

    .select {
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        border-radius: 8rem/$fit;
        height: 60rem/$fit;
        padding-left: 16rem/$fit;
        padding-right: 20rem/$fit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 28rem/$fit;
        color: #666;
        margin-right: 20rem/$fit;
        cursor: pointer;
    }

    button {
        width: 148rem/$fit;
        height: 54rem/$fit;
        font-size: 24rem/$fit;
    }

    .arrow-down {
        width: 0.25rem;
        height: 0.25rem;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border: 0.025rem solid #666;
        border-width: 0 0.025rem 0.025rem 0;
        display: block;
    }

    .arrow-up {
        width: 0.25rem;
        height: 0.25rem;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border: 0.025rem solid #666;
        border-width: 0.025rem 0 0 0.025rem;
        display: block;
    }

    .order-info {
        margin: 24rem/$fit;
        border-bottom: 1px dotted #e5e5e5;
        padding-left: 8rem/$fit;

        h3 {
            font-size: 40rem/$fit;
            color: #383838;
            line-height: 55rem/$fit;
            margin-bottom: 24rem/$fit;
        }

        p {
            font-size: 28rem/$fit;
            color: #666666;
            line-height: 1;
            margin-bottom: 24rem/$fit;
        }

        .ml32 {
            margin-left: 32rem/$fit;
        }
    }

    .product-tags {
        border-bottom: 1px solid #E5E5E5;
        padding: 0 36rem/$fit 20rem/$fit;
        margin-top: 16rem/$fit;

        .tag {
            line-height: 40rem/$fit;
            border-radius: 4rem/$fit;
            border: 1px solid;
            padding: 0 16rem/$fit;
            margin-right: 20rem/$fit;
            font-size: .6rem;

            &:last-child {
                margin-right: 0;
            }
        }

        .green {
            color: #00969E;
            border-color: #00969E;
        }

        .blue {
            color: #4A90E2;
            border-color: #4A90E2;
        }

        .purple {
            color: #A05EB5;
            border-color: #A05EB5;
        }

        .yellow {
            color: #F5A623;
            border-color: #F5A623;
        }

        .red {
            color: #F8485E;
            border-color: #F8485E;
        }

        .light-blue {
            color: #64BDDA;
            border-color: #64BDDA;
        }
    }


    .step {
        padding: 0 32rem/$fit;
        margin-top: 24rem/$fit;
        margin-bottom: 24rem/$fit;
        display: flex;
        justify-content: space-between;

        .step-item {
            width: 260rem/$fit;
            height: 50rem/$fit;
            margin-left: 5rem/$fit;
            text-align: center;

            span {
                line-height: 50rem/$fit;
                font-size: 24rem/$fit;
            }

            .step-item-before {
                border-top-width: 25rem/$fit;
                border-bottom-width: 25rem/$fit;
                border-left-width: 12rem/$fit;
            }

            .step-item-after {
                right: -12rem/$fit;
                border-top-width: 25rem/$fit;
                border-bottom-width: 25rem/$fit;
                border-left-width: 12rem/$fit;
            }
        }
    }

    .user,
    .quan,
    .fill {
        margin-bottom: .5rem;

        h3 {
            font-size: 32rem/$fit;
            color: #383838;
            padding: 24rem/$fit 0 24rem/$fit;
        }

        .check-row {
            display: flex;
            align-items: baseline;
            font-size: 24rem/$fit;
            color: #666666;
            padding-left: 156rem/$fit;
            margin-top: 21rem/$fit;
            margin-bottom: 33rem/$fit;

            input {
                height: auto;
                margin-right: 24rem/$fit;
            }
        }
    }

    .user {
        padding: 0 32rem/$fit;

        .user-row {
            display: flex;
            align-items: center;
            margin-bottom: 28rem/$fit;

            &:last-child {
                margin-bottom: 10rem/$fit;
            }
        }

        label {
            width: 160rem/$fit;
        }

        span {
            font-size: 24rem/$fit;
            color: #666666;
        }

        .add {
            width: 50rem/$fit;
            height: 50rem/$fit;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #00969E;
            color: #00969E;
            margin-left: 21rem/$fit;

            span {
                color: #00969E;
            }
        }

        .input-row {
            input {
                width: 504rem/$fit;
            }
        }

        h5 {
            font-size: .7rem;
            color: #00969E;
            background-color: #f8f8f8;
            padding: .5rem;
            border-radius: 5px;
            font-weight: 600;
        }
    }

    .fill {
        background-color: #FBFBFB;
        padding: 10rem/$fit 20rem/$fit;

        .fill-row {
            display: flex;
            align-items: center;
            margin-bottom: 20rem/$fit;

            label {
                width: 140rem/$fit;
                margin-bottom: 0;
                text-align: left;
            }

            .name1 {
                width: 240rem/$fit;
            }

            .name2 {
                width: 240rem/$fit;
                margin-left: 20rem/$fit;
            }

            .country {
                width: 500rem/$fit;
            }

            .radio {
                display: flex;
                align-items: baseline;
                margin-right: 54rem/$fit;

                input {
                    margin-right: 24rem/$fit;
                    height: auto;
                }

                font-size: 28rem/$fit;
                color: #383838;
            }

            .select {
                width: 240rem/$fit;
                background: #FFFFFF;
                border: 1px solid #E5E5E5;
                border-radius: 0.2rem;
                height: 1.5rem;
                padding-left: 0.4rem;
                padding-right: 0.5rem;
                display: -webkit-box;
                display: -webkit-flex;
                display: -ms-flexbox;
                display: flex;
                -webkit-box-align: center;
                -webkit-align-items: center;
                -ms-flex-align: center;
                align-items: center;
                -webkit-box-pack: justify;
                -webkit-justify-content: space-between;
                -ms-flex-pack: justify;
                justify-content: space-between;
                font-size: 0.7rem;
                color: #666;
                margin-right: 0rem;
                cursor: pointer;
            }

            .sub-title {
                color: #666;
                padding-right: 10rem/$fit;
            }

            .id-card {
                width: 500rem/$fit;
            }
        }

        .btns {
            display: inherit;
            flex-direction: row-reverse;
            padding-right: 40rem/$fit;
            margin-bottom: 24rem/$fit;
            text-align: center;

            .cancel,
            .submit {
                width: 200rem/$fit;
                height: 60rem/$fit;
            }

            .cancel {
                background: #FFFFFF;
                border: 1px solid #E5E5E5;
                color: #00969E;
            }

            .submit {
                background-color: #00969E;
                color: #fff;
                margin-right: 20rem/$fit;
                border: 1px solid #00969E;
                margin-bottom: .5rem;
            }
        }
    }

    .user.later {
        padding-bottom: 24rem/$fit;
    }

    .split {
        height: 24rem/$fit;
        background-color: #F8f8f8;
    }

    .quan {
        padding: 0 32rem/$fit;

        h5 {
            font-size: 28rem/$fit;
            color: #00969E;
            background-color: #f8f8f8;
            padding: .5rem;
            border-radius: 5px;
            font-weight: 600;
        }

        .check-row {
            padding-left: 0;
            font-size: 28rem/$fit;
            color: #383838;
            margin-bottom: 10rem/$fit;
        }

        .desc {
            font-size: 24rem/$fit;
            color: #666;
            line-height: 30rem/$fit;
            padding-left: 48rem/$fit;
        }

        .coupon {
            margin-top: 32rem/$fit;
        }
    }

    .package {
        padding: 0 32rem/$fit;

        .code {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 24rem/$fit;
            margin-bottom: 32rem/$fit;

            span {
                font-size: 28rem/$fit;
                color: #666666;
                margin-right: 20rem/$fit;
            }

            input {
                width: 382rem/$fit;
                margin-right: 10rem/$fit;
            }

            .ensure {
                width: 148rem/$fit;
                height: 54rem/$fit;
                color: #fff;
                background-color: #00969E;
                font-size: 24rem/$fit;
                border: 0;
            }
        }

        h3 {
            font-size: 0.8rem;
            color: #383838;
            padding: 0.6rem 0 0.6rem;
        }

        .content {
            background: #FFFFFF;
            border: 1px solid #D0D7DF;
        }

        .tab {
            height: 66rem/$fit;
            display: flex;

            .m-tab-item {
                background-color: #f7fcfc;
                display: flex;
                justify-content: center;
                align-items: center;
                flex: 1;
                /*border-left: 1px solid #D0D7DF;*/
                border-right: 1px solid #D0D7DF;
                border-bottom: 1px solid #D0D7DF;
                font-size: 28rem/$fit;
                color: #383838;
            }

            .last-r {
                border-right: 0px solid #D0D7DF;
            }

            .active {
                background-color: #fff;
                border-bottom: none;
                color: #00969E;
                font-weight: 500;
            }
        }

        .package-item {
            padding: 24rem/$fit 0;
            margin: 0 20rem/$fit;
            border-bottom: 1px solid #D0D7DF;

            img {
                width: 200rem/$fit;
                height: 130rem/$fit;
                flex-shrink: 0;
            }
        }

        .last-b {
            border-bottom: 0px solid #D0D7DF;
        }

        .package-row {
            display: flex;
            flex-wrap: nowrap;

            .right {
                flex: 1;
                padding-left: 20rem/$fit;
            }

            h3 {
                font-size: 28rem/$fit;
                color: #383838;
                margin-bottom: 8rem/$fit;
                padding: .25rem 0rem;
            }

            .desc {
                font-size: 24rem/$fit;
                color: #6D6D6D;
                line-height: 34rem/$fit;
            }
        }

        .bottom {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;

            .example {
                font-size: 24rem/$fit;
                color: #666;
                margin-right: 53rem/$fit;

                span {
                    text-decoration-line: line-through;
                }
            }

            .price {
                font-size: 34rem/$fit;
                color: #F8485E;
            }

            .order-btn-sm {
                background-color: #00969E;
                color: #fff;
                border: 0;
                border-radius: 5px;
            }
        }

        .tip {
            font-size: 24rem/$fit;
            color: #FF0000;
            padding: 24rem/$fit 20rem/$fit;
        }
    }

    .service {
        padding: 0 32rem/$fit;
    }
}

.price-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 120rem/$fit;
  display: flex;
  background-color: #fff;

  .left,
  .right {
    display: flex;
    flex-direction: column;
  }

  .left {
    flex: 1;
    justify-content: space-around;
    // align-items: ;
    padding: 17rem/$fit 0 0 24rem/$fit;

    .total {
      font-size: 32rem/$fit;
      color: #383838;
    }

    .price {
      font-size: 30rem/$fit;
      color: #F8485E;
    }

    .count {
      font-size: 28rem/$fit;
      color: #666;
      // margin-top: 10rem/$fit;
    }
  }

  .right {
    width: 354rem/$fit;
    flex-shrink: 0;
    background-color: #00969E;
    align-items: center;
    justify-content: center;

    .main {
      font-size: 32rem/$fit;
      color: #FFFFFF;
      letter-spacing: 0.52rem/$fit;
      font-weight: 500;
    }

    .sub {
      font-size: 28rem/$fit;
      color: #FFFFFF;
      letter-spacing: 0.52rem/$fit;
      font-weight: 300;
    }
  }
}
.mark {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100vw;
    background: rgba(0, 0, 0, .5);

    .box {
        width: 99vw;
        height: auto;
        position: absolute;
        bottom: 0;
        background: #fff;
        border-radius: 8rem/$fit 8rem/$fit 0 0;
    }

    .title {
        font-size: 32rem/$fit;
        padding: 20rem/$fit 32rem/$fit;
        font-weight: 600;
    }

    .sub-title {
        font-size: 32rem/$fit;
        padding: 20rem/$fit 32rem/$fit;
        background-color:#fbfbfb;
    }

    .boxinner {
        padding: 0 32rem/$fit;
    }

    .userinner {
        /*background: #fbfbfb;*/
        overflow: hidden;
        padding: 32rem/$fit 32rem/$fit 0 32rem/$fit;

        .user {
            width: 50%;
            float: left;
            display: flex;
            flex-direction: row;
            margin-bottom: 32rem/$fit;

            .username {
                text-align: right;
                flex: 1;
                padding-right: 16rem/$fit;
            }
        }
    }

    .btns-bottom {
        height: 120rem/$fit;
        border-top: 1px solid #e5e5e5;
        padding: 16rem/$fit;
        /*margin-top: 40rem/$fit;*/

        .btn-styleI,
        .btn-styleJ {
            border-radius: 5px;
            height: 80rem/$fit;
            width: 346rem/$fit;
            font-size: 28rem/$fit;
            line-height: 80rem/$fit;
            padding: 0;
            text-align: center;
            display: block;
            float: left;
        }

        .btn-styleJ {
            color: #00969E;
            border-color: #00969E;
            margin-right: 16rem/$fit;
        }
    }

    .room {
        height: 96rem/$fit;
        font-size: 28rem/$fit;

        .roomname {
            padding-top: 10rem/$fit;
            float: left;
        }

        .num-select {
            float: right;
        }

        .num-select {
            display: inline-block;
            border-radius: 0;
            padding: 0;
            text-align: center;
            height: 44rem/$fit;
            line-height: 44rem/$fit;
            overflow: hidden;
            vertical-align: middle;
        }

        .num {
            display: block;
            float: left;
            font-size: 14px;
            color: #666;
            width: 80rem/$fit;
            height: 44rem/$fit;
            line-height: 44rem/$fit;
        }

        .minus,
        .plus {
            display: block;
            float: left;
            width: 44rem/$fit;
            height: 44rem/$fit;
            background-color: #00969E;
            color: #fff;
            font-size: 20rem/$fit;
            line-height: 44rem/$fit;
            cursor: pointer;
            border-radius: 50%;
        }

        &.disable-room {
            .num-select {
                opacity: .5;
            }
        }
    }

    .disable-user {
        .num-select {
            opacity: .5;
        }
    }
}