@import '../../css/variables.scss';
@import '../../css/navbar.scss';
@import './sm-index.scss';

body {
    background-color: #f7fcfc;
}

.my-order {
    padding: 19rem/$fit 0 200rem/$fit;
    width: 1170rem/$fit;
    display: flex;

    .left-container {
        width: 210rem/$fit;
        margin-right: 20rem/$fit;
        float: left;
    }

    .right-container {
        width: 940rem/$fit;
        float: right;
    }

    .bread-crumb {
        display: flex;
        align-items: center;
        font-size: 14rem/$fit;
        color: #6D6D6D;
        margin-bottom: 22rem/$fit;

        .item {
            cursor: pointer;
        }

        .selected {
            cursor: default;
            color: #343E57;
        }

        .split {
            margin: 0 4rem/$fit;
        }
    }

    .order-tabs {
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        .tab-item {
            display: inline-block;
            font-size: 16px;
            color: #343E57;
            text-align: center;
            margin-right: 41px;
            border-bottom: 3px solid transparent;
            padding-bottom: 10px;
            cursor: pointer;
        }

        .active {
            color: #00969E;
            border-bottom: 3px solid #00969E;
        }
    }

    .order-list-wrap{
        position: relative;
    }

    .order-list {
        width: 940px;
        background-color: #ffffff;

        thead {
            background-color: #00969E;
            color: #ffffff;
            height: 37px;
            line-height: 37px;
            font-size: 14px;
        }

        tr {
            th,
            td {
                &:first-child {
                    padding-left: 20px;
                }
            }
        }

        tbody {
           
            font-size: 14px;
            color: #343E57;

            tr {
                border-top: 4px solid #f7fcfc;
                height: 58px;
            }

        }

        .expand {
            height: 232px;
        }

        .order-num {
            color: #00969E;
        }

        .order-operation {
            a {
                color: #00969E;
                cursor: pointer;
            }
        }

    }

    .card-detail {
        position: absolute;
        top: 97px;
        left: 0;
        background-color: #f3fafa;
        width: 940px;
        height: 232px;
        display: table;
        

        .left {
            width: 192px;
            display: table-cell;
            vertical-align: middle;
            text-align: center;
            
        }
        .right{
            display: table-cell;
            vertical-align: middle;
        }
        .price {
            font-size: 54px;
            color: #00969E;

            span {
                font-size: 14px;
            }
        }


        .date {
            font-size: 12px;
            color: #00969E;
        }

        .title{
            font-size: 14px;
            color: #343E57;
        }
        .desc{
            font-size: 12px;
            color: #999999;
            line-height: 24px;
            font-weight: 300;
        }
    }

    #my-code-container{
        width: 940px;
        background-color: #ffffff;
        padding: 20px 30px;
        h5{
            font-size: 14px;
            color: #343E57;
        }
        .code-row{
            display: flex;
            align-items: center;
            input{
                background: #FFFFFF;
                border: 1px solid #D0D7DF;
                border-radius: 2px;
                width: 730px;
                height: 39px;
                line-height: 39px;
                padding-left: 20px;
                font-size: 14px;
                color: #999999;
                margin-right: 20px;
            }
            span{
                background-color: #00969E;
                border: 1px solid #00969E;
                border-radius: 2px;
                font-size: 14px;
                color: #FFFFFF;
                text-align: center;
                width: 130px;
                height: 39px;
                line-height: 39px;
            }
        }
    }

}
