@import '../../css/variables.scss';

@media (max-width: 767px) {
    body {
        background-color: #F8F8F8 !important;
        font-family: Helvetica;
    }

    .my-order {
        display: none !important;
    }

    .my-order-header {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #00969E;
        height: 88rem/$fit;
        color: #ffffff;
        font-size: 32rem/$fit;
        color: #F0F0F0;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
    }

    .icon {
        position: absolute;
        left: 37rem/$fit;
        font-size: 40rem/$fit;
        cursor: pointer;
    }

    .tabs {
        position: fixed;
        top: 88rem/$fit;
        left: 0;
        width: 100vw;
        height: 88rem/$fit;
        padding: 0 32rem/$fit 0 50rem/$fit;
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);

        .tab-item {
            display: inline-block;
            height: 88rem/$fit;
            line-height: 88rem/$fit;
            text-align: center;
            font-size: 32rem/$fit;
            color: #343E57;
            font-weight: 300;
            border-bottom: 3rem/$fit solid transparent;
        }

        .active {
            color: #00969E;
            border-bottom-color: #00969E;
        }
    }
}

.my-order-sm {
    width: 100vw;
    margin-top: 96rem/$fit;

    .mb24 {
        margin-bottom: 24rem/$fit;
    }

    .my-card {
        width: 100vw;
        padding: 32rem/$fit;
        background-color: #ffffff;
        font-size: 20rem/$fit;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .title {
            color: #00969E;
            font-size: 28rem/$fit;
        }

        .date {
            margin-top: 20rem/$fit;
            color: #6D6D6D;
            font-size: 24rem/$fit;
        }

        .count {
            margin-top: 14rem/$fit;
            color: #999999;
            font-size: 24rem/$fit;
        }

        .operation {
            display: inline-block;
            height: 54rem/$fit;
            line-height: 54rem/$fit;
            width: 148rem/$fit;
            border-radius: 27rem/$fit;
            border: 1px solid #00969E;
            font-size: 20rem/$fit;
            color: #00969E;
            text-align: center;
        }

        .overtime {
            width: 3.7rem;
            color: #F8485E;
            text-align: center;
        }
    }

    .my-card-detail {
        background-color: #F8F8F8;
        padding: 14rem/$fit 32rem/$fit;
        display: flex;
        flex-direction: column;

        .price-row {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        .price {
            font-size: 54rem/$fit;
            color: #00969E;

            span {
                font-size: 20rem/$fit;
            }
        }

        .date {
            font-size: 20rem/$fit;
            color: #00969E;
        }

        .title {
            font-size: 28rem/$fit;
            color: #383838;
            margin-top: 14rem/$fit;
        }

        .desc {
            font-size: 24rem/$fit;
            color: #999999;
            line-height: 38rem/$fit;
            margin-top: 14rem/$fit;
        }
    }

    #my-code-container-sm {
        width: 100%;
        background-color: #ffffff;
        padding: 20rem/$fit 30rem/$fit;

        h5 {
            font-size: 28rem/$fit;
            color: #343E57;
        }

        .code-row {
            display: flex;
            align-items: center;

            input {
                background: #FFFFFF;
                border: 1px solid #D0D7DF;
                border-radius: 2px;
                width: 14rem;
                height: 2rem;
                line-height: 2rem;
                padding-left: .5rem;
                font-size: 24rem/$fit;
                color: #999999;
                margin-right: 20rem/$fit;
            }

            span {
                background-color: #00969E;
                border: 1px solid #00969E;
                border-radius: 2px;
                font-size: 24rem/$fit;
                color: #FFFFFF;
                text-align: center;
                width: 3rem;
                height: 2rem;
                line-height: 2rem;
            }
        }
    }
}
