@import '../../css/variables.scss';
.prodetailtitle{
	font-family: SourceHanSans-Regular;
	font-size: 20rem/$fit;
	color: #343E57;
	font-weight:normal;
	line-height:24rem/$fit;
	margin-top:16rem/$fit;
	margin-bottom:25rem/$fit;
}
.proinfo .info{
	padding-left:30rem/$fit;
	width:750rem/$fit;
}
.proinfo .base_price{
	font-size:14rem/$fit;
	color:#F8485E;
}
.proinfo .base_price dfn{
	font-style:normal;
	font-family:arial;
}
.proinfo .base_price .price{
	font-size:30rem/$fit;
	
}
.proinfo .priceinfo_link{
	color:#00969E;
	margin-left:10rem/$fit;
}
.proinfo .priceinfo_link i{
	font-style:normal;
}
.proinfo .priceinfo_link i{
	position:relative;
	top:-1rem/$fit;
	margin-right:6rem/$fit;
	display:inline-block;
	font-size:10rem/$fit;
	line-height:12rem/$fit;
	width:15rem/$fit;
	height:15rem/$fit;
	border:1rem/$fit solid #00969E;
	border-radius:50%;
	text-align:center;
}
.proinfo .prominfop{
	padding:12rem/$fit 30rem/$fit;
	color:#999999;
	background:#FBFBFB;
}
.proinfo .tags{
	padding:12rem/$fit 0;
}
.proinfo .tags span{
	padding-left:18rem/$fit;
	font-size:14rem/$fit;
	margin-right:10rem/$fit;
	line-height:18rem/$fit;
}
.proinfo .tags .sale{
	background:url(../../images/pro_icon_sale.png) left center no-repeat;
}
.proinfo .tags .vip{
	background:url(../../images/pro_icon_vip.png) left center no-repeat;
	padding-left:25rem/$fit;
}
.proinfo .tags .hot{
	background:url(../../images/pro_icon_hot.png) left center no-repeat;
	padding-left:16rem/$fit;
}
.proinfo .tags .children{
	background:url(../../images/pro_icon_duck.png) left center no-repeat;
}
.proinfo .triplist{
	padding:6rem/$fit 0;
}
.proinfo .triplist li{
	float:left;
	word-break:break-all;
	white-space: nowrap;
	padding-left:29rem/$fit;
	position:relative;
	height:24rem/$fit;
	line-height:24rem/$fit;
	margin:6rem/$fit 8rem/$fit 6rem/$fit 0;
}
.proinfo .triplist li span{
	height:22rem/$fit;
	width:22rem/$fit;
	line-height:22rem/$fit;
	font-size:12rem/$fit;
	text-align:center;
	color:#00969E;
	border:1rem/$fit solid #00969E;
	border-radius:50%;
	position:absolute;
	left:0;
	top:0;
}
.proinfo .proinfoli{
	font-size:14rem/$fit;
	margin-bottom:20rem/$fit;
}
.proinfo .proinfoli .departure{
	margin-right:10rem/$fit;
}
.icon_worlddm{
	background:url(../../images/pro_icon_ship.png) left center no-repeat;
	padding-left:27rem/$fit;
	line-height:18rem/$fit;
	margin-right:10rem/$fit;
	color:#00969E;
}
.proinfo .action .dof-date{
	padding-left:67rem/$fit;
	position:relative;
}
.proinfo .action .dof-date label{
	margin-left:-67rem/$fit;
	float:left;
}
.proinfo .action .dof-date a {
	float:left;
	width:152rem/$fit;
	margin-right:12rem/$fit;
	color:#383838;
}
.proinfo .action .dof-date a:hover{
	text-decoration:none;
}

.proinfo .action .dof-date .box {
	width:152rem/$fit;
	height:52rem/$fit;
	background: #FFFFFF;
	border: 1rem/$fit solid #D0D7DF;
	font-size:14rem/$fit;
	padding-top:6rem/$fit;
	position:relative;
}
.proinfo .action .dof-date a:hover .box{
	border: 1rem/$fit solid #00969E;
	
}
.proinfo .action .dof-date .base_price{
	font-size:14rem/$fit;
	color:#F8485E;
}
.proinfo .action .dof-date .base_price .price{
	font-size:14rem/$fit;
}
.proinfo .action .dof-date .d_back{
	font-size: 12rem/$fit;
	color: #999999;
	text-align: center;
	line-height:12rem/$fit;
	margin-top:10rem/$fit;
}
.proinfo .action .dof-date .current .box{
	border: 1rem/$fit solid #00969E;
}
.proinfo .action .dof-date .current .box:before{
	content:"";
	 width: 0;
    height: 0;
    border: 11rem/$fit solid transparent;
    border-right-color: #00969E;
	border-bottom-color: #00969E;
	position:absolute;
	right:0;
	bottom:0;
}
.proinfo .action .dof-date .current .box:after{
	content:"";
	 width: 6rem/$fit;
    height: 10rem/$fit;
    border: 1rem/$fit solid #fff;
	border-width:0 1rem/$fit 1rem/$fit 0;
	position:absolute;
	right:3rem/$fit;
	bottom:3rem/$fit;
	transform: rotate(45deg);
}
.proinfo .action .dof-date .more{
	border: 1rem/$fit solid #D0D7DF;
	border-radius: 4rem/$fit;
	width:82rem/$fit;
	margin-right:0;
	height:31rem/$fit;
	line-height:30rem/$fit;
	font-size: 14rem/$fit;
	color: #00969E;
	padding-left:10rem/$fit;
	position:relative;
	margin-top: 10rem/$fit;
}
.proinfo .action .dof-date .more:hover{
	border: 1rem/$fit solid #00969E;
}
.proinfo .action .dof-date .more:after{
	content:"";
	 width: 10rem/$fit;
    height: 10rem/$fit;
    border: 1rem/$fit solid #00969E;
	border-width:0 1.5rem/$fit 1.5rem/$fit 0;
	position:absolute;
	right:7rem/$fit;
	top:7rem/$fit;
	transform: rotate(45deg);
}
.proinfo .action .probtn{
	margin-top:20rem/$fit;
	height:42rem/$fit;
	line-height:42rem/$fit;
	font-size:14rem/$fit;
}
.proinfo .action .icon_share{
	background:url(../../images/pro_icon_share.png) left center no-repeat;
	padding-left:21rem/$fit;
}
.proinfo .action .search_price{
	font-size: 14rem/$fit;
	color: #00969E;
	letter-spacing: 0.88rem/$fit;
	margin-right:54rem/$fit;
}
.proinfo .action .btn_nowbooking{
	background: #F8485E;
	border-radius: 2rem/$fit;
	height:42rem/$fit;
	width:124rem/$fit;
	font-size: 20rem/$fit;
	color: #FFFFFF;
	letter-spacing: 1.25rem/$fit;
	display:inline-block;
	text-align:center;
}
.proinfo .action .btn_nowbooking:hover{
	text-decoration:none;
	opacity:0.8;
}
.probar{
	height:60rem/$fit;
}
.probar .bartags{
	padding-left:32rem/$fit;
}
.probar .bartags li{
	font-size: 16rem/$fit;
	display:inline-block;
	margin-right:32rem/$fit;
	line-height:60rem/$fit;
	position:relative;
}
.probar .bartags li a{
	color:#383838;
	padding:10rem/$fit 8rem/$fit;
	border-bottom:3rem/$fit solid #fff;
}
.probar .bartags li a:hover{
	text-decoration:none;
	color: #00969E;
	border-bottom:3rem/$fit solid #00969E;
}
.probar .bartags li .current{
	color: #00969E;
	border-bottom:3rem/$fit solid #00969E;
}
.probar .select_date{
	width:394rem/$fit;
	height:60rem/$fit;
	background: #00969E;
	padding:12rem/$fit 12rem/$fit 12rem/$fit 20rem/$fit;
}
.probar .select_date .date_box{
	height:36rem/$fit;
	width:266rem/$fit;
	float:left;
	line-height:36rem/$fit;
	font-size: 16rem/$fit;
	color: #343E57;
	padding-left:48rem/$fit;
	background:url(../../images/pro_icon_cal.png) 16rem/$fit center no-repeat #fff;
	position:relative;
}
.probar .select_date .date_box .base_price{
	font-size: 12rem/$fit;
	color: #F8485E;
	position:absolute;
	height:36rem/$fit;
	line-height:36rem/$fit;
	right:7rem/$fit;
}
.probar .select_date .date_box .base_price .price{
	font-size: 16rem/$fit;
	color: #F8485E;
}
.probar .select_date .date_box .base_price dfn{
	font-style:normal;
	font-family:arial;
}
.probar .select_date .btn_nowbuy{
	height:36rem/$fit;
	width:86rem/$fit;
	border:1rem/$fit solid #fff;
	color:#fff;
	font-size: 14rem/$fit;
	text-align:center;
	float:right;
	line-height:36rem/$fit;
}
.probar .select_date .btn_nowbuy:hover{
	text-decoration:none;
	background:rgba(255,255,255,0.3);
}
.leftlist{
	width:222rem/$fit;
	padding-right:20rem/$fit !important;
}
.leftlist h3{
	font-size: 16rem/$fit;
	color: #383838;
	position:relative;
	height:40rem/$fit;
	line-height:40rem/$fit;
}
.leftlist h3:before{
	content:"";
	height:20rem/$fit;
	border-bottom: 1rem/$fit solid #D0D0D0;
	position:absolute;
	width:100%;
	top:0;
	left:0;
}
.leftlist h3 span{
	background:#fff;
	font-size: 16rem/$fit;
	color: #383838;
	position:relative;
}
.leftlist li{
	height:40rem/$fit;
	line-height:40rem/$fit;
	font-size: 14rem/$fit;
	color: #999999;
	letter-spacing: 1.2rem/$fit;
	border-bottom:1rem/$fit solid #F0F0F0;
	padding-left:40rem/$fit;
}
.leftlist .current{
	color: #00969E;
	padding-left:75rem/$fit;
	background:url(../../images/linecurrent.png) 40rem/$fit center no-repeat;
}
.leftlist .showmap{
	padding-left:40rem/$fit;
}
.leftlist .showmap a{
	font-size: 14rem/$fit;
	color: #00969E;
	line-height:20rem/$fit;
	background:url(../../images/pro_icon_line.png) left center no-repeat;
	padding-left:23rem/$fit;
}
.table_style1{
	width:958rem/$fit;
	border:1rem/$fit solid #D0D7DF;
}
.table_style1 th{
	font-size: 14rem/$fit;
	color: #FFFFFF;
	text-align: center;
	background:#79CAD0;
	height:54rem/$fit;
	font-weight:normal;
}
.table_style1 td{
	font-size: 14rem/$fit;
	color: #343E57;
	text-align: center;
	height:40rem/$fit;
}
.table_style1 tr:nth-child(2n+1){
	background:#FBFBFB;
}
.icon_ship{
	height:36rem/$fit;
	width:36rem/$fit;
	background:url(../../images/pro_icon_ship@2x.png) center center no-repeat;
	background-size:22rem/$fit 19rem/$fit;
	border: 1rem/$fit solid #00969E;
	border-radius:50%;
	display:inline-block;
}
.setp_line{
	width:886rem/$fit;
	height:30rem/$fit;
	position:relative;
	text-align:center;
	margin:30rem/$fit auto;
}
.setp_line:after{
	content:"";
	display:inline-block;
	height:30rem/$fit;
	width:86rem/$fit;
	background:url(../../images/Shape.png) center center no-repeat #FFF;
	position:relative;
}
.setp_line:before{
	content:"";
	position:absolute;
	width:100%;
	height:15rem/$fit;
	border-bottom:1rem/$fit solid #A05EB5;
	left:0;
	top:0;
}
.list_style1{
	padding-left:20rem/$fit;
}
.list_style1 li{
	list-style-image:url(../../images/list_style1.png);
}
.pic_style{
	position:relative;
	
	border: 1rem/$fit solid #979797;
}
.pic_style .pic_title{
	background: #FFFFFF;
	line-height:46rem/$fit;
	font-size:20rem/$fit;
	text-align:center;
	height:46rem/$fit;
	width:100%;
	position:absolute;
	left:0;
	bottom:0;
}
.btn-stye1 {
    display: inline-block;
    position: relative;
    background: #00969E;
    width: 113rem/$fit;
    height: 38rem/$fit;
    border-radius: 3rem/$fit;
    color: #fff;
    font-size: 16rem/$fit;
    text-align: left;
    line-height: 38rem/$fit;
    cursor: pointer;
    padding-left: 23rem/$fit;
}
.btn-stye1:hover{
	color:#fff;
	text-decoration:none;
	opacity:0.8;
}
.prointo .local_title{
	height:32rem/$fit;
	background:url(../../images/pro_local.png) 20rem/$fit center no-repeat;
	font-size: 26rem/$fit;
	color: #00969E;
	padding-left:68rem/$fit;
}
.prointo .visitlist li{
	height:160rem/$fit;
	padding:15rem/$fit 20rem/$fit 15rem/$fit 245rem/$fit;
	background:#F7FCFC;
	margin-bottom:10rem/$fit;
}
.prointo .visitlist .pic{
	margin-left:-245rem/$fit;
	margin-top:-15rem/$fit;
	float:left;
}
.prointo .visitlist .title{
	font-size:18rem/$fit;
}
.prointo .visitlist .desc{
	font-size:16rem/$fit;
	margin:5rem/$fit 0 ;
}
.prointo .visitlist .base_price{
	font-size:14rem/$fit;
	color:#F8485E;
	line-height:1;
	margin-bottom:5rem/$fit;
}
.prointo .visitlist .base_price .price,
.prointo .visitlist .base_price dfn{
	font-size:26rem/$fit;
}
.prointo .visitlist .base_price dfn{
	font-style:normal;
	font-family:arial;
}
.travelslist li{
	padding:10rem/$fit;
	padding-left:330rem/$fit;
	border: 1rem/$fit solid #00969E;
	height:254rem/$fit;
	margin-bottom:10rem/$fit;
}
.travelslist .pic{
	float:left;
	margin-left:-320rem/$fit;
}
.travelslist .userinfo{
	overflow:hidden;
	padding-left:30rem/$fit;
}
.travelslist .triplist{
	overflow:hidden;
}
.travelslist .triplist li{
	padding:0;
	padding-left: 29rem/$fit;
	border:0;
	margin-bottom:0;
	height:auto;
}
.travelslist .proinfo{
	padding-left:30rem/$fit;
}
.travelslist .proinfo .title{
	font-size:20rem/$fit;
	margin-top:20rem/$fit;
}
.travelslist .prominfop{
	font-size: 16rem/$fit;
	color: #666666;
	line-height: 28rem/$fit;
	background:none;
	padding:0;
}
.travelslist .probtn{
	width:188rem/$fit;
	position:relative;
}
.travelslist .probtn .more{
	position:absolute;
	right:10rem/$fit;
	bottom:10rem/$fit;
}
.travelslist .nick {
	height:50rem/$fit;
}
.travelslist .nick .nickname{
	font-size:16rem/$fit;
	margin-left:20rem/$fit;
}
.travelslist .pic .pro_tags{
	height:54rem/$fit;
	line-height:34rem/$fit;
	padding:10rem/$fit 16rem/$fit;
	font-size:12rem/$fit;
	background:#F7FCFC;
}
.travelslist .pic .pro_tags .tag1{
	border: 1rem/$fit solid #C1AE52;
	color:#C1AE52;
	font-size:12rem/$fit;
	padding:3rem/$fit 8rem/$fit;
	margin-right:10rem/$fit;
}
.travelslist .pic .pro_tags .tag2{
	border: 1rem/$fit solid #F6AA72;
	color:#F6AA72;
	font-size:12rem/$fit;
	padding:3rem/$fit 8rem/$fit;
	margin-right:10rem/$fit;
}
.travelslist .pic .pro_tags .tag3{
	border: 1rem/$fit solid #FB7590;
	color:#FB7590;
	font-size:12rem/$fit;
	padding:3rem/$fit 8rem/$fit;
	margin-right:10rem/$fit;
}
.travelslist .userinfo .fav{
	height:20rem/$fit;
	line-height:20rem/$fit;
	font-size:12rem/$fit;
	padding-left:28rem/$fit;
	background:url(../../images/icon_fav.png) left center no-repeat;
	color:#999;
	display:inline-block;
	margin-right:15rem/$fit;
}
.travelslist .userinfo .view{
	height:20rem/$fit;
	line-height:20rem/$fit;
	font-size:12rem/$fit;
	padding-left:28rem/$fit;
	background:url(../../images/icon_view.png) left center no-repeat;
	color:#999;
	display:inline-block;
	margin-right:15rem/$fit;
}
.travelslist .userinfo .good{
	height:20rem/$fit;
	line-height:20rem/$fit;
	font-size:12rem/$fit;
	padding-left:28rem/$fit;
	background:url(../../images/icon_good.png) left center no-repeat;
	color:#999;
	display:inline-block;
	margin-right:15rem/$fit;
}
.travelslist .userinfo .msg{
	height:20rem/$fit;
	line-height:20rem/$fit;
	font-size:12rem/$fit;
	padding-left:28rem/$fit;
	background:url(../../images/icon_msg.png) left center no-repeat;
	color:#999;
	display:inline-block;
	margin-right:15rem/$fit;
}
.travelslist .userinfo .timer{
	height:20rem/$fit;
	line-height:20rem/$fit;
	font-size:12rem/$fit;
	color:#999;
	display:inline-block;
}
.hotthread *{
	box-sizing:content-box;
}
.hotthread{
	position:relative;
	z-index:1;
}
.hotthread .item ul li {
  float: left;
  margin-top: 20rem/$fit;
  /*margin-right: 30rem/$fit;*/
  /*width: 380rem/$fit;*/
  height: 354rem/$fit;
  /*background: #fff;*/
  border-radius: 5rem/$fit;
  overflow:hidden;
}
.hotthread .item ul .one-pro{
	height: 364rem/$fit;
	
}
.hotthread .item ul li:last-child{
	margin-right: 0;
}
.hotthread .item .thread {
  position: relative;
  line-height: 24rem/$fit;
  transition: all 0.2s ease-in-out;
}
.hotthread .item .inner{
	background: #fff
}
.hotthread .item .one-pro .thread .pic{
	background-position:center top;
	background-size:cover;
	border-radius:5rem/$fit;
	height:364rem/$fit;
}
.hotthread .item .one-pro .thread .inner{
	background: none;
	border:0;
	position:absolute;
	right:65rem/$fit;
	bottom:42rem/$fit;
	height:auto;
}
.hotthread .item .one-pro .thread .inner .caption{
	padding:0;
}
.hotthread .item .one-pro .protitle{
	font-size:30rem/$fit;
	line-height:1.5;
	font-weight: normal;
	color:#fff;
}
.hotthread .item .one-pro .prodesc{
	font-size:20rem/$fit;
	color:#fff;
	font-weight: normal;
}
.hotthread .item .one-pro .base_price{
	padding-top:36rem/$fit;
	font-size:16rem/$fit;
	line-height:1;
	color:#F8485E;
}
.hotthread .item .one-pro .base_price .price{
	font-size:36rem/$fit;
}
.hotthread .item .sale .thread .inner{
	top:76rem/$fit;
	right: 264rem/$fit;
}
.hotthread .item .sale .base_price{
	text-align:right;
	position:absolute;
	right:15rem/$fit;
	bottom:15rem/$fit;
}
.hotthread .item ul .sale .thread{
	height:354rem/$fit;
	overflow:hidden;
	border-radius:5rem/$fit;
}
.hotthread .item .sale .timer{
	width:240rem/$fit;
	height:100%;
	border-left:4rem/$fit solid #fff;
	position:absolute;
	top:0;
	right:0;
	background:url(../../images/timer-bg.png) center center no-repeat;
	background-size:cover;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}
.hotthread .item .sale .timer .title{
	color:#fff;
	background:url(../../images/sale.png) center bottom no-repeat;
	height:140rem/$fit;
	padding-top:30rem/$fit;
	font-size:30rem/$fit;
	line-height:30rem/$fit;
	
}
.hotthread .item .sale .timer .time_tit{
	margin-top:58rem/$fit;
	font-size:14rem/$fit;
	color:#fff;
	line-height:20rem/$fit;
	height:20rem/$fit;
	text-align:center;
}
.hotthread .item .sale .timer .time_p{
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
	font-size:30rem/$fit;
	color:#fff;
	line-height:46rem/$fit;
	text-align:center;
	margin-top:20rem/$fit;
}
.hotthread .item .sale .timer .time_p span{
	font-family:"SourceHanSans",Segoe, "Segoe UI",sans-serif;
	background:#fff;
	display:inline-block;
	height:46rem/$fit;
	width:46rem/$fit;
	color:#F8485E;
	font-size:30rem/$fit;
	text-align:center;
	
}
.hotthread .one-pro .base_price dfn{
	font-size:16rem/$fit;
}

.hotthread .item .thread .pic {
	background-size:100% auto;
	background-position:center center;
	background-repeat:no-repeat;
  position: relative;
  width: 100%;
  height: 247rem/$fit;
  overflow: hidden;
  border-top-left-radius: 5rem/$fit;
  border-top-right-radius: 5rem/$fit;
}
.hotthread .item .thread .pic img{
	width:100%;
}
.hotthread .pic_title{
	position:absolute;
	left:0;
	top:12rem/$fit;
	height:20rem/$fit;
	line-height:20rem/$fit;
	padding:0 12rem/$fit;
	color:#ffffff;
	font-size:15rem/$fit;
}
.hotthread .icon_tags{
	position:absolute;
	bottom:-1rem/$fit;
	left:0;
}
.hotthread .tags{
	position:absolute;
	bottom:0;
	left:0;
	height:20rem/$fit;
	padding:10rem/$fit;
}
.hotthread .tags span{
	height:18rem/$fit;
	line-height:18rem/$fit;
	color:#FDD26E;
	padding:0 5rem/$fit;
	border:1rem/$fit solid #FDD26E;
	border-radius:3rem/$fit;
	display:block;
	font-size:12rem/$fit;
	float:left;
	margin-right:10rem/$fit;
}
.hotthread .item .thread .inner {
  border: 1rem/$fit solid #d0d7df;
  border-top: 0;
  padding: 0 15rem/$fit;
  height: 106rem/$fit;
  border-bottom-left-radius: 5rem/$fit;
  border-bottom-right-radius: 5rem/$fit;
}

.hotthread .item .thread .inner .caption {
  padding-top: 12rem/$fit;
  overflow: hidden;
  color:#343940;
}

.hotthread .item .thread .tip {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 0;
  background-color: #f8485e;
  border-bottom-left-radius: 10rem/$fit;
  width: 90rem/$fit;
  height: 30rem/$fit;
  line-height: 30rem/$fit;
  text-align: center;
  color: #fff;
  font-size: 12rem/$fit;
  font-style:normal;
}

.hotthread .base_price {
	font-size:12rem/$fit;
    color: #999999
}
.hotthread .base_price dfn {
    top: -1rem/$fit;
    font-size: 12rem/$fit;
	font-style:normal;
}

.hotthread .base_price .price{
	font-size:18rem/$fit;
	color:#15989D;
}
.section .title{

font-size: 38rem/$fit;
color: #455272;
letter-spacing: 7.6rem/$fit;
text-align: center;
line-height: 40rem/$fit;
margin-top:50rem/$fit;
margin-bottom:80rem/$fit;
}
.pl60{
	padding-left:60rem/$fit;
}
/* 大屏幕 */
@media (min-width: 1200px) { 
	
}
 
/* 平板电脑和小屏电脑之间的分辨率 */
@media (min-width: 768px) and (max-width: 979rem/$fit) {
	
}
 
/* 横向放置的手机和竖向放置的平板之间的分辨率 */
@media (max-width: 767px) {
	body{
		background:#F8F8F8;
	}
	.pl60{
		padding-left:0;
	}
	#header{
		display:none;
	}
	.product-main{
		width:100%;
		overflow:hidden;
	}
	.propic{
		position:relative;
	}
	.propic .returnbtn{
		position:absolute;
		font-size:40rem/$fit;
		left:20rem/$fit;
		top:20rem/$fit;
		color:#fff;
	}
	.propic img{
		width:100%;
	}
	.proinfop{
		border-radius:6rem/$fit 6rem/$fit 0 0;
		padding:40rem/$fit 30rem/$fit 0 30rem/$fit;
		margin-top:-10rem/$fit;
		background:#fff;
		position:relative;
	}
	.proinfop:before{
		content:"";
		width:100rem/$fit;
		height:6rem/$fit;
		opacity: 0.2;
		background: #343E57;
		border-radius: 3rem/$fit;
		position:absolute;
		left:50%;
		top:15rem/$fit;
		margin-left:-50rem/$fit;
	}
	.prodetailtitle{
		font-size:28rem/$fit;
		line-height:1.4;
		margin:0;
	}
	.proinfop .info{
		padding:0;
		width:auto;
	}
	.proinfo .triplist{
		margin:10rem/$fit 0;
	}
	.proinfo .triplist li{
		font-size:20rem/$fit;
		line-height:30rem/$fit;
		padding-left: 32rem/$fit;
	}
	.proinfo .triplist li span{
		height:30rem/$fit;
		width:30rem/$fit;
		line-height:30rem/$fit;
		font-size:18rem/$fit;
		border-radius:50%;
		margin-right:2px;
	}
	.proinfo .proinfoli{
		font-size:20rem/$fit;
		line-height:30rem/$fit;
	}
	.probar{
		height:auto;
		overflow:hidden;
	}
	.saletags{
		height:54rem/$fit;
		line-height:54rem/$fit;
		border-top:1px dashed #E5E5E5;
		position:relative;
	}
	.saletags .more{
		position:absolute;
		right:0;
		top:20rem/$fit;
		color:#999;
	}
	.saletags li{
		float:left;
		font-size:18rem/$fit;
		margin-right:20rem/$fit;
	}
	.saletags li:nth-child(1){
		color:#4A90E2;
	}
	.saletags li:nth-child(2){
		color:#A05EB5;
	}
	.saletags li:nth-child(3){
		color:#6EC271;
	}
	.saletags li:nth-child(4){
		color:#FF7245;
	}
	
	.btn-styleE{
		font-size:20rem/$fit;
		padding:10rem/$fit 20rem/$fit;
	}
	.probar .select_date{
		height:100rem/$fit;
		padding:0;
		padding-left:20px;
		padding-top:15rem/$fit;
		width:100%;
		background:#fff;
		position:relative;
	}
	.probar .select_date .date_box{
		width:100%;
		height:auto;
		background:none;
		padding:0;
	}
	.probar .select_date .buttom{
		position:absolute;
		right:20rem/$fit;
		top:24rem/$fit;
	}
	.probar .select_date .date_box .label{
		font-size:20rem/$fit;
		color:#888888;
	}
	.probar .select_date .date_box .val{
		font-size:26rem/$fit;
	}
	.probar .bartags{
		white-space: nowrap;
		background:#fff;
		margin-top:20rem/$fit;
		overflow:scroll;
		width:100%;
		clear:both;
	}
	.probar .bartags li{
		height:80rem/$fit;
	}
	.probar .bartags li a{
		height:80rem/$fit;
		line-height:80rem/$fit;
		padding-top:0;
		padding-bottom:0;
		display:inline-block;
		font-size:28rem/$fit;
		color:#6D6D6D
	}
	.prointo{
		padding:30rem/$fit;
	}
	.setp_line{
		width:100%;
		height:40rem/$fit;
		position:relative;
		text-align:center;
		margin:30rem/$fit auto;
	}
	.setp_line:after{
		content:"";
		display:inline-block;
		height:40rem/$fit;
		width:86rem/$fit;
		background:url(../../images/Shape.png) center center no-repeat #F8F8F8;
		position:relative;
	}
	.setp_line:before{
		content:"";
		position:absolute;
		width:100%;
		height:15rem/$fit;
		border-bottom:1rem/$fit solid #A05EB5;
		left:0;
		top:0;
	}
	.t_lh_28p{
		line-height:1.5;
	}
	.t_lh_28p .col{
		width:100%;
		flex:auto;
	}
	.prointo .black{
		color:#6D6D6D;
	}
	.prointo .visitlist li{
		height:auto;
		overflow:hidden;
		padding-left:0;
	}
	.prointo .visitlist .pic{
		margin:0;
		margin-right:20rem/$fit;
	}
	.visitlist li .pic img{
		
		height: 180rem/$fit;
	}
	.prointo .local_title{
		background-size:auto 100%;
	}
	.travelslist li{
		padding:20rem/$fit;
		height:auto;
	}
	.travelslist .pic{
		float:none;
		margin:0 0 20rem/$fit;
		
	}
	.travelslist .pic img{
		width:100%;
	}
	.travelslist .row{
		display:block;
		margin:0;
	}
	.travelslist .probtn{
		padding:20rem/$fit 30rem/$fit;
	}
	.travelslist .probtn .more{
		position:static;
	}
	.hotthread .row{
		display:block;
		margin:0;
	}
	.hotthread .row .col{
		margin:0;
		padding:0;
		padding-bottom:30rem/$fit;
	}
	.dayslist{
		width:50rem/$fit;
		float:right;
		height:100px;
		position:relative;
		left:10rem/$fit;
	}
	.dayslist ul{
		z-index:100;
		width:50rem/$fit;
		margin-left:auto;
		margin-right:auto;
	}
	.dayslist li a{
		display:block;
		height:50rem/$fit;
		width:50rem/$fit;
		line-height:48rem/$fit;
		margin-bottom:10rem/$fit;
		
		border:1px solid #ccc;
		border-radius:50%;
		font-size:24rem/$fit;
		text-align:center;
		color:#ccc;
	}
	.dayslist li a:hover{
		text-decoration:none;
		border:1px solid #00969E;
		color:#00969E;
	}
	.dayslist li .current{
		text-decoration:none;
		border:1px solid #00969E;
		color:#00969E;
	}
	.bottombar{
		border-top:1px solid #ccc;
		background:#fff;
		width:100%;
		height:100rem/$fit;
		position:fixed;
		bottom:0;
		left:0;
		z-index:100;
	}
	.bottombar .date_box{
		padding:15rem/$fit 15rem/$fit 15rem/$fit 20rem/$fit;
	}
	.bottombar .date_box .label{
		font-size:22rem/$fit;
		color:#ccc;
	}
	.bottombar .date_box .val{
		font-size:26rem/$fit;
		color:#F8485E;
	}
	.bottombar .btn-styleE{
		color:#fff;
		padding:15rem/$fit 30rem/$fit;
		font-size:28rem/$fit;
	}
}
 
/* 横向放置的手机及分辨率更小的设备 */
@media (max-width: 480px) {
	
}
