@import '../../css/variables.scss';

.sm-main {
    min-height: 100vh;
    width: 100vw;
    font-family: Helvetica;
    padding-bottom: 120rem/$fit;

    input {
        border: 1px solid #E5E5E5;
        border-radius: 8rem/$fit;
        height: 60rem/$fit;
        padding-left: 16rem/$fit;
        font-size: 28rem/$fit;
        color: #666666;
    }

    label {
        font-size: 28rem/$fit;
        color: #666666;
        margin-bottom: 0;
    }

    .select {
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        border-radius: 8rem/$fit;
        height: 60rem/$fit;
        padding-left: 16rem/$fit;
        padding-right: 20rem/$fit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 28rem/$fit;
        color: #999999;
        margin-right: 20rem/$fit;
        cursor: pointer;
    }

    h3 {
        font-size:32rem/$fit;
        color: #383838;
    }

    button {
        width: 148rem/$fit;
        height: 54rem/$fit;
        font-size: 24rem/$fit;
    }

    .split {
        height: 24rem/$fit;
        background-color: #FBFBFB;
    }

    .arrow-down {
        width: 0.25rem;
        height: 0.25rem;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border: 0.025rem solid #999;
        border-width: 0 0.025rem 0.025rem 0;
        display: block;
    }

    .arrow-up {
        width: 0.25rem;
        height: 0.25rem;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border: 0.025rem solid #999;
        border-width: 0.025rem 0 0 0.025rem;
        display: block;
    }

    .order-info {
        margin: 24rem/$fit;
        border-bottom: 1px dotted #e5e5e5;
        padding-left: 8rem/$fit;

        h3 {
            font-size: 40rem/$fit;
            color: #383838;
            line-height: 55rem/$fit;
            margin-bottom: 24rem/$fit;
        }

        p {
            font-size: 28rem/$fit;
            color: #666666;
            line-height: 1;
            margin-bottom: 24rem/$fit;
        }

        .ml32 {
            margin-left: 32rem/$fit;
        }
    }

    .product-tags {
        border-bottom: 1px solid #E5E5E5;
        padding: 0 36rem/$fit 20rem/$fit;
        margin-top: 16rem/$fit;

        .tag {
            line-height: 40rem/$fit;
            border-radius: 4rem/$fit;
            border: 1px solid;
            padding: 0 16rem/$fit;
            margin-right: 20rem/$fit;
            font-size: .6rem;

            &:last-child {
                margin-right: 0;
            }
        }

        .green {
            color: #00969E;
            border-color: #00969E;
        }

        .blue {
            color: #4A90E2;
            border-color: #4A90E2;
        }

        .purple {
            color: #A05EB5;
            border-color: #A05EB5;
        }

        .yellow {
            color: #F5A623;
            border-color: #F5A623;
        }

        .red {
            color: #F8485E;
            border-color: #F8485E;
        }

        .light-blue {
            color: #64BDDA;
            border-color: #64BDDA;
        }
    }

    .step {
        padding: 0 32rem/$fit;
        margin-top: 24rem/$fit;
        display: flex;
        justify-content: space-between;

        .step-item {
            width: 188rem/$fit;
            height: 50rem/$fit;
            margin-left: 5rem/$fit;
            text-align: center;

            span {
                line-height: 50rem/$fit;
                font-size: 24rem/$fit;
            }

            .step-item-before {
                border-top-width: 25rem/$fit;
                border-bottom-width: 25rem/$fit;
                border-left-width: 12rem/$fit;
            }

            .step-item-after {
                right: -12rem/$fit;
                border-top-width: 25rem/$fit;
                border-bottom-width: 25rem/$fit;
                border-left-width: 12rem/$fit;
            }
        }
    }

    .ensure-price,
    .pay-type {
        padding: 24rem/$fit 32rem/$fit;

        h3 {
            margin-top: 32rem/$fit;
            margin-bottom: 32rem/$fit;
        }
    }

    .ensure-price {
        .content {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 80rem/$fit;
            }

            p {
                margin-top: 60rem/$fit;
                margin-bottom: 60rem/$fit;
                font-size: 32rem/$fit;
                color: #999999;
                letter-spacing: 0;
                line-height: 34rem/$fit;

                .price {
                    margin-left: 20rem/$fit;
                    color: #FF5050;
                    font-size: 40rem/$fit;

                    span {
                        font-size: 40rem/$fit;
                    }
                }
            }
        }
    }

    .pay-type {
        .type-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 32rem/$fit;

            img {
                width: 302rem/$fit;
                cursor: pointer;
            }
        }
    }
}

.price-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 120rem/$fit;
  display: flex;
  background-color: #fff;

  .left,
  .right {
    display: flex;
    flex-direction: column;
  }

  .left {
    flex: 1;
    justify-content: space-around;
    // align-items: ;
    padding: 17rem/$fit 0 0 24rem/$fit;

    .total {
      font-size: 32rem/$fit;
      color: #383838;
    }

    .price {
      font-size: 30rem/$fit;
      color: #F8485E;
    }

    .count {
      font-size: 28rem/$fit;
      color: #999999;
      // margin-top: 10rem/$fit;
    }
  }

  .right {
    width: 354rem/$fit;
    flex-shrink: 0;
    background-color: #00969E;
    align-items: center;
    justify-content: center;

    .main {
      font-size: 32rem/$fit;
      color: #FFFFFF;
      letter-spacing: 0.52rem/$fit;
      font-weight: 500;
    }

    .sub {
      font-size: 28rem/$fit;
      color: #FFFFFF;
      letter-spacing: 0.52rem/$fit;
      font-weight: 300;
    }
  }
}
