@import '../../css/variables.scss';

.sm-main {
    min-height: 100vh;
    width: 100vw;
    /*font-family: Helvetica;*/
    padding-bottom: 120rem/$fit;

    input {
        border: 1px solid #E5E5E5;
        border-radius: 8rem/$fit;
        height: 60rem/$fit;
        padding-left: 16rem/$fit;
        font-size: 28rem/$fit;
        color: #666666;
    }

    label {
        font-size: 28rem/$fit;
        /*color: #666666;*/
        margin-bottom: 0;
    }

    .select {
        background: #FFFFFF;
        border: 1px solid #E5E5E5;
        border-radius: 8rem/$fit;
        height: 60rem/$fit;
        padding-left: 16rem/$fit;
        padding-right: 20rem/$fit;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 28rem/$fit;
        color: #999999;
        margin-right: 20rem/$fit;
        cursor: pointer;
    }

    h3 {
        font-size: 32rem/$fit;
        color: #383838;
    }

    button {
        width: 148rem/$fit;
        height: 54rem/$fit;
        font-size: 24rem/$fit;
    }

    .split {
        height: 24rem/$fit;
        background-color: #f8f8f8;
    }

    .arrow-down {
        width: 0.25rem;
        height: 0.25rem;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border: 0.025rem solid #999;
        border-width: 0 0.025rem 0.025rem 0;
        display: block;
    }

    .arrow-up {
        width: 0.25rem;
        height: 0.25rem;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
        border: 0.025rem solid #999;
        border-width: 0.025rem 0 0 0.025rem;
        display: block;
    }

    .order-info {
        margin: 24rem/$fit;
        border-bottom: 1px dotted #e5e5e5;
        padding-left: 8rem/$fit;

        h3 {
            font-size: 40rem/$fit;
            color: #383838;
            line-height: 55rem/$fit;
            margin-bottom: 24rem/$fit;
        }

        p {
            font-size: 28rem/$fit;
            color: #666666;
            line-height: 1;
            margin-bottom: 24rem/$fit;
        }

        .ml32 {
            margin-left: 32rem/$fit;
        }
    }

    .product-tags {
        border-bottom: 1px solid #E5E5E5;
        padding: 0 36rem/$fit 20rem/$fit;
        margin-top: 16rem/$fit;

        .tag {
            line-height: 40rem/$fit;
            border-radius: 4rem/$fit;
            border: 1px solid;
            padding: 0 16rem/$fit;
            margin-right: 20rem/$fit;
            font-size: .6rem;

            &:last-child {
                margin-right: 0;
            }
        }

        .green {
            color: #00969E;
            border-color: #00969E;
        }

        .blue {
            color: #4A90E2;
            border-color: #4A90E2;
        }

        .purple {
            color: #A05EB5;
            border-color: #A05EB5;
        }

        .yellow {
            color: #F5A623;
            border-color: #F5A623;
        }

        .red {
            color: #F8485E;
            border-color: #F8485E;
        }

        .light-blue {
            color: #64BDDA;
            border-color: #64BDDA;
        }
    }


    .step {
        padding: 0 32rem/$fit;
        margin-top: 20rem/$fit;
        margin-bottom: 20rem/$fit;
        display: flex;
        justify-content: space-between;

        .step-item {
            width: 228rem/$fit;
            height: 50rem/$fit;
            margin-left: 5rem/$fit;
            text-align: center;

            span {
                line-height: 50rem/$fit;
                font-size: 24rem/$fit;
            }

            .step-item-before {
                border-top-width: 25rem/$fit;
                border-bottom-width: 25rem/$fit;
                border-left-width: 12rem/$fit;
            }

            .step-item-after {
                right: -12rem/$fit;
                border-top-width: 25rem/$fit;
                border-bottom-width: 25rem/$fit;
                border-left-width: 12rem/$fit;
            }
        }
    }

    .trip,
    .info,
    .check-info,
    .fa-piao {
        padding: 24rem/$fit 32rem/$fit;

        h3 {
            margin-bottom: 32rem/$fit;
        }
    }

    .trip {
        p {
            font-size: 28rem/$fit;
            color: #6D6D6D;
            margin-bottom: 24rem/$fit;
        }

        .infos{
            font-size:24rem/$fit;
        }
        .notice {
            font-size: 24rem/$fit;
            color: #FF5050;
        }

        .data {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 36rem/$fit;

            a {
                font-size: 28rem/$fit;
                color: #06929A;
            }
        }

        .check-row {
            display: flex;
            align-items: baseline;
            font-size: 24rem/$fit;
            color: #666666;

            input {
                height: auto;
                margin-right: 28rem/$fit;
            }
        }
    }

    .info,
    .fa-piao {
        .fill-row {
            display: -webkit-inline-box;
            align-items: center;
            margin-bottom: 20rem/$fit;

            label {
                width: 140rem/$fit;
                margin-bottom: 0;
                text-align: right;
            }

            .input {
                width: 540rem/$fit;
            }

            .radio {
                display: flex;
                align-items: baseline;
                margin-right: 54rem/$fit;

                input {
                    margin-right: 24rem/$fit;
                    height: auto;
                }

                font-size: 28rem/$fit;
                color: #383838;
            }
        }
    }

    .check-info {
        .room {
            h5 {
                font-size: .7rem;
                color: #00969E;
                background-color: #f8f8f8;
                padding: .5rem;
                border-radius: 5px;
                font-weight: 600;
            }
        }

        .name {
            /*background-color: #FBFBFB;*/
            padding-left: 32rem/$fit;
            display: flex;
            align-items: center;
            /*width: 686rem/$fit;
            height: 80rem/$fit;*/
            font-size: 28rem/$fit;

            .name-t {
                font-size: 28rem/$fit;
                color: #6D6D6D;
                font-weight: 600;
            }

            .name-v {
                font-size: 28rem/$fit;
                color: #383838;
                margin-left: 32rem/$fit;
                font-weight: 600;
            }
        }

        .content {
            padding: 20rem/$fit 32rem/$fit;

            p {
                font-size: 24rem/$fit;
                color: #666666;
                margin-bottom: 10rem/$fit;
                padding-left: 5rem/$fit;

                .value {
                    border-bottom: 1px solid #D0D7DF;
                    font-weight: 600;
                    padding: 0 20rem/$fit 0 10px;
                }

                label {
                    width: 5rem;
                    margin: 0;
                    font-size:24rem/$fit;
                }
            }

            .content-region {
                background-color: #f8f8f8;
                padding: 10rem/$fit;
                margin-bottom: 10rem/$fit;
                border-radius: 5px;
            }

            .bggreen {
                background-color: #f7fcfc;
            }


            .sub-title {
                color: #00969E;
            }
        }
    }
}

.price-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 120rem/$fit;
  display: flex;
  background-color: #fff;

  .left,
  .right {
    display: flex;
    flex-direction: column;
  }

  .left {
    flex: 1;
    justify-content: space-around;
    // align-items: ;
    padding: 17rem/$fit 0 0 24rem/$fit;

    .total {
      font-size: 32rem/$fit;
      color: #383838;
    }

    .price {
      font-size: 30rem/$fit;
      color: #F8485E;
    }

    .count {
      font-size: 28rem/$fit;
      color: #999999;
      // margin-top: 10rem/$fit;
    }
  }

  .right {
    width: 354rem/$fit;
    flex-shrink: 0;
    background-color: #00969E;
    align-items: center;
    justify-content: center;

    .main {
      font-size: 32rem/$fit;
      color: #FFFFFF;
      letter-spacing: 0.52rem/$fit;
      font-weight: 500;
    }

    .sub {
      font-size: 28rem/$fit;
      color: #FFFFFF;
      letter-spacing: 0.52rem/$fit;
      font-weight: 300;
    }
  }
}
