@import '../../css/variables.scss';

@media(max-width:767px){
    .sm-main {
        width: 100vw;
        font-family: Helvetica;

        .select-container {
            display: flex;
            flex-wrap: nowrap;
            padding-top: 56rem/$fit;
        }

        .select-item {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            img {
                width: 78rem/$fit;
                height: 78rem/$fit;
            }

            span {
                font-size: 24rem/$fit;
                color: #383838;
                margin-top: 24rem/$fit;
            }
        }

        #select-place-row,
        .tags {
            display: flex;
            flex-wrap: wrap;
            background-color: #FBFBFB;
            padding: 28rem/$fit 32rem/$fit 0;

            .tag {
                display: inline-block;
                line-height: 50rem/$fit;
                height: 50rem/$fit;
                margin-bottom: 32rem/$fit;
                margin-right: 32rem/$fit;
                padding: 0 24rem/$fit;
                font-size: 22rem/$fit;
                color: #00969E;
                background-color: #FFFFFF;
                border: 1px solid #00969E;
                border-radius: 25rem/$fit;
                cursor: pointer;
            }
        }

        .tags {
            background-color: #FFFFFF;
            padding: 0 32rem/$fit 0;
        }

        .select-tags {
            .title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 20rem/$fit 32rem/$fit;

                span {
                    font-size: 24rem/$fit;
                    color: #383838;
                }

                img {
                    width: 28rem/$fit;
                    height: 28rem/$fit;
                    cursor: pointer;
                }
            }
        }

        .button-row {
            text-align: right;
            padding-right: 32rem/$fit;
            margin-bottom: 40rem/$fit;

            span {
                display: inline-block;
                width: 148rem/$fit;
                height: 54rem/$fit;
                line-height: 54rem/$fit;
                text-align: center;
                background-color: #00969E;
                font-size: 22rem/$fit;
                color: #FFFFFF;
                letter-spacing: 0;
                cursor: pointer;
            }
        }

        .content {
            padding: 0 32rem/$fit;

            h3 {
                font-size: 24rem/$fit;
                color: #383838;
                letter-spacing: 0;
            }
        }

        .hot-tags,
        .product-tags {
            font-size: 22rem/$fit;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;

            span {
                margin-right: 36rem/$fit;
                margin-top: 28rem/$fit;

                span {
                    margin-right: 4rem/$fit;
                }

                &:nth-child(1) {
                    color: #4A90E2;

                    span {
                        color: #4A90E2;
                    }
                }

                &:nth-child(2) {
                    color: #A05EB5;

                    span {
                        color: #A05EB5;
                    }
                }

                &:nth-child(3) {
                    color: #6EC271;

                    span {
                        color: #6EC271;
                    }
                }

                &:nth-child(4) {
                    color: #F8485E;

                    span {
                        color: #F8485E;
                    }
                }

                &:nth-child(5) {
                    color: #FF7245;

                    span {
                        color: #FF7245;
                    }
                }

                &:nth-child(6) {
                    color: #EE0202;

                    span {
                        color: #EE0202;
                    }
                }
            }

            .icon-arrowdown {
                margin: 0;
                color: #979797 !important;
                font-size: 12rem/$fit;
            }
        }

        .product-tags {
            padding: 20rem/$fit 0;
            border-top: 1px solid #E5E5E5;

            .hot-tag {
                font-size: 18rem/$fit;
            }
        }

        .tip {
            margin-top: 18rem/$fit;
            font-size: 22rem/$fit;
            color: #999999;
            letter-spacing: 0;
            line-height: 34rem/$fit;

            span {
                text-decoration-line: underline;
            }
        }

        .city {
            padding: 40rem/$fit 0;
            text-align: center;
            font-size: 36rem/$fit;
            color: #383838;
            font-weight: 500;
        }

        .product {
            padding: 0 32rem/$fit;
            border-bottom: 1px solid #E5E5E5;
            margin-bottom: 24rem/$fit;
        }

        .product-row {
            display: flex;
            flex-wrap: nowrap;
            padding-bottom: 16rem/$fit;
        }

        .product-img {
            background: url(../../images/prodetail_pic.jpg) no-repeat center;
            border-radius: 6rem/$fit;
            width: 294rem/$fit;
            height: 196rem/$fit;
            position: relative;
            // flex-shrink: 0;
        }

        .img-tag {
            position: absolute;
            left: 18rem/$fit;
            bottom: 4rem/$fit;
            display: inline-block;
            background-color: transparent;
            font-size: 22rem/$fit;
            color: #FFFFFF;
        }

        .product-detail {
            padding-left: 16rem/$fit;
        }

        .product-name {
            font-size: 26rem/$fit;
            color: #383838;
            line-height: 32rem/$fit;
        }

        .desc {
            height: 1.8rem;
            overflow: hidden;
        }

        .desc-expand {
            height: auto;
        }

        .date {
            font-size: 22rem/$fit;
            color: #6D6D6D;
            line-height: 36rem/$fit;
            font-weight: 300;

            span {
                color: #00969E;
            }
        }

        .price-row {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .old {
                font-size: 20rem/$fit;
                color: #999999;

                span {
                    text-decoration-line: line-through;
                }
            }
        }

        .price-text {
            display: flex;
            flex-direction: column;

            span {
                font-size: 18rem/$fit;
                color: #999999;
                font-weight: 300;
            }

            .price {
                font-size: 32rem/$fit;
                color: #F8485E;
                font-weight: 400;
            }
        }

        .check-detail {
            display: inline-block;
            background-color: #00969E;
            color: #FFFFFF;
            width: 148rem/$fit;
            height: 54rem/$fit;
            line-height: 54rem/$fit;
            text-align: center;
            font-size: 22rem/$fit;
            cursor: pointer;
        }
    }
.sm-main .filter-sm{
  height: 88rem/$fit;
    line-height: 88rem/$fit;
  li{
    height: 88rem/$fit;
    line-height: 88rem/$fit;
    font-size:28rem/$fit;
    padding: 0 20rem/$fit;
    width: 33.33%;
  }
  .filter .timerbox {
    display: inline-block;
    height: 44rem/$fit;
    height: 44rem/$fit;
    background: #fff;
    padding: 0 20rem/$fit 0 30rem/$fit;
    font-size: 24rem/$fit;
}
  
}
    .sm-main {

        .more-btn {
            font-size: 24rem/$fit;
        }

        .travelslist .nick {
            position: absolute;
            height: 80rem/$fit;
            top: 32rem/$fit;
            left: 20rem/$fit;

            .nickname {
                font-size: 24rem/$fit;
            }

            img {
                height: 80rem/$fit;
                width: 80rem/$fit;
            }
        }

        .travelslist .userinfo .timer {
            position: absolute;
            top: 48rem/$fit;
            right: 20rem/$fit;
        }

        .travelslist ul {
            padding: 0 32rem/$fit;
        }

        .travelslist li {
            padding: 132rem/$fit 20rem/$fit 80rem/$fit 20rem/$fit;
            position: relative;
            border: 0;
            margin: 0;
            margin-bottom: 20rem/$fit;
            box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
            height: auto;
        }

        .travelslist .pic {
            height: 386rem/$fit;
            width: 100%;
            overflow: hidden;
            padding-left: 0;
            margin-left: 0;
        }

        .travelslist .pic img {
            width: 100%;
            height: auto;
        }

        .travelslist .userinfo {
            display: block;
        }

        .travelslist .row {
            display: block;
            margin: 0;
        }

        .travelslist .proinfo {
            padding: 0;
        }

        .travelslist .probtn {
            padding: 20rem/$fit 30rem/$fit;
        }

        .travelslist .probtn {
            bottom: 20rem/$fit;
            right: 20rem/$fit;
            display: none;
        }

        .travelslist .proinfo .title {
            margin: 20rem/$fit 0;
            font-size: 28rem/$fit;
            line-height: 1;
            color: #383838;
        }

        .travelslist .prominfop {
            font-size: 24rem/$fit;
            color: #6D6D6D;
            line-height: 34rem/$fit;
            overflow: hidden;
            text-overflow: -o-ellipsis-lastline;
            /*text-overflow: ellipsis;
            display: -webkit-box;*/
            -webkit-line-clamp: 2;
            line-clamp: 2;
            -webkit-box-orient: vertical;
        }

        .travelslist .userinfo .good,
        .travelslist .userinfo .view {
            background: none;
            padding: 0;
            position: absolute;
            bottom: 32rem/$fit;
            margin: 0;
        }



        .travelslist .userinfo .good {
            right: 150rem/$fit;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            padding-left: 28px;
            background: url(../../images/icon_good.png) left center no-repeat;
            color: #999;
            display: inline-block;
            margin-right: 15px;
        }

        .travelslist .userinfo .view {
            right: 20rem/$fit;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            padding-left: 28px;
            background: url(../../images/icon_view.png) left center no-repeat;
            color: #999;
            display: inline-block;
            margin-right: 15px;
        }

        .travelslist .pic .tagsbox {
            position: absolute;
            width: 100%;
            height: 150rem/$fit;
            line-height: 50rem/$fit;
            color: #fff;
            font-size: 16rem/$fit;
            background: none;
            bottom: 0;
            left: 0;
            padding: 0 30rem/$fit;
            padding-top: 100rem/$fit;
            background-image: linear-gradient(180deg, rgba(0,0,0,0.00) 20%, rgba(0,0,0,0.60) 70%);

            .box {
                float: left;
                margin-right: 30rem/$fit;
                font-size: 24rem/$fit;
            }
        }

        .btn-style1 {
            font-size: 16rem/$fit;
            line-height: 45rem/$fit;
            padding: 0 28rem/$fit;
        }
    }
.scroll-bar {
    z-index: 2;
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 84rem/$fit;
    height: 88rem/$fit;
    width: 100vw;
    box-shadow: 0 4rem/$fit 8rem/$fit 0 rgba(0, 0, 0, 0.05);
    border-radius: 8rem/$fit 8rem/$fit 0 0;
    
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;
    }

    .items {
        display: flex;
        min-width: 100%;
    }

    .scroll-item {
        padding: 0 25rem/$fit;
        height: 88rem/$fit;
        line-height: 88rem/$fit;
        font-size: 28rem/$fit;
        color: #666666;
        cursor: pointer;
        font-weight: 300;
        width: 33.33%;
        text-align: center;
        position: relative;
        .opener{
          position: absolute;
          width: 100%;
          background: #fff;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
          left: 0;
          display: none;
        }
        &.active{
          .opener{
            display: block;
            li{
              text-align: center;
              color: #666666;
            }
          }
        }
    }

    .icon-arrowdown {
        font-size: 24rem/$fit;
        margin-left: 8rem/$fit;
    }

    .active {
        color: #00969E;
    }
}

}