/* Rating Readonly */
a.rate, span.rate { display: inline-block; height: 20px; width: 90px; line-height:20px!important; background: url(../Nest/img/rate.png) 0 -20px repeat-x; vertical-align: middle; }
a.rate .highlight , 
span.rate .highlight,
.rankB0,
.rankB1,
.rankB2,
.rankB3,
.rankB4,
.rankB5,
.rankB6,
.rankB7,
.rankB8,
.rankB9, 
.rankB10{float:left; display: inline-block; height:20px; background: url(../Nest/img/rate.png) 0 0 repeat-x; overflow: hidden; }
.rankB0{
	width:0;
}
.rankB1 {
	width:9px;
}
.rankB2 {
	width:18px;
}
.rankB3 {
	width:27px;
}
.rankB4 {
	width:36px;
}
.rankB5 {
	width:45px;
}
.rankB6 {
	width:54px;
}
.rankB7 {
	width:63px;
}
.rankB8 {
	width:72px;
}
.rankB9 {
	width:81px;
}
.rankB10 {
	width:90px;
}
.mark { margin-left: 5px;}
.markHide { display: none;}

/* Rating Do Rating */
.rating { position: relative; display: inline-block; height: 20px; width: 90px; *zoom: 1; overflow: hidden;}
.rating .rating-btn { position: relative; display: inline-block; float: left; height: 20px; width: 18px; overflow: hidden; padding: 0; *zoom: 1; z-index: 1;}
.rating .rating-btn:active {*blur:expression(this.focus=this.blur());}
.rating .rating-highlight { position: absolute; top: 0; left: 0; display: inline-block; height: 20px; background: url(../Nest/img/rate.png) 0 0 repeat-x; z-index: 0;}